@charset "utf-8";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";
*,
*:before,
*:after {
    @include box-sizing();
}
/*ultilities*/
.flexbox {
    display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */

    -webkit-box-pack: justify; //子元素主轴对齐方式
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: stretch; //子元素交叉轴对齐方式
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}
.flexbox-item,
.flexbox > * {
    display: block;
    -webkit-box-flex: 1.0; //子元素伸缩
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
/*左图右文 left img right article*/
@mixin col-2-lira(
    $leftwidth: 50px,
    $leftheight: $leftwidth,
    $margin-right: 15px,
    $bgcolor: #fff) {
    position: relative;
    background-color: $bgcolor;
    > :first-child {
        float: left;
        width: $leftwidth;
        height: $leftheight;
        margin-right: $margin-right;
    }
    > :last-child {
        position: relative;
        width: 100%;
        padding-left: $leftwidth + $margin-right;
    }
}
//end
.weixin-7 {
    > header {
        text-align: center;
        padding: 0 15px;
        border-bottom: 1px solid #d6d6d6;

        nav {
            @include transform(translateY(1px));
            ul li {
                padding: 13px 0 14px;
                font-size: 1.6rem;
                line-height: 1;
            }
        }
        ul li.current {
            color: #0e6bc1;
            border-bottom: 2px solid #0e6bc1;
        }
    }
    //HEADER END

    //公共样式
    > section {
        padding: 15px;

        //脚注
        footer {
            font-size: 1.2rem;
            color: #b7b7b7;
            line-height: 1;

            .footer-time {
                margin-right: 14px;
            }

            .footer-message {
                float: right;
                padding-left: 19px;
                background: url("../img/icon-message.png") left 0 no-repeat;
                background-size: 13px 11px;
            }

            .footer-type {
                float: right;
                margin-top: -2px;
                margin-left: 10px;
                background: url("../img/icon-tuiguang.png") no-repeat;
                background-size: 32px 15px;
                width: 32px;
                height: 15px;

                &.icon-tuiguang {
                }
                &.icon-bendi {
                    background-image: url("../img/icon-bendi.png");
                }
                &.icon-huodong {
                    background-image: url("../img/icon-huodong.png");
                }
                &.icon-zhibo {
                    background-image: url("../img/icon-zhibo.png");
                }
            }
        }
    }

    > section.wx7-yaowen,
    > section.wx7-xinche {
        > article {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #ededed;
        }
        .col-2-lira {
            @include col-2-lira(90px, 60px, 10px);
            font-size: 1.6rem;

            > div {
                height: 60px;
                line-height: 1.4;

                > p {
                    height: calc(2em * 1.4); //行高 乘以 行数
                    height: -webkit-calc(2em * 1.4);
                    overflow: hidden;

                    &.icon-play {
                        text-indent: 21px;
                        background: url("../img/icon-play.png") left 1px no-repeat;
                        background-size: 16px 16px;
                    }
                }
            }
            footer {
                position: absolute;
                width: 100%;
                padding-left: inherit;
                bottom: 0;
                left: 0;
            }
        }
        .col-1-2row {

            > h1 {
                font-size: 1.6rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1;
                margin-bottom: 14px;
            }
            > figure {
                font-size: 0;

                &.one-img {
                    margin-bottom: 15px;
                }
            }
        }

        .col-1-2row > figure > div {
            display: inline-block;
            width: calc((100% - 20px) / 3);
            width: -webkit-calc((100% - 20px) / 3);
            height: auto;
            margin-right: 10px;
            margin-bottom: 10px;

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
    //要闻END

    > section.wx7-shuoche {
        position: relative;
        padding: 15px 0;

        > * {
            padding-left: 15px;
            padding-right: 15px;
        }
        .wx7-sepa {
            position: absolute;
            width: 100%;
            height: 12px;
            top: 0;
            left: 0;
            background-color: #f2f2f2;

            &.wx7-sepa-c {
                position: relative;
            }
        }
    }
    //说车end

    > section.wx7-shipin,
    > section.wx7-shuoche {

        > h1 {
            font-size: 1.8rem;
            line-height: 1;
            margin: 14px 0;

            small {
                position: relative;
                bottom: -4px;
                font-size: 1.2rem;
                color: #b7b7b7;
            }
        }
        .wx7-video-box {
            font-size: 0;

            > figure {
                display: inline-block;
                width: calc((100% - 10px) / 2);
                width: -webkit-calc((100% - 10px) / 2);
                margin-right: 10px;
                margin-bottom: 10px;
                font-size: 1.4rem;
                vertical-align: top;

                h2 {
                    font-size: 1.6rem;
                    line-height: 1.4;
                    margin: 8px 0 6px;
                }
                p {
                    font-size: 1.2rem;
                    color: #b7b7b7;

                    :first-child {
                        padding-left: 10px;
                        background: url("../img/icon-play-times.png") left center no-repeat;
                        background-size: 8px auto;
                        margin-right: 15px;
                    }
                    :last-child {
                        padding-left: 15px;
                        background: url("../img/icon-play-time.png") left center no-repeat;
                        background-size: 12px auto;
                    }
                }
                .wx7-video-thumb {
                    position: relative;

                    img {
                        min-height: 94px;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        bottom: 5px;
                        left: 5px;
                        background: url("../img/icon-video-play.png") no-repeat;
                        background-size: contain;
                    }
                }
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }
    }
    //视频END

    > section.wx7-xinche {
    }
    //新车END

    .wx7-xl-header {
        padding: 0 13px;

        nav ul li {
            font-size: 1.3rem;
            padding: 16px 0;
        }
    }
    .wx7-xiaoliang {
        counter-reset: xiaoliang 0; //定义计数器
        padding: 0;

        > article {
            padding: 12px 13px 15px 55px;
            border-bottom: 1px solid #ededed;
            counter-increment: xiaoliang; //使用计数器xiaoliang

            &:before {
                content: '';
                position: absolute;
                top: 12px;
                left: 13px;
                font-size: 1.1rem;
                line-height: 1;
                color: #0e6bc1;
            }
            &.xiaoliang-1:before {
                content: url("../img/icon-hot-1.png");
                @include transform(scale(.5));
                @include transform-origin(0, 0)
            }
            &.xiaoliang-2:before {
                content: url("../img/icon-hot-2.png");
                @include transform(scale(.5));
                @include transform-origin(0, 0)
            }
            &.xiaoliang-3:before {
                content: url("../img/icon-hot-3.png");
                @include transform(scale(.5));
                @include transform-origin(0, 0)
            }
            &.xiaoliang-3 ~ :before {
                content: 'No.' counter(xiaoliang); //只有排行超过3的使用计数器
            }

            > div {
                line-height: 1;
                h6 {
                    font-size: 1.6rem;
                    margin-bottom: 9px;
                }
                p:first-of-type {
                    font-size: 1.4rem;
                    color: #f00000;
                    margin-bottom: 9px;
                }
                p:last-of-type {
                    font-size: 1.2rem;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 7px;
                    height: 13px;
                    right: 0;
                    top: calc(50% - 6.5px);
                    top: -webkit-calc(50% - 6.5px);
                    background: url("../img/icon-arrow.png") no-repeat;
                    background-size: contain;
                }
            }
        }
        .col-2-lira {
            @include col-2-lira(80px, 60px, 15px);
        }
    }
}
#wx7-rili {
    position: relative;
    .wx7-rili-thumb {
        position: fixed;
        padding: 6px 9px 7px 10px;
        right: 20px;
        bottom: 100px;
        color: #ffffff;
        font-size: 1.3rem;
        line-height: 19px;
        background-color: #50a7f7;
        border-radius: 4px;
        white-space: nowrap;

        &:before {
            content: '';
            display: inline-block;
            width: 19px;
            height: 19px;
            line-height: 19px;
            margin-right: 10px;
            vertical-align: middle;
            background: url("../img/iconfont-rili.png") no-repeat;
            background-size: contain;
        }

    }
    .rili-mask {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .2);

        .wx7-rili-details {
            position: fixed;
            bottom: 143px;
            right: 20px;
            width: 275px;
            background-color: #ffffff;
            border-radius: 4px;

            > header {
                padding: 8px 11px 4px;
                text-align: center;

                .rili-year {
                    font-size: 1.3rem;
                    color: #151515;
                    line-height: 26px;
                }
                .rili-prev,
                .rili-next {
                    text-align: left;
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        background: url("../img/icon-rili-prev.png") no-repeat;
                        background-size: contain;
                    }
                }
                .rili-next {
                    text-align: right;

                    &:before {
                        background-image: url("../img/icon-rili-next.png");
                    }
                }
            }
            > section {
                font-size: 0;
                border-top: 1px solid #ededed;
                > span {
                    display: inline-block;
                    padding: 8px 0;
                    width: 25%;
                    text-align: center;
                    font-size: 1.2rem;
                    color: #141414;
                    border-right: 1px solid #ededed;
                    border-bottom: 1px solid #ededed;

                    &.rili-current {
                        border: 1px solid #1f8ef5;
                        position: relative;

                        &:after {
                            content: '';
                            width: 0;
                            height: 0;
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            border: 5px solid transparent;
                            border-right-color: #1f8ef5;
                            border-bottom-color: #1f8ef5;
                        }
                    }
                    &:nth-child(4n) {
                        border-right: none;
                    }

                    &.rili-disable {
                        color: #aaaaaa;
                    }
                }
            }
            > footer {
                padding: 11px 0;
                font-size: 1rem;
                text-align: center;
                color: #8c8c8c;
            }
        }
    }
}
.wx7-loading-more {
    padding: 6px;
    color: #b7b7b7;
    text-align: center;
    font-size: 1.1rem;
}
//小屏幕适配
@media screen and (max-device-width: 374px) {
    .weixin-7 > section.wx7-yaowen .col-1-2row .flexbox > img {
        //width: 90px;
    }
    .weixin-7 > section footer .footer-time {
        margin-right: 0;
    }
    .weixin-7 > section.wx7-shipin .wx7-video-box > figure h2,
    .weixin-7 > section.wx7-shuoche .wx7-video-box > figure h2 {
        font-size: 1.4rem;
    }
    .weixin-7 > section.wx7-shipin .wx7-video-box > figure .wx7-video-thumb img,
    .weixin-7 > section.wx7-shuoche .wx7-video-box > figure .wx7-video-thumb img{
        min-height: 79px;
    }
}