@charset "utf-8";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";

html, body {
    position: relative;
    height: 100%;
}

.top-header{
    padding: 15px;
    .slogon{
        font-size: 1.8rem;
        line-height:1.2;
        font-weight: bolder;
    }
}

h1{
    font-size: 1.6rem;
    font-weight: bold;
}
h2{
    font-size: 1.4rem;
    font-weight: bold;
}
p{
    margin-top: 2px;
    margin-bottom: 6px;
}

.section-list{
    margin-top: 20px;
    border-top: 1px solid #cccccc;
}

.swiper-container {
    height: 300px;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

#swiper-nav {
    height: 100px;
}

#swiper-nav .active-nav {
    border: 1px solid red;
}

.content {
    padding: 15px;
}

.footer {
    padding: 6px 15px;
    background-color: #CCCCCC;
    .totalPrice{
        font-size: 2rem;
        font-weight: bolder;
    }
    .btn-ok{
        display: inline-block;
        padding: 4px 15px;
        background-color: red;
        color: #ffffff;
        font-weight: bold;
    }
}

.page-wap-details {
    .content {
        padding: 15px;
    }
}

.zaders-taoxi{
    position: relative;
    display: table;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
    border: 2px solid #000000;

    .title{
        display: table-cell;
    }
    .price{
        display: table-cell;
        text-align: right;
    }
    &.active{
        border-color: red;
    }
}

.zaders-radio{
    text-align: center;
    span{
        display: inline-block;
        width: 40%;
        padding: 5px;
        border: 1px solid #000000;
        &.active{
            border-color: red;
        }
    }
}
.form-group{
    margin: 10px 0;
}