/*菜单浮层*/
.erc_menu_box  ul.menu_box_ul2  {width:200px;}
.erc_menu_box ul.menu_box_ul2top{width:270px;}
.erc_menu_two ul.menu_box_ul2  {width:128px;}
.erc_menu_two ul.menu_box_ul2top{width:200px;}

.erc_menu_box  li{width:45px;padding:0 5px;height:55px;}
.erc_menu_box  li.towline{line-height:20px;height:48px;padding-top:7px;}


/*车辆明细*/
.page1, .page2{padding:0;}
.esc_graybg{background:#f8f8fa!important;}
.esc_clmx{padding:0 30px;}
.esc_clmx li{height:70px;line-height:70px;border-bottom:1px solid #ebebf0;font-size:1.4rem;color:#5a5a78;}
.esc_clmx li strong{color:#9494a9}
.esc_clmx li div{width:50%;float:left;}
.esc_highlight{margin-bottom:7px;}
.esc_highlight li{border-bottom:none;}
.esc_mjms{padding:0px 25px 0;}
.esc_mjms p{font-size:1.6rem;line-height:30px;}
.esc_mjms .button_gray{margin-top:20px;}

/*商家简介*/
.erc_details { padding: 8px 30px 12px; }
.erc_details h2 { font-size: 1.8rem; color: #5a5a78; line-height: 22px; }
.erc_details h2 em { color: #e64b3c; }
.erc_details h2 i{height:20px;line-height:20px;color:#ffffff;font-size:1.2rem;padding:0 4px;float:left;margin-top:2px;margin-right:5px;background-color:#e64b3c;}
.erc_details p {  padding-left:78px; margin-top: 10px;position:relative; }
.erc_details p.address { margin-top: 2px; }
.erc_details p label, .erc_details p strong { font-size: 1.5rem; color: #aeaec0;line-height:24px;}
.erc_details p label { width: 78px; position:absolute;left:0;top:0;}
.erc_details p em.w4-2 { width: 30px; display: inline-block; }
.zsyus{padding:10px 0 10px 0;margin:-5px 30px 0px;border-top:1px solid #e0e0ec;height:42px;}
.zsyus li{width:49.8%;float:left;text-align:center;font-size:1.4rem;color:#e64b3c;height:42px;}
.zsyus li p{color:#333333;margin-bottom:8px;}
.zsyus li strong{font-size:1.8rem;}
.zsyus li:first-child{border-right:1px solid #e0e0ec;}
.zxdhbox{margin:0px 30px 20px 30px;}
.button { height: 44px; color: #fff; font-size: 1.8rem; line-height: 44px; text-align: center; border-radius: 5px; width: 100%; }
.button.green { background-color: #39b54d; }
.button.orange { background-color: #ff9900; }
.dianh { margin-top: 18px; padding: 10px 0 15px; border-top: 1px solid #ebebf0;display: table;list-style: outside none none;width:100%;text-align:center;}
.dianh a.tel {font-size: 1.4rem; font-weight: bold;  color: #39b54d;  display:block; text-align:center;width:100%;}
.dianh a.tel em{background-image: url(http://image.bitautoimg.com/taoche/siji_2015/icon-tel-green.png); background-size: 19px 19px; background-repeat: no-repeat;width: 19px; height: 19px;display:inline-block;vertical-align: -6px;margin-right:4px;}


/*店内还有*/
body.escbg{background-color:#f8f8fa!important;}
.escbox{width:100%;}
.dnhybox{margin:0 30px;}
.dnhybox .car_list img{border:none;}
.dnhybox .car_list li{text-align:left;}
.dnhybox .car_list li p{line-height:20px;height:20px;}
.dnhybox .car_list li p.gols{color:#999999;}

/*二手车估价*/
.xqmore{margin:0px 30px 20px 30px;}
.xqmore ul li{border-bottom:1px solid #e9e9e9;}
.xqmore ul li a,.xqmore ul li .xqbox{width:100%;display:block;height:40px;line-height:40px;font-size:1.6rem;background:url(http://image.bitautoimg.com/taoche/siji_2015/arrow_right2.png) no-repeat right center;background-size:9px 15px;color:#999999;padding:5px 0 5px 0;}
.xqmore ul li strong{width:80px;text-align:left;color:#333333;margin-right:5px;float:left;font-size:1.6rem;}
 .xqmore ul li  em{color:#dd2727;margin-right:3px;font-size:1.6rem;float:left;}
 .xqmore ul li  em.shuru{color:#b7b7b7;font-size:1.6rem;}
  .xqmore ul li  em.col_gray{color:#333333}
.xqmore ul li.nolink{padding-top:14px;padding-bottom:14px;border-bottom:1px solid #e9e9e9;line-height:20px;display:inline-table;width:100%;font-size:1.6rem;}
.xqmore ul li  p.tis{color:#dd2727;font-size:1.4rem;display:block;clear:both;margin-top:-6px;padding-bottom:12px;position:relative;}
.xqmore ul li.nolink p.tis{padding-top:3px;padding-bottom:0;}
.xqmore ul li .wgl{float:right;color:#333333;}
.smsjh{font-size:1.6rem;border:1px solid #f8f8fa;width:100px;height:22px;margin-top:-3px;color:#b7b7b7;float:left;text-align:left;padding-left:0;vertical-align:top;background-color:#f8f8fa;}
.redclolr{color:#cc0000;}
/*img/{line-height:35px;height:35px;overflow:hidden;padding-top:10px;color:#333333;}*/
.esc_head p{font-size:1.4rem;color:#999999;line-height:22px;text-indent:30px;}
.jiegbut{margin:20px 23% 0;}

.gjjigbox{padding:0 30px 0 30px;}
.shicj{font-size:1.6rem;color:#333333;margin-bottom:5px;}
.shicj strong{color:#e64b3c;}
.shicj em{font-size:2.0rem;}
.shcjtis{font-size:1.2rem;color:#999999;line-height:20px;}
.ckjline{padding:50px 0;position:relative;margin:20px 0;}
.ck_line{height:1px;width:100%;border-bottom:1px dashed #b2b2c7;}
.ck_left{width:75px;position:absolute;top:46px;}
.yandian{width:10px;height:10px;background-color:#333333;border-radius:10px;display:block;margin-left:33px;}
.zdjia{width:73px;border:1px solid #b2b2c7;height:37px;padding-top:3px;margin-top:8px;position:relative;}
.zdjia p{font-size:1.4rem;text-align:center;line-height:17px;}
.zdjia em{background:url(http://image.bitautoimg.com/taoche/siji_2015/jiant_ico1.jpg) no-repeat left top;background-size:10px 8px;width:10px;height:8px;position:absolute;left:33px;top:-8px;display:block;}
.ck_mid{width:75px;position:absolute;top:-4px;}
.ck_mid .yandian{background-color:#e64b3c;margin-top:8px;}
.ck_mid .zdjia{margin-top:0px;border:1px solid #ed9088;color:#e64b3c;}
.ck_mid .zdjia em{top:40px;left:32px;background:url(http://image.bitautoimg.com/taoche/siji_2015/jiant_ico2.jpg) no-repeat left top;background-size:10px 8px;}
.ckj_list{margin:25px 0px 20px;border-top:1px solid #e0e0ec;}
.ckj_list li{height:54px;padding-top:14px;border-bottom:1px solid #e0e0ec;line-height:20px;font-size:1.2rem;color:#b2b2c7;}
.ckj_list li p{font-size:1.6rem;color:#5a5a78;}
.ckj_list li p em{color:#e64b3c;}
.jgzous p{font-size:1.6rem;margin-bottom:10px;}



/*服务*/
.fuwubox{margin:-10px 30px 0;}
.fuwubox ul li a{height:60px;padding-top:20px;padding-bottom:20px;border-bottom:1px solid #e0e0ec;position:relative;display:block;}
.fuwubox ul li a h3{hheight:30xp;line-height:30px;color:#b2b2c7;font-size:1.4rem;}
.fuwubox ul li a h3 strong{float:left;font-size:2.0rem;color:#333333;margin-right:10px;}
.fuwubox ul li a p{line-height:30px;font-size:1.6rem;color:#9494a9;}
.fuwubox ul li a p em{color:#e64b3c;}
.fuwubox ul li i { position: absolute; background-image: url(http://image.bitautoimg.com/taoche/siji_2015/arrow_right.png); background-repeat: no-repeat; background-size: 13px 22px; width: 13px; height: 22px; top: 50%; margin-top: -11px; right: 3px; }

/*封面*/
.m-focus{width:100%;background:#fff;}
.m-focus-box{margin:0 auto;position:relative;z-index:20;}
.swiper-container{overflow:hidden;}
.m-focus-box li{float:left}
.m-focus-box li img{width:100%;display:block}
.m-focus-box .nob{position:absolute;right:20px;bottom:10px;color:#ffffff;font-size:1.4rem;}
.m-focus-box .nob em{color:#ff9933;}
.m-focus .chylogo{width:60px;height:60px;position:absolute;right:10px;bottom:-30px;}
.erc_logobox{height:52px;margin:15px 20px;}
.erc_logo_pic {width:62px;float:left;margin-right:15px;}
.erc_logo_pic img{width:58px;height:58px;border:1px solid #e9e9e9;border-radius:12px;}
.erc_logo_text{height:56px;padding-top:6px;line-height:26px;overflow:hidden;font-size:1.6rem;font-weight:bold;}
.mszjbox{height:65px;margin:15px 15px 15px 0;}
.mszj{height:65px;background-color:#e64b3c;padding:0 30px 0 20px;float:left;display:inline;position:relative;font-size:1.3rem;color:#ffffff;margin-right:16px;}
.mszj p{font-size:2.0rem;font-weight:bold;margin-top:13px;margin-bottom:3px;}
.mszj p strong{font-size:3.5rem;}
.mszj i{width:23px; height:65px; position:absolute;right:0;top:0;background: url(http://image.bitautoimg.com/taoche/siji_2015/jint2.jpg); background-repeat: no-repeat; background-size: 23px 65px;display:block;}
.mszj_rit{float:left;margin-top:1px;}
.mszj_tit{font-size:1.6rem;margin-bottom:7px;}
.mszj_fb{font-size:1.4rem;color:#b7b7ca;}
.mszj_tmg{margin-top:12px;}
.rzpbox{height:15px;margin-bottom:7px;}
.mszj_tmg .mszj_tit{margin-bottom:10px;}
.rzpbox span{line-height:15px;float:left;margin-right:15px;display:inlie-block;font-size:1.4rem;}
.rzpbox span.rzico{background: url(http://image.bitautoimg.com/taoche/siji_2015/rzpp_ico1.png) no-repeat;background-position:left center; background-size: 14px 14px;padding-left:16px;color:#fe9560;}
.rzpbox span.zbico{background: url(http://image.bitautoimg.com/taoche/siji_2015/rzpp_ico2.png) no-repeat;background-position:left center; background-size: 14px 14px;padding-left:16px;color:#25bf9f;}
.sbbsx{margin:20px 0;}
.sbbsx ul li{width:30%;text-align:center;font-size:1.2rem;color:#b2b2c7;border-left:1px solid #ebebf0;float:left;}
.sbbsx ul li p{font-size:1.4rem;margin-bottom:10px;color:#333333;}
.sbbsx ul li p strong{font-size:1.8rem;}
.sbbsx ul li:first-child{border-left:none;}


.esc_xunc{padding:0 15px;}


/*时间浮层*/
/*黑色蒙版*/
.leftmask{position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.3); z-index:99; top:0;}
.leftmask:before, .leftmask:after{content:''; position:absolute; width:8px; height:8px; top:200px; border-right:4px solid #fff; border-bottom:4px solid #fff; -webkit-transform:rotate(-45deg); transform:rotate(-45deg);}
.leftmask:before{right:275px;}
.leftmask:after{right:285px;}
	/*弹出层*/
.leftPopup{width:250px; height:100%; position:absolute; top:0; right:0; z-index:199; overflow:hidden; font-size:1.8rem; color:#333;}
.leftPopup a{color:#333333;}
.leftPopup strong  {color:#333333;}
.leftPopup .swipeLeft{min-height:100%; overflow:hidden; width:250px; background:#fff;
-webkit-transform:translate(250px, 0); 
transform:translate(250px, 0);
/*-webkit-transform:translate(0, 0); 
transform:translate(0, 0);*/
-webkit-transition:-webkit-transform 0.4s;
transition:transform 0.4s;
-webkit-backface-visibility:hidden;
-webkit-transform-style:preserve-3d;
-webkit-transform-origin:0px 0px;
}
.leftPopup .swipeLeft-block{
-webkit-transform:translate(0px, 0px);
transform:translate(0px, 0px);
-webkit-transition:-webkit-transform 0.4s;
transition:transform 0.4s;

-webkit-backface-visibility:hidden;
-webkit-transform-style:preserve-3d;
-webkit-transform-origin:0px 0px;
}
.leftPopup .swipeLeft-sub{background:#fff;}
.leftPopup .swipe-h{height:100%; overflow-x:hidden; overflow-y:scroll; position:relative; -webkit-overflow-scrolling:touch; -ms-overflow-style:none;}
.leftPopup .swipe-h::-webkit-scrollbar{height:0px;}
	/*列表*/
.leftPopup li{height:49px; line-height:49px; padding:0 20px;}
.leftPopup li a{display:block; border-bottom:1px solid #E9E9E9;}
.leftPopup li.current a{color:#1663A6;}
/*下箭头*/
.leftPopup li.sub a{position:relative;}
.leftPopup li.sub a:after{display:block; position:absolute; top:21px; right:0; width:14px; height:8px; background:url(http://image.bitautoimg.com/taoche/siji_2015/m_popup_arrow_img_gray.png) no-repeat 0 0; background-size:14px auto; content:''; font-size:0; line-height:0; color:transparent;}
.leftPopup li.sub em{color:#cc0000; font-size:1.4rem; position:absolute; right:25px; top:16px; line-height:16px;}
	/*上箭头*/
.leftPopup li.root{padding:0; }
.leftPopup li.root a{border-bottom-color:#F0F0F0; padding:0 20px; position:relative;}
.leftPopup li.root a:after{display:block; position:absolute; top:21px; right:20px; width:14px; height:8px; background:url(http://image.bitautoimg.com/taoche/siji_2015/m_popup_arrow_img_gray.png) no-repeat 0 -42px; background-size:14px auto; content:''; font-size:0; line-height:0; color:transparent;}
.first-list a i{color:#cc0000;}


.peizqsy p{margin-top:8px;}
.peizqsy p a{display:inline;text-decoration:underline;}
.peizqsy p.zshlid{color:#333333;}


.esc_bdhot li{margin:20px 0 0px 0;}
.esc_bdhot{padding-bottom:20px;}

 .btus-05 { margin-top: 18px; padding: 10px 0 15px; }
 .btus-05 li a { color: #f48e00; font-size: 1.4rem; font-weight: bold; }
.btus-05 li a.tel { color: #39b54d; }
.btus-05 li a.tel:before { background-image: url(http://image.bitautoimg.com/taoche/siji_2015/icon-tel-green.png); background-size: 19px 19px; background-repeat: no-repeat; width: 19px; height: 19px; content: ''; display: inline-block; vertical-align: -5px; padding-right: 5px; }

.btus-05 li a.xunj {color:#ff9900;}
.jxgjbut{padding-bottom:10px;}
header.esc_head h2{font-size:2.2rem;line-height:20px;height:9px;overflow:hidden;color:#333333;padding:17px 0 10px 0;margin-bottom:4px;}



.erc_chytop{height:90px;background:url(http://image.bitautoimg.com/taoche/siji_2015/ditu.png) no-repeat left top;background-size:cover;}
.erc_toplet{width:50px;height:50px;float:left;margin:20px 13px 0 10px;}
.erc_toplet img{width:50px;height:50px;}
.erc_toprit{float:left;}
.erc_cymc{height:30px;line-height:30px;margin-top:19px;}
.erc_cymc h1{color:#5a5a78;font-weight:bold;font-size:18px;display:inline;float:left;margin-right:5px;}
.erc_cymc p{color:#5a5a78;font-size:1.2rem;}
.erc_cymc em{float:left;height:16px;line-height:16px;font-size:1.2rem;color:#ffffff;padding:0 3px;background-color:#60bd04;margin-top:6px;}
.esc_zsyus{padding:13px 0 13px 0;margin:0px 15px 0px;border-bottom:1px solid #ebebf0;height:42px;}
.esc_zsyus li{width:49.8%;float:left;text-align:center;font-size:1.4rem;color:#5a5a78;height:42px;}
.esc_zsyus li p{color:#b2b2c7;margin-bottom:8px;}
.esc_zsyus li strong{font-size:1.8rem;}
.esc_zsyus li:first-child{border-right:1px solid #e0e0ec;}

/*车源排序筛选*/
.shaxtit{width:100%; height:33px; border-bottom:1px solid #eeeeee; position:relative; margin:15px 0 0;}
.shaitit_list{position:absolute; top:0; left:5px; font-size:1.6rem;}
.shaitit_list li{float:left; margin:0 4px 0 9px;}
.shaitit_list li a{color:#5a5a78; display:block; height:32px; line-height:28px;}
.shaitit_list li.current a{color:#e64b3c; border-bottom:2px solid #e64b3c;}
.shaitit_list li.arrow{position:relative;margin:0 15px 0 9px;}
.shaitit_list li.arrow i, .shaitit_list li.arrow s{width:0; height:4px; border:4px solid #AAA; border-color:#AAA transparent; position:absolute; right:-12px;}
.shaitit_list li.arrow i{border-width:4px 4px 0 4px; top:16px;}
.shaitit_list li.arrow s{border-width:0 4px 4px 4px; top:5px;}
.shaitit_list li.arrow-d-t s{border-color:#FF9935 transparent;}
.shaitit_list li.arrow-t-d i{border-color:#FF9935 transparent;}
.car_list p.gols{color:#999999;}
.erccylist li{text-align:left;}

/*右边浮动电话*/
.ybfddh { bottom: 85px; }
.ybfddh .button { background: url(http://image.bitautoimg.com/taoche/siji_2015/float_c.png) 0 100% no-repeat; background-size: 55px; }

/*头部地图*/
.erc_ditu{float:right;margin-top:23px;margin-right:7px;height:40px;border-left:1px solid #c7cfd8;padding-left:5px;}
.erc_ditu a{background:url(http://image.bitautoimg.com/taoche/siji_2015/ditu_ico.png) no-repeat center top;background-size:20px 19px;padding-top:20px;line-height:20px;width:30px;text-align:center;}

.shaxtit_fox{position:fixed;top:0;z-index:11;background-color:#ffffff;}

/*返回顶部*/
.fhtop { bottom: 15px; }
.fhtop .button { background: url(http://image.bitautoimg.com/taoche/siji_2015/float_top.png) 0 100% no-repeat; background-size: 55px; }
.car_list {padding-right:30px;padding-left:30px;}
.car_list img{border:none;}
body.colwite{background-color:#ffffff!important;}
.dnhybox .car_list{padding-left:0;padding-right:0;}



/*估计页按钮*/	
.sum-btn {background: #fff; padding: 17px 0 15px;overflow: hidden;font-size: 1.4rem;}
.sum-btn li {padding: 0; float: left;border: 0;width: 33.33333%;text-align: center;}
.sum-btn li:first-child a {border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
.sum-btn li a {/* color: #3369B1;*/height: 33px;line-height: 33px; display: block; border: 1px solid #dedede; margin-right: -1px;}
.sum-btn li.btn-org a {border-color: #F90;color: #fff; background: #F90;}
.sum-btn li:last-child a {border-top-right-radius: 4px; border-bottom-right-radius: 4px; margin-right: 0;}


/*----------------------------------------客户端适配-------------------------------------------*/
/* 判断iphone4 */
@media screen and (device-width: 320px) and (device-height: 480px) {
    /*------------------封面 start-------------------*/
    .mszj{padding:0 26px 0 16px;font-size:1.0rem;margin-right:8px;}
.mszj p{font-size:2.2rem;}
.mszj p strong{font-size:3.2rem;}
.rzpbox span{line-height:15px;float:left;margin-right:7px;display:inlie-block;font-size:1.3rem;}
 
.car_list span{height:20px;line-height:20px;}
.car_list li{marign:2px 0 10px;}
.car_list{margin-bottom:10px;}
.erc_details { padding: 8px 20px 12px; }
.erc_details p {height:22px;overflow:hidden;}
.erc_details p.address {height:22px;overflow:hidden;}
.esc_clmx{padding:0 15px;}
.fuwubox{margin:-10px 15px 0;}
.dnhybox{margin:0 15px;}
.dnhybox .car_list{padding-left:0;padding-right:0;}
.map .map_go{left:3px;top:3px;}
header.esc_head h2{font-size:2.0rem;line-height:20px;height:15px;overflow:hidden;color:#333333;padding:10px 0 5px 0;}
.gjjigbox{padding:-15px 30px 0 30px;}
.ckjline{margin:10px 0;}
.ckj_list{margin:15px 0 15px;}
.ckj_list li{height:48px;padding:10px 5px 0 0px;}
.erc_logobox{height:52px;margin:15px 15px;}

.car_list {padding-top:20px;padding-right:30px;padding-left:30px;}
.esc_head p{text-indent:20px;}
.erc_ditu{margin-right:3px;padding-left:3px;}
}

/* 判断iphone5 */
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
     /*------------------封面 start-------------------*/
    .mszj{padding:0 26px 0 16px;font-size:1.0rem;margin-right:8px;}
.mszj p{font-size:2.2rem;}
.mszj p strong{font-size:3.2rem;}
.rzpbox span{line-height:15px;float:left;margin-right:7px;display:inlie-block;font-size:1.3rem;}

.car_list span{height:20px;line-height:20px;}
.car_list li{marign:5px 0 10px;}
.car_list{margin-bottom:10px;}
.erc_details { padding: 8px 20px 12px; }
.erc_details p {height:22px;overflow:hidden;}
.erc_details p.address {height:48px;overflow:hidden;}
.esc_clmx{padding:0 15px;}
.fuwubox{margin:-10px 15px 0;}
header{height: 50px; line-height: 50px;}
header h2{ line-height: 50px; font-size: 26px;}
header.esc_head{height:65px;}
.dnhybox{margin:0 15px;}
.dnhybox .car_list{padding-left:0;padding-right:0;}
.map .map_go{left:3px;top:3px;}
header.esc_head h2{font-size:2.0rem;line-height:20px;height:15px;overflow:hidden;color:#333333;padding:10px 0 5px 0;}
.gjjigbox{padding:-15px 30px 0 30px;}
.ckjline{margin:10px 0;}
.ckj_list{margin:15px 0 15px;}
.ckj_list li{height:48px;padding:10px 5px 0 0px;}
.erc_logobox{height:52px;margin:15px 15px;}

.car_list {padding-top:20px;padding-right:30px;padding-left:30px;}
.esc_head p{text-indent:20px;}
.erc_ditu{margin-right:3px;padding-left:3px;}
}