/*经销商经理人样式*/
/*公共样式*/
body { background-color: #f8f8fa; }
.col-2 { display: table; }
    .col-2 .col { display: table-cell; }
button { height: 42px; }
.menu { z-index: 20; }
.speak { bottom: 85px; }
    .speak .button { background: url(http://img1.bitauto.com/uimg/4th/img2/float_b.png) 0 -110px no-repeat; background-size: 55px; }
.wrap-30 { padding: 0 30px; }
.mt15 { margin-top: 15px; }
.page1, .page2 { padding: 0; }
.con_top_bg { margin-bottom: 0px; }
/*----------------------------------------客户端适配-------------------------------------------*/
.menu_box ul.menu_box_ul2 { width: 280px; }
    .menu_box ul.menu_box_ul2.menu_box_v2 { width: 207px; }
/*********************************************申请置换 start *************************************************/
.jlr-box { padding: 20px 30px 20px 30px; position: relative; background-color: #f8f8fa; }
    .jlr-box h3 { font-size: 1.8rem; color: #b8b8c8; }

.car_price li .name span { position: relative; top: -2px; }
/***********************************表单 start *******************************************/
.form-box { width: 100%; margin-top: 15px; overflow: hidden; }
    .form-box ul { list-style: none; }
        .form-box ul li { width: 100%; border-top: 1px solid #e0e0ec; padding: 17px 0; box-sizing: border-box; }
            .form-box ul li:last-child { border-bottom: 1px solid #e0e0ec; }
            .form-box ul li.middle { padding: 7px 0; }
                .form-box ul li.middle .input-box { vertical-align: middle; }
            .form-box ul li a { width: 100%; background-image: url(http://img1.bitauto.com/uimg/4th/img2/icon_arrow_right.png); background-repeat: no-repeat; background-size: 13px 22px; background-position: right center; }
    .form-box .col-2 { display: table; }
        .form-box .col-2 .img-box { width: 90px; display: table-cell; }
            .form-box .col-2 .img-box img { width: 90px; height: 60px; border: 1px solid #e0e0ec; box-sizing: border-box; display: block; vertical-align: middle; }
        .form-box .col-2 .col:first-child { width: 70px; }
        .form-box .col-2 .input-box h5 { padding: 0px 15px 0 10px; box-sizing: border-box; font-size: 1.5rem; line-height: 20px; color: #5a5a78; }
        .form-box .col-2.gl { position: relative; }
            .form-box .col-2.gl .input-box input { width: 100px; }
            .form-box .col-2.gl .input-box em { position: absolute; right: 0; font-size: 1.5rem; color: #5a5a78; height: 15px; top: 50%; margin-top: -7px; }
        .form-box .col-2.address label { width: 85px; }
    .form-box ul li em.w30 { width: 30px; display: inline-block; }
    .form-box ul li em.w10 { width: 8px; display: inline-block; }
    .form-box ul li label { font-size: 1.5rem; color: #5a5a78; width: 70px; display: block; vertical-align: top; }
    .form-box ul li input { border: none; background-color: #f8f8fa; color: #ccccd2; font-size: 1.5rem; }
        .form-box ul li input.current { color: #5a5a78; }
    .form-box ul li .input-box span { font-size: 1.5rem; color: #5a5a78; padding-right: 15px; width: 100%; display: block; box-sizing: border-box; }
/***********************************表单 end *******************************************/
.jlr-box .mt-h { margin-top: 30px; }
.jlr-box .msg { font-size: 1.2rem; color: #b2b2c7; text-align: center; width: 100%; margin-top: 15px; margin-bottom: 8px; }
/*错误提示*/
.alert4 { background-color: rgba(0,0,0,0.7); padding: 0 25px; text-align: center; height: 75px; line-height: 75px; position: absolute; box-sizing: border-box; width: 150px; left: 50%; top: 50%; margin-left: -75px; margin-top: -33px; z-index: 10; border-radius: 5px; }
    .alert4 span { font-size: 1.6rem; color: #fff; }
/*********************************************申请置换 end *************************************************/

/***********************车款报价列表-二级页面 start***********************/
.carprice2 { background-color: #f8f8fa; }
    .carprice2 .con_top_bg { margin-bottom: 5px; }
    .carprice2 header { padding: 8px 25px; height: auto; line-height: normal; display: table; width: 100%; box-sizing: border-box; }
        .carprice2 header .img-box { display: table-cell; width: 95px; height: 63px; vertical-align: middle; }
            .carprice2 header .img-box img { width: 95px; height: 63px; vertical-align: -22px; display: block; }
        .carprice2 header h3 { display: inline-block; font-size: 2.1rem; color: #b8b8c8; line-height: 21px; padding-left: 15px; display: table-cell; vertical-align: middle; }
    .carprice2 .big_bg { padding-top: 10px; }
/*页底浮层（咨询）*/
.flex-bottom { position: fixed; bottom: 0; left: 0; width: 100%; height: 60px; background-color: #fff; z-index: 10; display: table; }
    .flex-bottom .flex-bottom-left { display: table-cell; width: 145px; position: relative; }
        .flex-bottom .flex-bottom-left .person-box { position: absolute; width: 100px; left: 50%; margin-left: -54px; top: -33px; }
            .flex-bottom .flex-bottom-left .person-box img { width: 66px; height: 66px; border-radius: 50%; border: 2px solid #fff; box-sizing: border-box; display: block; margin: 0 auto; background-color: #f1f2f3; }
            .flex-bottom .flex-bottom-left .person-box span { font-size: 1.3rem; color: #5b5b79; text-align: center; width: 100%; display: block; }
                .flex-bottom .flex-bottom-left .person-box span em { color: #e64b3c; }
    .flex-bottom .flex-bottom-right { display: table-cell; }
        .flex-bottom .flex-bottom-right .btu-price { height: 30px; line-height: 30px; font-size: 2rem; color: #ff8800; text-align: center; border-left: 1px solid #e7e7ec; margin-top: 15px; }
/***********************车款报价列表-二级页面 end***********************/


/******************************询价-二级页面 start ************************************/
.ask-box header { display: block; }
.ask-price { padding: 18px 30px 0; background-color: #f8f8fa; }
    .ask-price strong { font-size: 1.8rem; color: #a8a8bb; line-height: 22px; }
    .ask-price .person-box { margin-top: 10px; border: 1px #e0e0ec solid; padding: 16px 0 14px; position: relative; background: #fff; }
        .ask-price .person-box i { position: absolute; background-image: url(http://img1.bitauto.com/uimg/4th/img2/arrow_right.png); background-repeat: no-repeat; background-size: 13px 22px; width: 13px; height: 22px; top: 50%; margin-top: -11px; right: 7px; background-position: -3px 0; }
        .ask-price .person-box .imgbox { float: left; margin-right: 15px; margin-left: -54px; }
            .ask-price .person-box .imgbox img { width: 50px; height: 50px; border-radius: 50px; }
        .ask-price .person-box ul { display: block; list-style: none; width: 100%; }
            .ask-price .person-box ul li { font-size: 1.8rem; color: #5b5b79; line-height: 25px; text-align: center; }
                .ask-price .person-box ul li:first-child, .person-box ul li:first-child span { color: #5a5a78; font-size: 1.7rem; }
                    .ask-price .person-box ul li:first-child em { font-size: 1.8rem; color: #e64b3c; }
            .ask-price .person-box ul span { color: #9494a9; }
    .ask-price .register { list-style: none; overflow: hidden; margin-top: 15px; }
        .ask-price .register li:first-child { border-top: 1px solid #e0e0ec; }
        .ask-price .register li { border-bottom: 1px solid #e0e0ec; display: table; width: 100%; }
            .ask-price .register li.frist-select { width: 100%; background-image: url(http://img1.bitauto.com/uimg/4th/img2/arrow_right.png); background-repeat: no-repeat; background-position: right center; background-size: 13px 22px; height: 22px; }
                .ask-price .register li.frist-select a { display: table; }
            .ask-price .register li h3 { line-height: 19px; font-size: 1.8rem; color: #5a5a78; padding: 19px 0; display: table-cell; }
            .ask-price .register li label { font-size: 1.5rem; color: #5a5a78; line-height: 15px; padding: 19px 0 19px; display: table-cell; width: 80px; }
                .ask-price .register li label em.w28 { width: 28px; height: 15px; display: inline-block; }
                .ask-price .register li label em.w6 { width: 6px; height: 15px; display: inline-block; }
            .ask-price .register li input { background-color: #f8f8fa; width: 100%; box-sizing: border-box; border: none; color: #ccccd2; line-height: 30px; vertical-align: 1px; font-size: 15px; padding: 0 5px; }
                .ask-price .register li input.current { color: #333; }
            .ask-price .register li strong { font-size: 1.5rem; color: #5a5a78; line-height: 18px; padding-bottom: 18px; padding-right: 22px; display: block; }
    .ask-price .submit { margin-top: 16px; display: block; }
/******************************询价-二级页面 end ************************************/


/*******************第一页 start ********************/
.section-box { padding: 20px 30px 0 30px; box-sizing: border-box; }
    .section-box .title { padding: 20px 0 15px; border: 1px solid #e0e0ec; box-shadow: #e5e5e5 0 1px 0px 0px; text-align: center; position: relative; }
        .section-box .title i { position: absolute; background-image: url(http://img1.bitauto.com/uimg/4th/img2/arrow_right.png); background-repeat: no-repeat; background-size: 13px 22px; width: 13px; height: 22px; top: 50%; margin-top: -11px; right: 7px; background-position: -3px 0; }
        .section-box .title h2 { font-size: 1.8rem; color: #5b5b79; }
            .section-box .title h2 em { font-size: 1.8rem; color: #e64b3c; }
        .section-box .title p { margin-top: 7px; font-size: 1.5rem; color: #a8a8bb; }

/*******************第一页 end ********************/

/*------------------第二页 start 颜色-------------------*/
.img img { width: 50px; height: 50px; display: block; margin: 28px auto 0; }
.context h1 { font-size: 3rem; color: #5a5a78; font-weight: bold; text-align: center; margin-top: 18px; line-height: 35px; }
.context .cs-price { text-align: center; font-size: 1.2rem; color: #5a5a78; margin-top: 10px; line-height: 16px; }
.through { text-decoration: line-through; }
.context .jx-price { text-align: center; font-size: 1.5rem; color: #5a5a78; line-height: 16px; margin-top: 7px; }
.section-box .context .jx-price em { color: #e64b3c; }
.page2 .context .cs-price { text-decoration: none; }
.car_color_text { margin-top: 10px; }
    .car_color_text span { font-size: 1.8rem; color: #5a5a78; }
/*------------------第二页 end-------------------*/


/*------------------第六页 start 本店活动-------------------*/
.car_article_list { border-top: none; margin-top: 15px; }
    .car_article_list li.notimg { padding-left: 0; }
/*------------------第六页 end-------------------*/


/*------------------第八页 商家店铺 start-------------------*/
.map-dealer-details { padding: 10px 30px; }
    .map-dealer-details h2 { font-size: 1.8rem; color: #5a5a78; line-height: 22px; }
        .map-dealer-details h2 em { color: #e64b3c; }
    .map-dealer-details p { display: table; width: 100%; margin-top: 10px; }
        .map-dealer-details p.address { margin-top: 2px; }
        .map-dealer-details p.address em { height: 20px; overflow: hidden; display: block; }
        .map-dealer-details p.tel em { color:#ff0000 }
        .map-dealer-details p label, .map-dealer-details p strong { display: table-cell; font-size: 1.5rem; color: #aeaec0; line-height: 24px; }
        .map-dealer-details p label { width: 77px; }
        .map-dealer-details p em.w4-2 { width: 30px; display: inline-block; }
.button { height: 44px; color: #fff; font-size: 1.8rem; line-height: 44px; text-align: center; border-radius: 5px; width: 100%; }
    .button.green { background-color: #39b54d; }
    .button.orange { background-color: #ff9900; }
.btu-2 { width: 100%; padding: 3px 30px 0 25px; box-sizing: border-box; }
    .btu-2 ul li { padding-left: 5px; }
.button.tel::before { content: ''; background-image: url(http://img1.bitauto.com/uimg/4th/img2/icon-tel.png); background-repeat: no-repeat; background-size: 19px 19px; display: inline-block; width: 19px; height: 19px; padding-right: 5px; vertical-align: -3px; }
/*------------------第八页 商家店铺 end-------------------*/
/*------------------经销商 08-details start-------------------*/
.dealer-map-popbox .btus-05 { margin-top: 18px; padding: 10px 0 10px; }
    .dealer-map-popbox .btus-05 li a { color: #f48e00; font-size: 1.4rem; font-weight: bold; }
        .dealer-map-popbox .btus-05 li a.tel { color: #39b54d; }
            .dealer-map-popbox .btus-05 li a.tel:before { background-image: url(http://img1.bitauto.com/uimg/4th/img2/icon-tel-green.png); background-size: 19px 19px; background-repeat: no-repeat; width: 19px; height: 19px; content: ''; display: inline-block; vertical-align: -5px; padding-right: 5px; }
/*------------------经销商 08-details end-------------------*/
/* 判断iphone4 */
@media screen and (device-width: 320px) and (device-height: 480px) {
    /******************************询价-二级页面 start ************************************/
    .askprice header { display: block; height: 80px; line-height: 80px; }
        .askprice header h2 { font-size: 30px; text-indent: 30px; line-height: 80px; }
    /******************************询价-二级页面 end ************************************/

    /******************************置换表单-二级页面 start ************************************/
    .zh header { display: block; height: 80px; line-height: 80px; }
        .zh header h2 { font-size: 30px; text-indent: 30px; line-height: 80px; }
    /******************************置换表单-二级页面 end ************************************/

    /*------------------经理人 01 首页 start-------------------*/
    .section-box .context h1 { font-size: 2.8rem; }
    .standard_car_pic { margin-top: 0px; }
    .page1 .img { display: none; }
    /*------------------经理人 01 end---------------------*/



    /*------------------经理人 06 店内还有 start-------------------*/
    .page6 .car_article_list { margin-top: 0; }
    /*------------------经理人 06 end-------------------*/

    /*------------------经理人 商家店铺 08 start-------------------*/
    .page6 .map-dealer-details { padding: 5px 30px 0px; }
        .page6 .map-dealer-details p { margin-top: 3px; }
    .page6 .btu-2 .button { height: 30px; color: #fff; font-size: 1.2rem; line-height: 30px; text-align: center; border-radius: 5px; width: 100%; }
        .page6 .btu-2 .button.tel::before { vertical-align: -6px; }
    /*------------------经理人 08 end-------------------*/
}

/*修改浮层字体颜色*/
.brandlist a span, .leftPopup a span, .leftPopup a h4 { color: #5a5a78 !important; }

/* 判断iphone5 */
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    /******************************询价-二级页面 start ************************************/
    .askprice header { height: 80px; line-height: 80px; }
        .askprice header h2 { font-size: 30px; text-indent: 30px; line-height: 80px; }
    /******************************询价-二级页面 end ************************************/

    /******************************置换表单-二级页面 start ************************************/
    .zh header { height: 80px; line-height: 80px; }
        .zh header h2 { font-size: 30px; text-indent: 30px; line-height: 80px; }
    /******************************置换表单-二级页面 end ************************************/


    /*------------------经理人 06 店内还有 start-------------------*/
    .page6 .car_article_list { margin-top: 0; }
    /*------------------经理人 06 end-------------------*/

    /*------------------经理人 08 start-------------------*/
    .page6 .map-dealer-details { padding: 15px 30px 0px; }
    /*------------------经理人 08 end-------------------*/
}
