/*----------------------------------------客户端适配-------------------------------------------*/
.menu_box ul.menu_box_ul2 { width: 280px; }
    .menu_box ul.menu_box_ul2.menu_box_v2 { width: 207px; }
/******************************************公共属性 start *************************************************/
.page1, .page2 { padding: 0; }
.speak { bottom: 85px; }
    .speak .button { background: url(http://img1.bitauto.com/uimg/4th/img2/float_b.png) 0 -110px no-repeat; background-size: 55px; }
body { background-color: #f8f8fa; }

/******************************************公共属性 end *************************************************/

/*********************人店车 01 start*********************/
.section-box { padding: 0 30px; }
.person-center { margin-top: 30px; border: 1px #e0e0ec solid; padding: 15px 0 15px 65px; box-shadow: #e5e5e5 0 1px 0px 0; position: relative; }
    .person-center .imgbox { float: left; margin-right: 15px; margin-left: -54px; }
        .person-center .imgbox img { width: 50px; height: 50px; border-radius: 50px; }
    .person-center ul { font-size: 15px; line-height: 1.6; }
        .person-center ul li { font-size: 1.5rem; color: #a8a8bb; line-height: 15px; margin-top: 5px; }
            .person-center ul li:first-child, .person-box ul li:first-child span { color: #5a5a78; font-size: 1.7rem; vertical-align: -2px; }
        .person-center ul span { color: #a8a8bb; }
.section-box .img img { width: 50px; height: 50px; display: block; margin: 28px auto 0; }
.context h1 { font-size: 3rem; color: #5a5a78; font-weight: bold; text-align: center; margin-top: 18px; line-height: 35px; }
.context .cs-price { text-align: center; font-size: 1.2rem; color: #5a5a78; margin-top: 10px; line-height: 16px; }
.section-box .standard_car_pic { margin-top: 25px; }
/*********************人店车 01 end*********************/

/**********************人店车 05 start**********************/
.page5 .con_top_bg { margin-bottom: 10px; }
/**********************人店车 05 end **********************/

/**********************人店车 06 start**********************/
.page6 .con_top_bg { margin-bottom: 0px; }
.car_article_list { border-top: none; margin-top: 5px; }
    .car_article_list li.notimg { padding-left: 0; }
/**********************人店车 06 end**********************/


/**********************人店车 07 start**********************/
.page7 .con_top_bg { margin-bottom: 10px; }
/**********************人店车 07 end **********************/

/**********************商家店铺 08 start**********************/
.map-dealer-details { padding: 16px 30px; }
    .map-dealer-details h2 { font-size: 1.8rem; color: #5a5a78; line-height: 22px; }
        .map-dealer-details h2 em { color: #e64b3c; }
    .map-dealer-details p { display: table; width: 100%; margin-top: 10px; }
        .map-dealer-details p.address { margin-top: 2px; }
        .map-dealer-details p label, .map-dealer-details p strong { display: table-cell; font-size: 1.5rem; color: #aeaec0; }
            .map-dealer-details p strong em { font-size: 1.5rem; color: #aeaec0; line-height: 24px; max-height: 48px; overflow: hidden; display: block; }
        .map-dealer-details p label { width: 77px; }
        .map-dealer-details p em.w4-2 { width: 30px; display: inline-block; }
.button { height: 44px; color: #fff; font-size: 1.8rem; line-height: 44px; text-align: center; border-radius: 5px; width: 100%; }
    .button.green { background-color: #39b54d; }
    .button.orange { background-color: #ff9900; }
.btu-2 { width: 100%; padding: 3px 30px 0 25px; box-sizing: border-box; }
    .btu-2 ul li { padding-left: 5px; }
.button.tel::before { content: ''; background-image: url(http://img1.bitauto.com/uimg/4th/img2/icon-tel.png); background-repeat: no-repeat; background-size: 19px 19px; display: inline-block; width: 19px; height: 19px; padding-right: 5px; vertical-align: -3px; }
/**********************商家店铺 08 end**********************/

/********************向TA询价-二级页面 start********************/
.ask-price { padding: 0 30px; }
    .ask-price strong { font-size: 1.8rem; color: #a8a8bb; line-height: 22px; }
    .ask-price .person-box { margin-top: 10px; border: 1px #e0e0ec solid; padding: 16px 0 14px 65px; position: relative; background: #fff; }
        .ask-price .person-box .imgbox { float: left; margin-right: 15px; margin-left: -54px; }
            .ask-price .person-box .imgbox img { width: 50px; height: 50px; border-radius: 50px; }
        .ask-price .person-box ul { font-size: 15px; line-height: 1.6; }
            .ask-price .person-box ul li { font-size: 1.5rem; color: #a8a8bb; line-height: 25px; }
                .ask-price .person-box ul li:first-child, .person-box ul li:first-child span { color: #5a5a78; font-size: 1.7rem; }
            .ask-price .person-box ul span { color: #9494a9; }
    .ask-price .register { list-style: none; overflow: hidden; margin-top: 15px; }
        .ask-price .register li:first-child { border-top: 1px solid #e0e0ec; }
        .ask-price .register li { border-bottom: 1px solid #e0e0ec; display: table; width: 100%; }
            .ask-price .register li.frist-select { width: 100%; background-image: url(http://img1.bitauto.com/uimg/4th/img2/arrow_right.png); background-repeat: no-repeat; background-position: right center; background-size: 13px 22px; height: 22px; }
                .ask-price .register li.frist-select a { display: table; }
            .ask-price .register li h3 { line-height: 19px; font-size: 1.8rem; color: #5a5a78; padding: 19px 0; display: table-cell; }
            .ask-price .register li label { font-size: 1.5rem; color: #5a5a78; line-height: 15px; padding: 19px 0 19px; display: table-cell; width: 80px; }
                .ask-price .register li label em.w28 { width: 28px; height: 15px; display: inline-block; }
                .ask-price .register li label em.w6 { width: 6px; height: 15px; display: inline-block; }
            .ask-price .register li input { background-color: #f8f8fa; width: 100%; box-sizing: border-box; border: none; color: #ccccd2; line-height: 30px; vertical-align: 1px; font-size: 15px; padding: 0 5px; }
                .ask-price .register li input.current { color: #333; }
            .ask-price .register li strong { font-size: 1.5rem; color: #5a5a78; line-height: 18px; padding-bottom: 18px; padding-right: 22px; display: block; }
    .ask-price .submit { margin-top: 16px; display: block; }
/********************向TA询价-二级页面 end********************/

/***********************车款报价列表-二级页面 start***********************/
.carprice2 { background-color: #f8f8fa; }
    .carprice2 .con_top_bg { margin-bottom: 5px; }
    .carprice2 header { padding: 8px 25px; height: auto; line-height: normal; }
        .carprice2 header img { width: 95px; height: 63px; display: inline-block; vertical-align: -22px; }
        .carprice2 header h3 { display: inline-block; font-size: 2.1rem; color: #b8b8c8; line-height: 21px; margin-left: 5px; }
    .carprice2 .big_bg { padding-top: 10px; }
/*页底浮层（咨询）*/
.flex-bottom { position: fixed; bottom: 0; left: 0; width: 100%; height: 60px; background-color: #fff; z-index: 10; display: table; }
    .flex-bottom .flex-bottom-left { display: table-cell; width: 105px; position: relative; }
        .flex-bottom .flex-bottom-left .person-box { position: absolute; width: 100px; left: 50%; margin-left: -52px; top: -33px; }
            .flex-bottom .flex-bottom-left .person-box img { width: 66px; height: 66px; border-radius: 50%; border: 2px solid #fff; box-sizing: border-box; display: block; margin: 0 auto; }
            .flex-bottom .flex-bottom-left .person-box span { font-size: 1.3rem; color: #9494a9; text-align: center; width: 100%; display: block; }
    .flex-bottom .flex-bottom-right { display: table-cell; }
        .flex-bottom .flex-bottom-right .btu-price { height: 30px; line-height: 30px; font-size: 2rem; color: #ff8800; text-align: center; border-left: 1px solid #e7e7ec; margin-top: 15px; }
/* 判断iphone4 */
@media screen and (device-width: 320px) and (device-height: 480px) {
    /*------------------车顾问 01 start-------------------*/
    .page1 .section-box .person-center { margin-top: 20px; }
    .page1 .section-box { padding: 0 20px; }
        .page1 .section-box .context h1 { font-size: 2.8rem; }
    .page1 .standard_car_pic { margin-top: 0px; }
    .page1 .section-box .img { display: none; }
    .page1 .person-center ul span { font-size: 1.4rem; line-height: 18px; position: relative; top: -2px; }
    /*------------------车顾问 01 end---------------------*/
    /*------------------车顾问 02 start-------------------*/
    .page2 .section-box { padding: 0 20px; }
    .page2 .context h1 { margin-top: 12px; }
    .page2 .section-box .img { display: none; }
    .page2 .context .cs-price { margin-top: 5px; }
    .page2 .standard_car_pic { margin-top: 0px; }
    /*------------------车顾问 02 end-------------------*/
    /*------------------车顾问 05 start-------------------*/
    .page5 .con_top_bg { display: none; }
    .page5 .big_bg { margin: 3px 20px 0; }
    /*------------------车顾问 05 end-------------------*/
    /*------------------车顾问 06 start-------------------*/
    .page6 .car_article_list { margin-top: 0px; }
    .page6 .big_bg { margin: 0px 20px; }
    .page6 .car_article_list li { padding: 10px 0 0 115px; height: 80px; }
        .page6 .car_article_list li.notimg { padding-left: 0; padding-top: 5px; }
    /*------------------车顾问 06 end-------------------*/
    /*------------------车顾问 07 start-------------------*/
    .page7 .big_bg_car_list { margin: 0 20px; }
    .page7 .con_top_bg { margin-bottom: 2px; }
    /*------------------车顾问 07 end-------------------*/
    /*------------------车顾问 08 start-------------------*/
    .page8 .map-dealer-details { padding: 6px 20px; }
        .page8 .map-dealer-details p { margin-top: 6px; }
    .page8 .btu-2 { padding: 3px 20px 0 15px; }
    /*------------------车顾问 08 end-------------------*/
    .fp-slidesNav.bottom { bottom: 10px; }

    /*******************向TA询价-二级页面 start ********************/
    .ask-box header { display: block; }
    .ask-price { padding: 0 20px; }
    /*******************向TA询价-二级页面 end ********************/
}

/* 判断iphone5 */
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    /*------------------车顾问 01 start-------------------*/
    .page1 .section-box { padding: 0 20px; }
        .page1 .section-box .context h1 { font-size: 2.8rem; }
    .page1 .standard_car_pic { margin-top: 0px; }
    .page1 .person-center ul span { font-size: 1.4rem; line-height: 18px; position: relative; top: -2px; }
    /*------------------车顾问 01 end---------------------*/
    /*------------------车顾问 02 start-------------------*/
    .page2 .section-box { padding: 0 20px; }
        .page2 .section-box .context { padding-top: 12px; }
        .page2 .section-box .img img { width: 50px; height: 50px; display: block; margin: 10px auto 0; }
    .page2 .context h1 { margin-top: 2px; }
    .page2 .context .cs-price { margin-top: 2px; }
    .page2 .standard_car_pic { margin-top: 0px; }
    /*------------------车顾问 02 end-------------------*/
    /*------------------车顾问 05 start-------------------*/
    .page5 .con_top_bg { margin-bottom: -9px; }
    /*------------------车顾问 05 end-------------------*/
    /*------------------车顾问 06 start-------------------*/
    .page6 .car_article_list { margin-top: 0px; }
    .page6 .big_bg { margin: 0 20px; }
    .page6 .con_top_bg { margin-bottom: -9px; }
    /*------------------车顾问 06 end-------------------*/
    /*------------------车顾问 07 start-------------------*/
    .page7 .big_bg_car_list { margin: 0 20px; }
    .page7 .con_top_bg { margin-bottom: 2px; }
    /*------------------车顾问 07 end-------------------*/
    /*------------------车顾问 08 start-------------------*/
    .page8 .map-dealer-details { padding: 16px 20px; }
    .page8 .btu-2 { padding: 3px 20px 0 15px; }
    /*------------------车顾问 08 end-------------------*/

    /*******************向TA询价-二级页面 start ********************/
    .ask-box header { display: block; }
    .ask-box .ask-price { padding: 0 20px; }
    /*******************向TA询价-二级页面 end ********************/
}
