/*公共样式*/
.font-grey { color: #9595A9; }
.linethrough { text-decoration: line-through; }
.s_price { color: #e64b3c; }
.bottom { width: 100%; height: 68px; background-color: #f8f8fa; display: block; }
body { background-color: #f8f8fa; }
.cols-2 { display: table; }
    .cols-2 li { width: 50%; display: table-cell; }
/*按钮*/
.btn { width: 100%; height: 34px; border: 1px solid #d6d6e2; box-sizing: border-box; display: block; line-height: 34px; text-align: center; font-size: 1.4rem; color: #5a5a78; border-radius: 3px; position: relative; }
    .btn:after { content: ''; display: inline-block; position: absolute; right: 4px; bottom: 4px; width: 0; border: 4px solid transparent; border-right-color: #ccc; border-bottom-color: #ccc; border-bottom-right-radius: 3px; }
/*二级车型头*/
.top-header .server-title { width: 100%; padding: 25px 30px 15px 120px; box-sizing: border-box; position: relative; background-color: #fff; border-bottom: 0; }
    .top-header .server-title i { margin-top: -16px; right: -14px; }
    .top-header .server-title .imgbox { position: absolute; width: 90px; left: 25px; top: 50%; margin-top: -30px; }
        .top-header .server-title .imgbox img { width: 90px; height: 60px; }
    .top-header .server-title .content { padding-left: 5px; position: relative; }
        .top-header .server-title .content h2 { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; line-height: 18px; }
        .top-header .server-title .content p { font-size: 1.2rem; color: #999; line-height: 18px; margin-top: 5px; }
/*二级标签切换*/
.tags-sub { font-size: 0; padding: 0 30px; white-space: nowrap; background-color: #fff; border-top: 1px solid #e0e0ec; position: relative; }
    .tags-sub li { width: 33.33%; padding-left: 5px; float: none; }
    .tags-sub li { margin: 0 0 -1px 0; display: inline-block; text-align: left; font-size: 1.5rem; }
        .tags-sub li a { color: #9494a9; display: inline-block; height: 34px; line-height: 32px; padding: 10px 0 3px; }
        .tags-sub li.current a { color: #5a5a78; border-bottom: 2px solid #5a5a78; }
        .tags-sub li.arrow { position: relative; }
            .tags-sub li.arrow i, .tags-sub li.arrow s { width: 0; height: 4px; border: 4px solid #999; border-color: #999 transparent; position: absolute; margin-left: 5px; }
            .tags-sub li.arrow i { border-width: 4px 4px 0 4px; top: 28px; }
            .tags-sub li.arrow s { border-width: 0 4px 4px 4px; top: 17px; }
        .tags-sub li.arrow-d-t s { border-color: #484764 transparent; }
        .tags-sub li.arrow-t-d i { border-color: #484764 transparent; }
/*车型列表*/
.service-list { border-top: 8px solid #f8f8fa; width: 100%; box-sizing: border-box; padding: 0px 30px; background-color: #fff; }
    .service-list .head { border-bottom: 1px solid #e0e0ec; padding: 13px 0; }
        .service-list .head h2 { font-size: 1.8rem; color: #5a5a78; line-height: 22px; overflow: hidden; }
            .service-list .head h2 .rz { font-size: 1.1rem; color: #fff; background-color: #f53e3e; display: inline; padding: 1px 2px; margin-left: 5px; border-radius: 2px; position: relative; top: -3px; }
        .service-list .head strong { font-size: 1.2rem; color: #9494a9; }
            .service-list .head strong.right { float: right; }
        .service-list .head h2 em { color: #e64b3c; }
        .service-list .head p { font-size: 1.2rem; color: #9494a9; line-height: 16px; overflow: hidden; margin-top: 5px; }
    .service-list .content { position: relative; padding: 13px 0; overflow: hidden; height: 85px; box-sizing: border-box; }
        .service-list .content .icon { width: 40px; height: 40px; position: absolute; padding-top: 2px; }
            .service-list .content .icon i { width: 40px; height: 40px; background-image: url(../img/service-icons.png); background-repeat: no-repeat; background-size: 40px 160px; background-position: 0 -120px; display: block; }
                .service-list .content .icon i.min-serivce { background-position: 0 0; }
                .service-list .content .icon i.max-serivce { background-position: 0 -40px; }
            .service-list .content .icon span { width: 100%; text-align: center; font-size: 1.2rem; color: #9494a9; display: block; }
        .service-list .content .right { padding-left: 45px; }
            .service-list .content .right h4 { font-size: 1.6rem; color: #5a5a78; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
            .service-list .content .right p { font-size: 1.2rem; color: #9494a9; }

        .service-list .content .col { float: left; width: 50%; height: 60px; position: relative; box-sizing: border-box; }
            .service-list .content .col:last-child { padding-left: 10px; }
        .service-list .content.v1 .right { padding-top: 8px; }
            .service-list .content.v1 .right h4 { color: #cc0000; }
            .service-list .content.v1 .right p { margin-top: 0; text-decoration: line-through; line-height: 20px; margin-top: 5px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.details-header { padding: 20px 30px; background-color: #fff; box-sizing: border-box; }
    .details-header h2 { font-size: 1.6rem; color: #5a5a78; line-height: 22px; overflow: hidden; }
        .details-header h2 .rz { font-size: 1.1rem; color: #fff; background-color: #f53e3e; display: inline; padding: 1px 2px; margin-left: 5px; border-radius: 2px; position: relative; top: -3px; }
        .details-header h2 em { color: #e64b3c; }
        .details-header h2 strong.right { float: right; font-size: 1.6rem; color: #5a5a78; }
    .details-header p { font-size: 1.2rem; color: #999; line-height: 18px; }
        .details-header p.icon-lz:before { content: ''; background-image: url(../img/lz.png); background-size: 11px 16px; background-repeat: no-repeat; width: 11px; height: 16px; display: inline-block; vertical-align: middle; margin-right: 5px; }
.details-btns { padding: 0 30px 20px 10px; box-sizing: border-box; width: 100%; background-color: #fff; }
    .details-btns a { margin-left: 20px; }
/*复制养护样式*/
/*service-list-100*/
.service-list-100 { padding: 6px 30px; position: relative; }
    .service-list-100 .content-list > div.loading { text-align: center; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: #f8f8fa; padding-top: 30px; z-index: 2; }
        .service-list-100 .content-list > div.loading > img { margin: 6px; }
    .service-list-100 .content-list { overflow: hidden; }
        .service-list-100 .content-list .rows { padding: 16px 0; border-top: 1px solid #e0e0ec; position: relative; top: -1px; }
            .service-list-100 .content-list .rows > a > h1 { font-size: 1.8rem; }
            .service-list-100 .content-list .rows > a > p { padding: 12px 0; color: #9595A9; font-size: 1.4rem; }
            .service-list-100 .content-list .rows > a > footer .s_price { font-size: 1.5rem; }
                .service-list-100 .content-list .rows > a > footer .s_price + span { padding: 6px 0; }
        .service-list-100 .content-list .empty-list { text-align: center; }
            .service-list-100 .content-list .empty-list > img { margin-top: 65px; }
            .service-list-100 .content-list .empty-list > hgroup > h1 { margin: 30px 0 14px; font-size: 2rem; font-weight: bold; color: #5a5a78; }
            .service-list-100 .content-list .empty-list > hgroup > h6 { font-size: 1.5rem; color: #b2b2c7; }
