/*经销商销售顾问*/
/************************公共属性***************************/
.page1, .page2 { padding: 0; }
.page5 .con_top_bg { margin-bottom: 18px; }
.menu_box { height: 56px; }
body, .section { background: #f8f8fa; }
/***********************公共部分********************/
.preson-title .preson-top { width: 100%; height: 80px; background-color: #fff; position: relative; }
    .preson-title .preson-top .img-box { position: absolute; width: 78px; height: 78px; border-radius: 50%; left: 50%; margin-left: -39px; bottom: -40px; overflow: hidden; border: 4px solid #fff; box-sizing: border-box; }
        .preson-title .preson-top .img-box img { width: 78px; height: 78px; }
.preson-title .preson-bottom { width: 100%; height: 117px; background-color: #f8f8fa; padding: 48px 0 0; box-sizing: border-box; text-align: center; border-top: 2px solid #f0f0f5; }
    .preson-title .preson-bottom h1 { font-size: 2.4rem; color: #5a5a78; font-weight: bold; }
    .preson-title .preson-bottom h2 { font-size: 1.8rem; color: #5b5b79; text-align: center; }
    .preson-title .preson-bottom .lnk { border: 1px solid #e0e0ec; padding: 0px 7px; text-align: center; color: #9494a9; margin: 10px auto; display: inline-block; border-radius: 2px; font-size: 1.2rem; color: #9494a9; }
.title-center-box { position: relative; border-top: 1px solid #e0e0ec; height: 10px; background-color: #f8f8fa; margin: 0 30px; }
    .title-center-box h2 { position: absolute; font-size: 1.4rem; color: #9494a9; z-index: 10; width: 80px; text-align: center; left: 50%; margin-left: -40px; background-color: #f8f8fa; top: -10px; }
/*页底浮层（咨询）*/
.flex-bottom { position: fixed; bottom: 0; left: 0; width: 100%; height: 60px; background-color: #fff; z-index: 10; display: table; }
    .flex-bottom .flex-bottom-left { display: table-cell; width: 105px; position: relative; }
        .flex-bottom .flex-bottom-left .person-box { position: absolute; width: 100px; left: 50%; margin-left: -52px; top: -33px; }
            .flex-bottom .flex-bottom-left .person-box img { width: 66px; height: 66px; border-radius: 50%; border: 2px solid #fff; box-sizing: border-box; display: block; margin: 0 auto; background-color: #f1f2f3; }
            .flex-bottom .flex-bottom-left .person-box span { font-size: 1.3rem; color: #9494a9; text-align: center; width: 100%; display: block; }
    .flex-bottom .flex-bottom-right { display: table-cell; }
        .flex-bottom .flex-bottom-right .btu-price { height: 30px; line-height: 30px; font-size: 2rem; color: #ff8800; text-align: center; border-left: 1px solid #e7e7ec; margin-top: 15px; }
/*******************第一页 start ********************/
.page1 .preson-center { padding: 0 30px 30px; background-color: #f8f8fa; }
    .page1 .preson-center p { width: 100%; font-size: 1.5rem; color: #9494a9; height: 15px; line-height: 15px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin-top: 10px; }
        .page1 .preson-center p:first-child { border-top: 1px solid #e0e0ec; padding: 26px 0 0; margin-top: 0; }
        .page1 .preson-center p strong { color: #5b5b79; }
/*车型列表*/
.page1 .big_bg_car_list { margin: 17px 30px 0; }
.big_bg_car_list .car_list { position: relative; top: -20px; margin-bottom: 5px; }
    .big_bg_car_list .car_list li { margin: 20px 0 0 0; }
    .big_bg_car_list .car_list span { font-size: 1.5rem; color: #5a5a78; padding-top: 8px; }
/*******************第一页 end ********************/

/********************第二页 start********************/
.page2 .big_bg_car_list { margin: 0px 30px 0; }
/********************第二页 end********************/

/********************第三页 start********************/
.page3 .con_top_bg { margin-bottom: 0; }
.page3 .car_article_list { border-top: none; margin-top: 5px; }
/********************第三页 end********************/

/********************第四页 start********************/
.map-dealer-details { padding: 16px 30px; }
    .map-dealer-details h2 { font-size: 1.8rem; color: #5a5a78; line-height: 22px; }
        .map-dealer-details h2 em { color: #e64b3c; }
    .map-dealer-details p { display: table; width: 100%; margin-top: 10px; }
        .map-dealer-details p.address { margin-top: 2px; }
        .map-dealer-details p label, .map-dealer-details p strong { display: table-cell; font-size: 1.5rem; color: #aeaec0; }
            .map-dealer-details p strong em { font-size: 1.5rem; color: #aeaec0; line-height: 24px; max-height: 48px; overflow: hidden; display: block; }
        .map-dealer-details p label { width: 77px; }
        .map-dealer-details p em.w4-2 { width: 30px; display: inline-block; }
/********************第四页 end********************/
/********************向TA询价-二级页面 start********************/
.ask-price { padding: 0 30px; }
    .ask-price strong { font-size: 1.8rem; color: #a8a8bb; line-height: 22px; }
    .ask-price .person-box { margin-top: 10px; border: 1px #e0e0ec solid; padding: 16px 0 14px 65px; position: relative; background: #fff; }
        .ask-price .person-box .imgbox { float: left; margin-right: 15px; margin-left: -54px; }
            .ask-price .person-box .imgbox img { width: 50px; height: 50px; border-radius: 50px; }
        .ask-price .person-box ul { font-size: 15px; line-height: 1.6; }
            .ask-price .person-box ul li { font-size: 1.5rem; color: #a8a8bb; line-height: 25px; }
                .ask-price .person-box ul li:first-child, .person-box ul li:first-child span { color: #5a5a78; font-size: 1.7rem; }
            .ask-price .person-box ul span { color: #9494a9; }
    .ask-price .register { list-style: none; overflow: hidden; margin-top: 15px; }
        .ask-price .register li:first-child { border-top: 1px solid #e0e0ec; }
        .ask-price .register li { border-bottom: 1px solid #e0e0ec; display: table; width: 100%; }
            .ask-price .register li.frist-select { width: 100%; background-image: url(http://img1.bitauto.com/uimg/4th/img2/arrow_right.png); background-repeat: no-repeat; background-position: right center; background-size: 13px 22px; height: 22px; }
                .ask-price .register li.frist-select a { display: table; }
            .ask-price .register li h3 { line-height: 19px; font-size: 1.8rem; color: #5a5a78; padding: 19px 0; display: table-cell; }
            .ask-price .register li label { font-size: 1.5rem; color: #5a5a78; line-height: 15px; padding: 19px 0 19px; display: table-cell; width: 80px; }
                .ask-price .register li label em.w28 { width: 28px; height: 15px; display: inline-block; }
                .ask-price .register li label em.w6 { width: 6px; height: 15px; display: inline-block; }
            .ask-price .register li input { background-color: #f8f8fa; width: 100%; box-sizing: border-box; border: none; color: #ccccd2; line-height: 30px; vertical-align: 1px; font-size: 15px; padding: 0 5px; }
                .ask-price .register li input.current { color: #333; }
            .ask-price .register li strong { font-size: 1.5rem; color: #5a5a78; line-height: 18px; padding-bottom: 18px; padding-right: 22px; display: block; }
    .ask-price .submit { margin-top: 16px; display: block; }
/********************向TA询价-二级页面 end********************/

/***********************车款报价列表-二级页面 start***********************/
.carprice2 { background-color: #f8f8fa; }
    .carprice2 header { padding: 8px 25px; height: auto; line-height: normal; }
        .carprice2 header img { width: 95px; height: 63px; display: inline-block; vertical-align: -22px; }
        .carprice2 header h3 { display: inline-block; font-size: 1.4rem; color: #b8b8c8; line-height: 21px; margin-left: 5px; }
    .carprice2 .big_bg { padding-top: 10px; }
    .carprice2 .car_price li:last-child { margin-bottom: 90px; }
.car_price li:last-child { margin-bottom: 90px; }
/***********************车款报价列表-二级页面 end*************************/
/***********************车款报价-二级页面 start***********************/
.carprice1 .second-tags li span { color: #5b5b79; }
.carprice1 .second-tags li.current a span { border-bottom: 2px solid #e64b3c; color: #e64b3c; }
/***********************车款报价-二级页面 end***********************/
/*****************************促销详情 start ******************************/
.sales-details .txt-msg { margin: 0 30px; background-color: #ececf3; padding: 14px 10px; font-size: 1.4rem; color: #9494a9; line-height: 24px; text-indent: 2em; }
.sales-details .big_bg { margin: 7px 30px 0; }
/*****************************促销详情 end ******************************/
/* 判断iphone4 */
@media screen and (device-width: 320px) and (device-height: 480px) {
    /*******************第一页 start ********************/
    .page1 .big_bg_car_list { margin: 10px 20px 0; }
    .page1 .preson-title .preson-top { height: 60px; }
    .page1 .preson-center { padding: 0 20px 20px; }
        .page1 .preson-center p:first-child { padding: 16px 0 0; }
    .page1 .title-center-box { margin: 0 20px; }
    /*******************第一页 end ********************/

    /*******************第二页 start ********************/
    .page2 .big_bg_car_list { margin: 0px 20px 0; }
    .page2 .con_top_bg { margin-bottom: 10px; }
    /*******************第二页 end ********************/

    /*******************第三页 start ********************/
    .page3 .big_bg { margin: 10px 20px 0; }
    .page3 .con_top_bg { display: none; }
    .page3 .car_article_list li { height: 80px; padding: 5px 0 0 115px; }
    /*******************第三页 end ********************/

    /*******************第四页 start ********************/
    .page4 .map-dealer-details { padding: 16px 20px; }
    /*******************第四页 end ********************/

    /*******************向TA询价-二级页面 start ********************/
    .ask-box header { display: block; }
    .ask-price { padding: 0 20px; }
    /*******************向TA询价-二级页面 end ********************/

    /***********************车款报价-二级页面 start***********************/
    .carprice2 header { display: block; }
    /***********************车款报价-二级页面 end*************************/

    /******************************促销详情-二级页面  start ***********************************/
    .sales-details header { display: block; }
    .sales-details .con_top_bg { margin-bottom: 20px; }
    /******************************促销详情-二级页面  end *************************************/
}


/* 判断iphone5 */
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    /*******************第一页 start ********************/
    .page1 .preson-title .preson-top { height: 60px; }
    .page1 .big_bg_car_list { margin: 15px 20px 0; }
    .page1 .preson-center { padding: 0 20px 30px; }
    .page1 .title-center-box { margin: 0 20px; }
    /*******************第一页 end ********************/

    /*******************第二页 start ********************/
    .page2 .big_bg_car_list { margin: 0px 20px 0; }
    .page2 .con_top_bg { margin-bottom: 10px; }
    /*******************第二页 end ********************/

    /*******************第三页 start ********************/
    .page3 .car_article_list li { padding: 15px 0 0 115px; }
    .page3 .car_article_list { margin-top: 0; position: relative; top: -10px; }
    .page3 .con_top_bg { margin-bottom: 5px; }
    /*******************第三页 end ********************/

    /*******************第四页 start ********************/
    .page4 .map-dealer-details { padding: 16px 20px; }
    /*******************第四页 end ********************/

    /*******************向TA询价-二级页面 start ********************/
    .ask-box .ask-price { padding: 0 20px; }
    .ask-box .con_top_bg { margin-bottom: 0px; }
    /*******************向TA询价-二级页面 end ********************/

    /******************************促销详情-二级页面  start ***********************************/
    .sales-details .con_top_bg { margin-bottom: 20px; }
    /******************************促销详情-二级页面  end *************************************/
}
