.yingxiao{ margin: 10px 0;}
.yingxiao span.title{ color: #999; display: block; margin: 10px 0; font-size: 12px;}
.yingxiao .yingxiao_bg{border: 1px solid #ececec; padding: 10px 0 20px 0; position: relative;}
.yingxiao .yingxiao_bg .more{ position: absolute; right: 15px; top: 10px; font-size: 12px;}
/*m*/
.yingxiao h5{ margin:0 0 15px;font-size: 12px; background: #3369b1; color: #e0e6f1; width: 101px; height: 26px; line-height: 26px; text-align: center; border-radius: 0 10px 10px 0; font-weight: normal; }
.yingxiao h5 a:link,
.yingxiao h5 a:visited,
.yingxiao h5 a:hover{ color: #fff;}
/*pc*/
#content_bit .con_main .yingxiao h5{ margin:0 0 15px;font-size: 12px; background: #3369b1; color: #e0e6f1; width: 101px; height: 26px; line-height: 26px; text-align: center; border-radius: 0 10px 10px 0;font-weight: normal;}

.yingxiao_img{float: left; margin-left: 20px; display: inline; /*height: 60px;*/}
.yingxiao_box{float: left; margin-left: 20px;}
.yingxiao_box h6{font-family: "microsoft yahei"; font-size: 16px;}
.yingxiao_box span{font-size: 12px; color: #999;}
.yingxiao_box span em{ 
	/*background: url(icon_comment.png) 0 0 no-repeat; width: 13px; height: 11px; */padding: 0 0 0 17px;

background: url(http://img1.bitauto.com/uimg/index2014/images2/yingxiao/icon_comment_s.png) no-repeat 0 1px;
  width: 13px;
  height: 11px;

}
.yingxiao_box span.cheyou em{padding: 0; margin: 10px 2px 0 0; background: url(http://img1.bitauto.com/uimg/index2014/images2/yingxiao/icon_star.png) 0 0 no-repeat; width: 11px; height: 12px; display: block; float: left;}
.yingxiao_box span.cheyou{ padding: 0 10px 0 0;}

.yingxiao_b_box{clear: both; padding: 16px 0 0 0; margin: 0 20px; _padding: 6px 0 0 0; /*height: 68px;*/  }
.yingxiao_b_box img{width: 40px; height: 40px; border-radius: 40px;}
.yingxiao_b_box .yingxiao_c{ border-top: 2px #f2f2f2 solid; background: #f7f7f7; position: relative; zoom: 1;}
.yingxiao_b_box .yingxiao_c img{ float:left; margin: 10px 0 15px 15px;}
.yingxiao_b_box .yingxiao_c div.blockquote{ float: left; width: 515px; margin: 0 0 0 15px; line-height: 22px; padding: 8px 0 0 0;}	        
.yingxiao_b_box .yingxiao_c em{ font-size: 12px; color: #999;}
.yingxiao_b_box .yingxiao_c div.blockquote blockquote{ padding-bottom: 10px; overflow:hidden;font-family: "microsoft yahei"; text-indent: 0;}
.yingxiao_b_box .yingxiao_c i{display: block; height:1px;overflow: hidden;border: 6px solid #fff;border-color: #f2f2f2 #fff;border-width: 0 10px 10px 10px;width: 0;position: absolute;top: -12px;left: 35px; zoom: 1;}



/*移动站补丁*/
.yingxiao_m .yingxiao_box h6 {
  font-size: 14px;
}
.yingxiao_m .yingxiao_img{ margin: 0 10px;}
.yingxiao_m .yingxiao_box {
  float: none;
  margin:0 10px;
  padding: ;
  display: f;
}
.yingxiao_m .yingxiao_box span{
	display: block;
}
.yingxiao_m .yingxiao_bg{  padding: 10px 0 10px 0;}
.yingxiao_m .yingxiao_b_box .yingxiao_c{line-height: 20px;padding: 10px 5px 0 0;  }
.yingxiao_m .yingxiao_b_box .yingxiao_c div.blockquote{ float: none; padding: 3px 0 0 0; margin: 0; line-height: 1; width: auto;   }
.yingxiao_m .yingxiao_b_box .yingxiao_c div.blockquote blockquote{ 
  font-size: 12px;
  /* display: inline; */
  /* height: 30px; */
  overflow: hidden;
  padding: 0 0 10px 0;
  line-height: 22px;
  font-size: 12px;
}
.yingxiao_m .yingxiao_b_box .yingxiao_c img {
  float: left;
  margin: 0 10px 15px;
}
.yingxiao_m .yingxiao_box span.cheyou em{margin-top: 2px;}
.yingxiao_m .yingxiao_box span.cheyou{ padding: 3px 10px 0 0;}

.yingxiao_m .yingxiao_b_box { margin:0 10px}

/*.yingxiao_m .yingxiao_box span em{ 
background: url(icon_comment.png) no-repeat 0 1px;
  background-size: 13px auto;

}*/
