 body{padding-top: 80px;}
 a:focus { color: ##5a5a78; }
 
/*选车首页*/
.zhixuanche_index{margin-top: -32px; color: #5a5a78; text-align: center;}
.zhixuanche_index h1{ font-size: 30px; font-weight: bold; line-height: 20px; margin-bottom: 20px;}
.zhixuanche_index h2{ font-size: 14px;}

.zhixuanche_index .xuanche{ position: absolute; left: 0; top: 0; width: 115px; }
.zhixuanche_index .xuanche a{width: 115px; height: 42px; padding-top: 122px;}
.zhixuanche_index .xuanche a span{display: block; width: 75px; height: 35px; line-height: 35px; font-size: 16px; border: 1px #e6e6ec solid; border-radius: 20px; margin: 0 auto ;}

.zhixuanche_index .zhixuanche1{ top: 150px; left: 50%; background: url(http://img1.bitautoimg.com/uimg/4th/img2/zhixuanche1.png) 0 0 no-repeat;background-size: 115px;}
.zhixuanche_index .zhixuanche2{ top: 270px; left: 50%; margin-left:-135px;background: url(http://img1.bitautoimg.com/uimg/4th/img2/zhixuanche2.png) 0 0 no-repeat;background-size: 115px;}
.zhixuanche_index .zhixuanche3{ top: 365px; left: 50%; margin-left:23px; background: url(http://img1.bitautoimg.com/uimg/4th/img2/zhixuanche3.png) 0 0 no-repeat;background-size: 115px;}

/*二级头部*/
header{ position: absolute; width: 100%; left: 0; top: 0; height: 80px; z-index: 98;  background: #fff; box-shadow: 0px 5px 5px #ebebf1; -webikit-box-shadow: 0px 5px 0px #ebebf1;}
header ul.xuanche_class{ margin: 0 30px; /*margin: 0 5px;*/}
header ul.xuanche_class li{ position: relative; color: #b8b8c8; float: left; width: 33%; text-align: center; height:80px; line-height: 80px; font-size: 20px;}
header ul.xuanche_class li.current{ font-size: 25px;/*font-size: 20px;*/ color: #5a5a78; font-weight: bold;}
header ul.xuanche_class li.current:after{
	background: url(http://img1.bitautoimg.com/uimg/4th/img2/arrow_down_s.png) 0 0 no-repeat;
	background-size: 10px;
	width: 10px;
	height: 5px;
	position: absolute;
	left: 50%;
	content: "";
    bottom: 14px;
    margin-left: -5px;
}

header.header2{ height: 60px;}
/*header.header2 .more{ position: absolute; right: 30px; top: 19px; line-height: 22px; color: #9494a9;}
*/
header .back-step{ color: #9494a9; background: url(http://img1.bitautoimg.com/uimg/4th/img2/icon-back-step.png) 28px 20px no-repeat; background-size: 11px; width: 60px; height: 60px; line-height: 60px; font-size: 1.6rem; padding: 0 0 0 50px;}

/*车标*/
.chebiao{}
	/*冲a-z*/
/*.brand-list {
    margin-top: 8px;
}
.tt-small {
    height: 28px;
    line-height: 23px;
}*/
/*感觉*/
.ganjue-box{ background: #f8f8fa; margin-bottom: 150px;}

.ganjue_step1{ margin: 30px 30px 0;}
.ganjue_step1 .money_logo{ margin: 0 auto; background: url(http://img1.bitautoimg.com/uimg/4th/img2/money_logo.png) 0 0 no-repeat; background-size: 80px; width: 80px; height: 80px;}
.ganjue_step1 h2{ color: #5a5a78; font-size: 20px; text-align: center; margin: 18px 0 10px;}
.ganjue_step1 h3{ color: #b8b8c8;  font-size: 14px; text-align: center;}
.ganjue_step1 em{display: block; width: 180px; height: 42px; line-height: 42px; margin: 20px auto 0; text-align: center; background: #ececf2; color: #b2b2c7; font-size: 18px; }


.ganjue_step2{ margin: 48px 30px 0;}
 .keyword{ clear: both; /*overflow: hidden;*/ display: inline-block; padding: 30px 0 0 0; float: none;}
/*.ganjue_step2 .kwspe{ margin-left: 10%;}*/
/*.ganjue_step2 div{ float: left;}*/
 .keyword .box-center{ float: none; margin: 0 auto 14px; height:37px;/* overflow: hidden;*/}
 .keyword .box-center1{ width: 305px;}
 .keyword .box-center2{ width: 277px;}
 .keyword .box-center3{ width: 290px;}
 .keyword .box-center4{ width: 230px;}
 .keyword .box-center5{ width: 304px;}
 .keyword:last-child{ margin-bottom: 0;}

 .keyword span.kw1{border: 1px #83cbe3 solid; color: #83cbe3;}
 .keyword span.kw2{border: 1px #abc19a solid; color: #abc19a; }
 .keyword span.kw3{border: 1px #827caa solid; color: #827caa; }
 .keyword span{position: relative; margin:0 5px 0 0;font-size: 14px; height: 35px; line-height: 35px; padding: 0 20px; float: left; border-radius: 20px; /*margin-bottom: 14px;*/}

 .keyword div div:last-child span{margin: 0;}
 .keyword div:last-child {margin: 0;}


 .keyword span.kw1 em{background-image: url(http://img1.bitautoimg.com/uimg/4th/img2/xuanche-keyword1e.png);}
 .keyword span.kw2 em{background-image: url(http://img1.bitautoimg.com/uimg/4th/img2/xuanche-keyword2e.png);}
 .keyword span.kw3 em{background-image: url(http://img1.bitautoimg.com/uimg/4th/img2/xuanche-keyword3e.png);}
 .keyword span em{ position: absolute; right: -1px; top: -3px; width: 20px; height: 12px; display: block; background: 0 0 no-repeat; }

 .keyword .current span.kw1{border: 1px #83cbe3 solid; color: #fff; background:#83cbe3 ;}
 .keyword .current span.kw2{border: 1px #abc19a solid; color: #fff; background: #abc19a; }
 .keyword .current span.kw3{border: 1px #827caa solid; color: #fff; background: #827caa; }

 .keyword .current span.kw1 em{background-image: url(http://img1.bitautoimg.com/uimg/4th/img2/xuanche-keyword1.png);}
 .keyword .current span.kw2 em{background-image: url(http://img1.bitautoimg.com/uimg/4th/img2/xuanche-keyword2.png);}
 .keyword .current span.kw3 em{background-image: url(http://img1.bitautoimg.com/uimg/4th/img2/xuanche-keyword3.png);}

 .keyword span em{background-size: 21px 14px;}


/*拖动条*/
.ruler{ margin: 95px 15px 70px; position: relative;}
.ruler .line{ height: 8px; background:#c7c7d8; width: 100%;}
.ruler .line li{ width: 10%; height: 40px; float: left; position: relative;}
.ruler .line li:after{ width: 1px; height: 8px;background:#c7c7d8; position: absolute; right: -1px; top: -8px; content: ""; }
.ruler .line li:last-child:after{display: none;}
.ruler .line li span{ position: absolute; top: -22px; left: -7px;}
.ruler .line li:nth-child(2) span{left: -4px;}
/*.ruler .line li:last-child span{ left: -10px;}*/
.ruler .line-float{height: 8px; position: absolute; top: 0; left: 0;}
.ruler .max-line{background:#7a7a95; }
.ruler .min-line{background:#c7c7d8; }

.ruler .dot{ color: #fff; position: absolute; top: -32px; text-align: center; background: url(http://img1.bitautoimg.com/uimg/4th/img2/ruler_dot.png) 0 0 no-repeat; background-size: 26px; width: 26px; height: 32px; line-height: 30px; margin-left: -13px; overflow: hidden;}
.ruler .touch-dot{ background-image: none; top: -81px; margin-left: -22px; width: 44px; height: 44px; background: #fcbf64; border-radius: 50%; line-height: 44px; font-size: 16px;}
.ruler .max-dot{}
.ruler .min-dot{ 
	top: 8px;
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg); 
	}
.ruler .min-dot span{ 
	display: block;
	line-height: 25px;
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg); 
	}

 .ruler .min-dot, .ruler .max-dot { margin-left: 0; right: -13px; left: auto; }


/*发烧*/
.fashao-box {
    background: #f8f8fa;
    margin-bottom: 100px;
}
.fashao{ margin: 0 30px; text-align: center;}
.fashao h2{border-bottom: 1px #e8e8ee solid; position: relative; font-size: 14px; margin: 30px 0; height: 6px; }
.fashao h2 span{ background: #f8f8fa; padding: 10px; color: #9494a9; }

	/*文字筛选*/
.fashao .txt_select{  overflow: hidden; margin-bottom: -10px;}
.fashao .txt_select li{ width: 33.333%;   float: left; height: 38px; margin-bottom: 10px; font-size: 14px; }
.fashao .txt_select li a{background-color: #fff; border-radius: 5px; display: block; /*height: 70px; */ height: 36px; line-height: 36px; margin: 0 5px 0 0 ; /*padding: 47px 0 0 0;*/ }
.fashao .txt_select li:nth-child(3n-1) a{
	margin: 0 5px;
	
}
.fashao .txt_select li:nth-child(3n+0) a{
	margin: 0 0 0 5px;
	
}

.fashao .txt_select li.current a{border: 1px #5a5a78 solid;background-color: #efeff8;}


	/*级别筛选*/
.fashao .car_select li{height: 70px;}
.fashao .car_select li a{height: 70px; line-height: 14px;}
.fashao .car_select li a em{
	opacity: 0.4;
	background-image:url(http://img1.bitautoimg.com/uimg/4th/img2/select_car_logo.png); 
	background-size: 273px; background-repeat: no-repeat;
	width: 64px; height: 47px; margin: 0 auto; display: block;}
.fashao .car_select li.current a em{opacity:1;}

.fashao .car_select li a.car1 em{background-position: 4px 15px;}
.fashao .car_select li a.car2 em{background-position: -103px 15px;}
.fashao .car_select li a.car3 em{background-position: -212px 15px;}
.fashao .car_select li a.car4 em{background-position: 4px -63px;}
.fashao .car_select li a.car5 em{background-position: -103px -63px;}
.fashao .car_select li a.car6 em{background-position: -212px -63px;}
.fashao .car_select li a.car7 em{background-position: 4px -143px;}
.fashao .car_select li a.car8 em{background-position: -103px -143px;}
.fashao .car_select li a.car9 em{background-position: -212px -143px;}
.fashao .car_select li a.car10 em{background-position: 4px -221px;}
.fashao .car_select li a.car11 em{background-position: -103px -221px;}

/*删除按钮*/
.button_del_box{
	/*display: -webkit-flex;
  	display: flex;*/
  	margin: 0 0 30px 0;
  	
  	
 	display: table;
 	width: 100%;
 	height: 44px;
}
.button_w{
	display: table-cell;
  	width: 43px;
  	vertical-align: bottom;
}
.button_f{
	 display: table-cell;
	 width: 100%;
  	vertical-align: bottom;
}

.button_del_box .button_del {
  width: 43px;
  margin-right: 10px;
  overflow: hidden;
  /*line-height: 1000px;*/
  background: #fff url(http://img1.bitautoimg.com/uimg/4th/img2/icon_del.png) center center no-repeat;
  background-size: 18px;
  border: 1px #f90 solid;
  text-indent: -999em;
}
.button_del_box .button_del_none {
  background: #fff url(http://img1.bitautoimg.com/uimg/4th/img2/icon_del_none.png) center center no-repeat;
  background-size: 18px;
  border: 1px #c8c8d3 solid;
}
/*.button_del_box .button_del_other {
          flex: 1;
  -webkit-flex: 1;
}*/
/*固定按钮*/
.button_fixed{ position: fixed; bottom:0; width: 100%; padding: 0 30px; box-sizing: border-box /* margin: 0 30px;*/}



/*列表*/
.car_list_body{
    		background: #f8f8fa; padding-top: 60px;}
.car_list_box{ 
		margin: 15px 30px;
    }
.car_list_num{ color: #9494a9; margin:25px 0 0 0; font-size: 12px;}

/*翻页*/
.m-pages { height: 34px; line-height: 34px; position: relative; font-size: 1.5rem; padding: 10px 15px 15px; /*background: #fff; */}
.m-pages-pre, .m-pages-next { display: block; width: 80px; height: 32px; /*background: #fff;*/ border: 1px solid #D2D2D2; /*color: #3369B1;*/ text-align: center; border-radius: 3px; }
.m-pages-pre { float: left; }
.m-pages-next { float: right; }
.m-pages-none { color: #B7B7B7; }
.m-pages-num { width: 101px; height: 32px; /*background: #fff; */border: 1px solid #D2D2D2; position: absolute; top: 10px; left: 50%; margin-left: -51px; color: #666; border-radius: 3px; }
.m-pages-num-arrow { width: 32px; height: 100%; border-left: 1px solid #D2D2D2; float: right; text-align: center; background: url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_arrow_down.png) no-repeat center center; background-size: 13px 8px; }
.m-pages-num-con { width: 68px; height: 100%; text-align: center; float: left; }
.m-pages select { width: 103px; height: 34px; position: absolute; top: 10px; left: 50%; margin-left: -51px; opacity: 0; }

/*二级标签切换*/
.tags-sub{position:absolute; /*top:0;*/ bottom:0; right:0; font-size:1.6rem;}
.tags-sub li{float:left; margin:0 25px 0 0;}
/*.tags-sub li:last-child{ margin: 0 0 0 10px;}*/
.tags-sub li a{color:#9494a9; display:block; height:58px; line-height:60px; /*line-height:28px;*/}
.tags-sub li.current a{/*color:#0A4E8A; border-bottom:2px solid #0A4E8A;*/ color:#5a5a78; border-bottom:2px solid #5a5a78;}
.tags-sub li.arrow{position:relative;}
.tags-sub li.arrow i, .tags-sub li.arrow s{width:0; height:4px; border:4px solid #999; border-color:#999 transparent; position:absolute; right:-15px;}
.tags-sub li.arrow i{border-width:4px 4px 0 4px; top:32px;}
.tags-sub li.arrow s{border-width:0 4px 4px 4px; top:21px;}
.tags-sub li.arrow-d-t s{border-color:#484764 transparent;}
.tags-sub li.arrow-t-d i{border-color:#484764 transparent;}
.tags-sub-left{right:20px;}


/*搜索*/
.search-outer{position:relative;}
.search-box{width:100%; height:40px; background:#f8f8fa; position:relative; z-index:50; display:table; padding:10px 0 8px; border-bottom: 1px #e0e0ec solid;}
.search-box .m-close-box{padding: 0 0 0 15px; display:table-cell; width:100%;}
.search-box .m-close-box-in{position:relative; width:100%;}
.search-box .m-close-box-in .m-s-btn-close{width:14px; height:14px; background:url(../img/ico_top_search.png) no-repeat 0 -34px; background-size:14px auto; position:absolute; top:12px; right:10px; text-indent:-999em; z-index:10;}
.search-box input[type="text"], .search-box input[type="search"]{width:100%; height:38px; line-height:38px; font-size:1.6rem; color:#b7b7b7; vertical-align:middle; padding:0; box-sizing:content-box; border:none; box-shadow:0px 0px 0px 1px #eaebf2 inset; text-indent:12px; position:relative; z-index:10; border-top-left-radius:5px; border-bottom-left-radius:5px; background-image:none;}
.search-box .m-btn-box{display:table-cell; width:67px; padding:0 25px 0 0;}
.search-box input[type="submit"]{
    width:46px; height:38px; border:1px solid #e0e0ec; border-left:none; background-color:#f8f8fa; background-image:url(../img/ico_top_search.png); background-repeat:no-repeat; background-position:15px -54px; background-size:14px auto; text-indent:-999em; cursor:pointer; vertical-align:middle; border-top-right-radius:5px; border-bottom-right-radius:5px;}

.search-pop{width:100%; background:#f8f8fa; position:absolute; top:55px; left:0; z-index:100; box-shadow:0 2px 2px rgba(0,0,0,0.2);}
.search-pop ul{padding:0 15px;}
.search-pop li{height:40px; line-height:40px; font-size:1.6rem; border-bottom:1px solid #ececec; position:relative;}
.search-pop li:last-child{border:none;}
.search-pop li a{display:block;}
/*.search-pop li em{font-size:1.4rem; color:#999; position:absolute; top:0; right:0; background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_arrow_right_s.png) no-repeat right center; background-size:6px auto; padding-right:12px;}*/
.search-pop li .ico-s-history, .search-pop li .ico-s-search{width:14px; height:17px; background:url(../img/ico_top_search.png) no-repeat; background-size:14px auto; padding-left:20px;}
.search-pop li .ico-s-search{background-position:0 3px;}
.search-pop li .ico-s-history{background-position:0 -14px;}
.search-b-opt{height:40px; line-height:40px; background:#f1f1f7; color:#666; border-top:1px solid #ececec; font-size:1.4rem;}
.search-b-opt .s-clear{float:left; margin:0 0 0 15px; color:#666;}
.search-b-opt .s-close{float:right; margin:0 15px 0 0; color:#666;}




/* 判断iphone4 */
@media screen and (device-width: 320px) and (device-height: 480px) {
	header {
	    display: block;
	}
	.fashao{ margin: 0 20px;}
     .keyword span {
    		padding: 0 16px;
    }
    .keyword .box-center1{
    		width: 280px;
    }
    .keyword .box-center2 {
    		width: 253px;
	}
	.keyword .box-center3 {
    		width: 267px;
	}
	.keyword .box-center4 {
    		width: 214px;
	}
	.keyword .box-center5 {
    		width: 280px;
	}
    
	.car_list_box{ margin: 20px;}
	.button_fixed{  padding: 0 20px;}
	.m-pages-pre, .m-pages-next { width: 60px;}
	.car_list_num{ color: #9494a9; margin:25px 0 15px 0;}
	
}


/* 判断iphone5 */
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
	
	.fashao{ margin: 0 20px;}
	 .keyword span {
    		padding: 0 16px;
    }
    .keyword .box-center1{
    		width: 280px;
    }
    .keyword .box-center2 {
    		width: 253px;
	}
	.keyword .box-center3 {
    		width: 267px;
	}
	.keyword .box-center4 {
    		width: 214px;
	}
	.keyword .box-center5 {
    		width: 280px;
	}
	
    
	.car_list_box{ margin: 20px;}
	.button_fixed{  padding: 0 20px;}
	.m-pages-pre, .m-pages-next { width: 60px;}
	.car_list_num{ color: #9494a9; margin:25px 0 15px 0;}
}

