@charset "utf-8";
/* CSS Document */
.mybuy_box{ width:100%;}
.mybuy_no{ padding-top:100px;} 
.mybuy_no span{width:64px; height:64px; margin: 0 auto; display: block;}
.mybuy_no p{ text-align:center; padding-top:10px; font-size:14px; color:#b7b7b7;}
.mybuy_no img{ width:64px; height:64px;}

.mt30{ width:100%; height:30px; clear:both;}

