@charset "utf-8";
/* CSS Document */

/*------------评价顾问---------------*/
.pjgw_box{ width:100%;}
.pjgw_title{border-bottom:#D6D6D6 solid 1px; line-height:49px; font-size:1.4rem; padding:0 10px;}
.pjgw-mian{ padding:0 10px; padding-bottom:10px;}
.pjgw-mian h2{ height:24px;line-height:24px; font-size:1.2rem; padding-top:10px;}
.pjgw-mian h2 span{ font-size:1.4rem; padding-right:10px;}
.pjgw-mian h2 img{width: 15px;height: 15px;vertical-align: middle;margin-left: 4px;}

.pjgw-mian p{ line-height:20px; font-size:1.2rem;white-space:normal; word-break:break-all;}

.input_box{height:113px; margin-right:10px; padding-top:10px;}
.bm_input{ width:97%;border:#ECECEC solid 1px; background:#fff; padding:10px; font-size:1.4rem; height:60px;white-space:normal; word-break:break-all;}
.input_box p{ height:20px; line-height:20px; font-size:12px; color:#999;}
