@charset "utf-8";
/* CSS Document */
.my_buycar{ width:100%;}
.bm_carpic{width:100%; height:200px;}
.bm_carpic img{ height:100%; width:100%;}

.bm_carname{ padding:10px;font-size:1.6rem; line-height:20px; padding-bottom:0px;}
.mt20{ width:100%; height:20px; clear:both;}
.mt10{ width:100%; height:10px; clear:both;}

.bm_gouc{ width:100%; background:#F5F5F5; clear:both; }
.bm_warn{ margin: 0 10px;font-size:1.2rem; color:#dd2727; line-height:20px;}

.xieyi{ padding:0 15px; line-height:25px; font-size:12px; padding-bottom:5px;}
.xieyi a{ text-decoration:underline; color:#dd2727;}