@charset "utf-8";
/* CSS Document */
.xx_center{ padding:0 10px; height:49px; line-height:49px; font-size:1.4rem; clear:both;}
.bort{ border-bottom:#ECECEC solid 1px;}
.bortop{ border-top:#ECECEC solid 1px;}
.xx_center span{width: 76px;float: left;color: #666;}

.gmcl{padding:10px;font-size:1.4rem;line-height:29px;}
.gmcl span{width: 76px;float: left;color: #666;}
.gmcl i{ float:left; width:70%; padding-bottom:10px;}
.xx_center s{ color:#b7b7b7; padding-right:10px;}