html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; /*vertical-align: baseline;*/ }
html { font-size: 62.5%; }
body { font-family: "STHeiti", Helvetica, Arial, sans-serif; background: #fff; line-height: 150%; color: #333333; font-size:1.2rem; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
legend { display: none; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; }
a { color: #5a5a78; text-decoration: none; }
article a { display: inline; }
ins{text-decoration:none;}
html { -webkit-text-size-adjust: none; }
/*禁用iphone中safari的字号自动调整*/

input[type="text"], input[type="button"], input[type="submit"], input[type="search"] { -webkit-appearance: none; border-radius: 0; }
/*去除iphone默认样式（input的圆角）*/
input[type="checkbox"] { margin: 0 3px 3px 4px; }
img { max-width: 100%; }
/*液态图片*/
video { margin-left: auto; margin-right: auto; max-width: 100%; }


/*液态视频  body背景颜色*/
.clear { clear: both; height: 0; overflow: hidden; }
.bgcolor{background-color:#f5f5f5;}

/*******common classes begin******/
.text-overflow-ellipsis { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.nowrap { white-space: nowrap; }
.float-left { float: left; }
.float-right { float: right; }
.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.transition-2ms{ -webkit-transition: all .2s; -moz-transition: all .2s; -ms-transition: all .2s; -o-transition: all .2s; transition: all .2s;}
.transition-4ms{ -webkit-transition: all .4s; -moz-transition: all .4s; -ms-transition: all .4s; -o-transition: all .4s; transition: all .4s;}
.border-box { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.border-box * { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }
.content-box { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.responsive { width: 100%; max-width: 100%; height: auto; display: block; }
.position-relative { position: relative; }
.position-absolute { position: absolute; }
.position-fixed { position: fixed; }
.absolute-center { position: absolute; left: 50%; top: 50%; }
.transform-center { -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.block-center { display: block; margin-left: auto; margin-right: auto; }
.border { border: solid 1px #e0e0ec; }
.border-top { border-top: solid 1px #e0e0ec; }
.border-right { border-right: solid 1px #e0e0ec; }
.border-bottom { border-bottom: solid 1px #e0e0ec; }
.border-left { border-left: solid 1px #e0e0ec; }
.radius-none { border-radius: 0; }
.radius-sm { border-radius: 2px; }
.radius-md { border-radius: 4px; }
.radius-lg { border-radius: 6px; }
.radius-1em { border-radius: 1em; padding-left: .6em; padding-right: .6em; }
.radius-2em { border-radius: 2em; padding-left: 1em; padding-right: 1em; }
.radius-circle { border-radius: 50%; }
.bg-white { background-color: #FFFFFF; }
.bg-grey { background-color: #ececf3; }
.hide { display: none !important; }
.vis-hide { visibility: hidden !important; }
.overflow-hidden { overflow: hidden; }
.clear-float:after { clear: both !important; content: ''; display: block; }
.btn-red-s { background-color: #f53e3e; color: #fff; font-size: 1.2rem; line-height: 1.2rem; display: inline-block; text-align: center; padding: 3px 5px; }
.btn-orange-alpha-s { color: #FF9900; font-size: 1.2rem; line-height: 1.2rem; display: inline-block; text-align: center; border: 1px solid #FF9900; }
/*******common classes end******/

/*头部导航*/
.header{width:100%; height:44px; background:#F8F8F8; position:relative; z-index:20; color:#565656;}
.header .logo{width:0px; padding-left:115px;overflow:hidden;font-size:0;line-height:0;height:30px; background:url(http://image.bitautoimg.com/taoche/tcyidong2014/m_tc_logo.png) no-repeat; background-size:115px 30px; float:left; text-align:-999em; margin:7px 0 0 15px;}
.header .btn-nav{font-size:1.6rem; height:44px; line-height:44px; float:right; margin:0 15px 0 10px;}
.header .btn-nav i{display:inline-block; width:0; height:6px; border:6px solid #666; border-color:#666 transparent; border-width:6px 6px 0 6px; margin:0 0 0 3px; vertical-align:-4px;}
.header .btn-search{width:50px; height:28px; border:1px solid #BFBFBF; border-radius:20px; float:right; margin:7px 0px 0 0; background:#FFF url(http://image.bitautoimg.com/uimg/mbt2014/images/m_header_nav_search.png) no-repeat 6px -118px; background-size:100px auto; text-indent:-999em;}
.header .btn-nav-show i{border-width:0 6px 6px 6px; vertical-align:3px; border-color:#666 transparent;}

.zhangh{float:right;width:0px;height:24px;padding-left:24px;font-size:0;line-height:0;overflow:hidden;display:block;background:url(http://image.bitautoimg.com/taoche/tcyidong2014/m_tc_headico.png) no-repeat; background-size:24px 24px;margin:10px 10px 0 10px; }
.zhangh_in{background:url(http://image.bitautoimg.com/taoche/tcyidong2014/m_tc_headico_in.png) no-repeat; background-size:24px 24px;}


/*导航弹出层*/
.header .pop-nav{position:absolute; top:44px; right:10px; font-size:1.6rem;}
.header .pop-nav i{display:block; width:0; height:8px; border:8px solid #105796; border-width:0 8px 8px 8px; border-color:#FDA84D transparent; position:absolute; top:-16px; right:24px;}
.header .pop-nav ul{width:256px; overflow:hidden; border-bottom:2px solid #e8811c; box-shadow:1px 1px 3px #333;}
.header .pop-nav ul li{float:left; text-align:center;}
.header .pop-nav ul li a{display:block; width:63px; height:44px; line-height:44px; background:#fda84d; color:#FFF; border-right:1px solid #e8811c; border-bottom:1px solid #e8811c;}



/*头部返回*/
.b-return{width:100%; height:39px; line-height:39px; color:#FFF; background:#ff9900; position:relative; z-index:19; text-align:center;position:relative;}
.b-return span{font-size:1.8rem;}
.b-return .opt{font-size:1.6rem; position:absolute; right:15px; color:#FFF;}
.b-return .opt-city{background:url(http://image.bitautoimg.com/uimg/mtc2014/images/m_ico_city.png) no-repeat left center; background-size:13px 18px; padding:0 0 0 20px;top:0;}
.b-return .btn-return{width:39px; height:39px; background:url(http://image.bitautoimg.com/uimg/mbt2014/images/m_header_nav_search.png) no-repeat -78px -76px; background-size:100px auto; position:absolute; top:0; left:6px; text-indent:-999em;}
.b-return-txt .btn-return{width:auto; text-indent:0; color:#fff; font-size:1.6rem; padding:0 0 0 30px;}


/*footer*/
.footer{width:100%; height:45px; line-height:45px; background:#333; font-size:1.2rem; margin:15px 0 0;}
.footer em{color:#444;}
.footer a{color:#999; padding:0 10px;}
.footer a.current{color:#FC9933;}
.footer .left-part{float:left;}
.footer .right-part{float:right;}
.footer .survey{position:relative;}
.footer .survey b{width:6px; height:6px; border-radius:6px; background:#ff9933; position:absolute; top:-2px; right:6px;}


/*按钮*/
.yellowbut{background-color:#ff9900;border-radius: 3px;color: #ffffff;display: block;font-size: 1.6rem;height: 40px;line-height: 40px;text-align: center;margin:0 15px;}
.hslie{height:12px;background-color:#f5f5f5;width:100%;}

/*验证码按钮*/
.hqyzm{background-color:#ffffff;border-radius: 3px;border:1px solid #dedede;color: #666666;display: inline-block;font-size: 1.4rem;height: 30px;line-height: 30px;text-align: center;padding:0 10px;}
.cxhqyz{background-color:#ffffff;border-radius: 3px;border:1px solid #eeeeee;color: #cccccc;display: inline-block;font-size: 1.4rem;height: 30px;line-height: 30px;text-align: center;padding:0 10px;cursor:default;}
.hswz{color:#b7b7b7;}


/*头部分享*/
.fengxbox a{width:0px;height:39px;padding-left:45px;font-size:0;line-height:0;overflow:hidden;display:block;position:absolute;right:5px;top:0;background:url(http://image.bitautoimg.com/taoche/tcyidong2014/fengxiang.png) no-repeat; background-size:250px 40px;background-position:-1px 0px;z-index:3;}
.fengxbox a.hover{height:40px;border-left:1px solid #ffffff;background:url(http://image.bitautoimg.com/taoche/tcyidong2014/fengxiang.png) no-repeat #ed8115;background-size:250px 40px;background-position:-1px 0px;}
.fxlist{width:118px;position:absolute;right:0;top:39px;background-color:#ed8115;z-index:2;}
.fxlist li{height:43px;line-height:43px;border-top:1px solid #ffffff;}
.fxlist li a{color:#ffffff;height:43px;width:69px;padding-left:48px;display:block;font-size:1.4rem;position:relative;text-align:left;}
.fxlist li a em{position:absolute;background:url(http://image.bitautoimg.com/taoche/tcyidong2014/fengxiang.png) no-repeat;background-size:250px 40px;display:block;}
.fxlist li.weix a em{width:24px;height:20px;background-position:-54px -11px;left:15px;top:13px;}
.fxlist li.qqkj a em{width:23px;height:20px;background-position:-83px -11px;left:16px;top:12px;}
.fxlist li.sina a em{width:22px;height:18px;background-position:-110px -12px;left:16px;top:13px;}
.fxlist li.tenx a em{width:23px;height:21px;background-position:-146px -13px;left:16px;top:13px;}
.fxlist li.renren a em{width:28px;height:15px;background-position:-178px -15px;left:13px;top:15px;}

/*最小高*/
.minh500{min-height:550px;}

/*易车二手车APP的下载banner*/
.ad-top{width:100%; height:50px; background-repeat:no-repeat; background-position:top center; background-size:320px auto; overflow:hidden; position:relative;}
.ad-top .ad-btn-close{width:22px; height:22px; background:url(http://image.bitautoimg.com/uimg/mbt2014/cheyouhui/images/ad_cheyouhui_btn_close.png) no-repeat; background-size:22px 22px; position:absolute; top:16px; right:3px; cursor:pointer; text-indent:-999em;}
.ad-top .ad-btn-download{height:24px; line-height:24px; color:#FFF; background:#F08800; border:1px solid #D37002; padding:0 10px; border-radius:4px; font-size:1.2rem; position:absolute; top:14px; right:30px;}
.ad-top-yiche{background-color:rgba(0, 0, 0, 0.8);}

.ad-top-yiche .ad-app-con{overflow:hidden; position:absolute; top:5px; left:10px;}
.ad-top-yiche .ad-app-con .app-txt{float:left;}
.ad-top-yiche .ad-app-con .app-logo-erc{width:40px; height:40px; background:url(http://image.bitautoimg.com/uimg/mtc2014/images/erc_app.png) no-repeat; background-size:40px 40px; float:left; margin:0 10px 0 0;}
.ad-top-yiche .ad-app-con .app-tt-erc{font-size:1.8rem; color:#fff; line-height:22px; font-weight:bold;}
.ad-top-yiche .ad-app-con .app-sub-erc{font-size:1.2rem; color:#ff9900;}

/*20151224易车二手车APP推广*/
.ad-app{width:100%; height:53px; background:#f0f0f0; overflow:hidden;}
.ad-app-top{border-bottom:1px solid #ececec;}
.ad-app.ad-app-content,.ad-app.ad-app-fixed{ background-color: #fff;border-top:1px solid #ececec;border-bottom:1px solid #ececec;}
.ad-app-fixed{border-top:1px solid #ececec; /*position:fixed; left:0; bottom:0;*/ opacity:0.95; z-index:98;}
.ad-app .ad-close{width:11px; height:11px; background:url(http://image.bitautoimg.com/taoche/ercyidong2015/app-banner-close.png) no-repeat; background-size:11px auto; float:left; text-indent:-999em; margin:20px 0 0 15px;}
.ad-app img{width:40px; height:40px; display:block; float:left; margin:7px 0 0 15px;}
.ad-app dl{float:left; margin:8px 0 0 10px;}
.ad-app dt{font-size:1.5rem; line-height:20px; color: #333333;}
.ad-app dd{font-size:1.2rem; color: #999999;}
.ad-app .ad-btn-download{width:70px; height:23px;line-height: 25px; border:1px solid #ff6d02; color:#ff6d02; text-align:center; border-radius:3px; float:right; font-size:1.3rem; margin:14px 15px 0 0;}

/*APP推广弹出层*/
.mark.ad-app-mark .this-alert > .js-close { position: absolute; width: 28px; height: 28px; right: -14px; top: -14px; z-index: 1; background: url("http://image.bitautoimg.com/taoche/ercyidong2015/app-close.png") no-repeat center center; background-size: 28px 28px; }
.mark.ad-app-mark .this-alert { width: 60%; text-align: center; padding: 45px 0; background: url("http://image.bitautoimg.com/taoche/ercyidong2015/app-bg.png") center top no-repeat #ffffff; background-size: 100%; border-radius: 4px; }
.mark.ad-app-mark .this-alert > .this-title { color: #333; font-size: 1.8rem; font-weight: bold; margin: 14px 0 8px; }
.mark.ad-app-mark .this-alert > p { color: #666; font-size: 1.4rem; }
.mark.ad-app-mark .this-alert .yellowbut { width: 70%; margin: 25px auto 0; font-size: 1.4rem; height: 36px; line-height: 36px; border-radius: 4px;}
/*APP推广弹出层 小屏幕适配*/
@media screen and (max-width: 320px) {
    .mark.ad-app-mark .this-alert{
        padding: 29px 0 19px;
    }
}

/*黑色背景层*/
.mark { position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.4); top: 0; left: 0; z-index: 999; }

/*4月20日添加 广告图片*/
.maxad{margin:10px 15px 0 15px;text-align:center;}
.maxad_2{margin:0px 0px  0px 0px;text-align:center;overflow:hidden;margin-bottom:-5px;}

/*返回顶部
.m-r-top{width:34px; height:34px; display:block;  position:fixed; bottom:45px; right:15px;}
.m-r-top div{width:34px; height:34px; background:#999999; border-radius:8px; filter:alpha(opacity=70); -moz-opacity:0.7; opacity:0.7; position:absolute; top:0; left:0; z-index:1}
.m-r-top span{width:20px; height:3px; background:#FFF; display:block; position:absolute; top:8px; left:7px; z-index:2}
.m-r-top b{display:block; width:0; height:4px; border:6px solid #FFF; border-color:#FFF transparent; border-width: 0 10px 10px 10px; position:absolute; top:12px; left:7px; z-index:2;}

顶部返回
.m_tctop{height:40px;line-height:40px;padding:0 15px;background-color:#f0f0f0;}
.fanh{float:left;padding-left:17px;background: url(http://image.bitautoimg.com/taoche/tcyidong2014/fanh_ico.png) no-repeat left 12px; background-size:12px 17px;color:#fffefe;font-size:1.6rem;color:#666666;}
.fhclose{width:0px;padding-left:22px;font-size:0;overflow:hidden;line-height:0;height:22px;margin-top:8px;float:right;background: url(http://image.bitautoimg.com/taoche/tcyidong2014/tc_gb.png) no-repeat left top; background-size:150px 30px;}
*/




/*10月13号4个导航效果*/
.nav_list4 ul li{width:25%;}
/*---luoli--*/
.bm_qxbutton{ margin: 0 10px;height:38px; padding-top:10px; }
.bm_qxbutton a{ width:48%; height:36px; text-align:center; line-height:36px; font-size:1.6rem;}
.bm_qxcontion{ border:#FFAB4C solid 1px; border-radius:5px; color:#FFAB4C; float:left;}
.bm_qxsure{border:#FFC37F solid 1px; border-radius:5px; color:#FFC37F; float:right;}

/*按钮不可点击状态*/
.bkdjbut{background-color:#d2d2d2;border-radius: 3px;color: #ffffff;display: block;font-size: 1.6rem;height: 40px;line-height: 40px;text-align: center;margin:0 15px;}


/*框架*/
.wrap{padding:0 15px;}
.wrap-b10{padding-bottom:10px;}



/*11月3日添加导航*/
.nav{width:100%; position:relative; z-index:19; }
.nav ul li{width:19.93%; float:left; text-align:center;}
.nav ul li a{display:block; width:100%; height:40px; line-height:40px; background:#ff9900; font-size:1.6rem; color:#FFF; border-left:1px solid #e87f03;}

/*标题*/
.m_tit{ height: 50px; line-height: 50px; background: #fff; /*border-bottom:1px solid #ECECEC;*/ font-size: 1.8rem; margin: 12px 0 0; position: relative; overflow: hidden;/* box-shadow: 0px -1px 0 #ECECEC inset;*/border-bottom:1px solid #ECECEC;}
.m_tit h3 { color: #2F2F2F; padding: 0 0 0 15px; font-weight: bold; float: left; }


/*右侧浮动层*/
.m-r-box{position:fixed; z-index:999; right:15px; bottom:90px;}

/*返回顶部*/
.m-r-top{display:block; width:53px; height:53px; border:1px solid #d4d4d4; border-radius:50%; color:#666; font-size:1.2rem; text-align:center; margin-top:5px;background-color:#ffffff;}
.m-r-top .ico-top-arrow{width: 18px; height: 9px; background: url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_arrow_top.png) no-repeat; background-size: 18px 9px; margin:11px auto 0; }
.m-r-top p{margin:5px 0 0;}


/*顶 精 保  认*/
em.ico-jing{width:18px;height:18px;line-height:18px;font-size:1.2rem;overflow:hidden;border-radius:4px;background-color:#ff1515;}
em.ico_ding{width:18px;height:18px;line-height:18px;font-size:1.2rem;overflow:hidden;border-radius:4px;background-color:#499ad8;color:#fff}
em.ico_baoz{width:0px;padding-left:14px;height:16px;overflow:hidden;font-size:0;overflow:hidden;background:url(http://image.bitautoimg.com/taoche/tcyidong2014/bzrz_ico.png) no-repeat left top;background-size:32px 15px;display:inline-block;vertical-align:middle;}
em.ico_rengz{width:0px;padding-left:13px;height:15px;overflow:hidden;font-size:0;overflow:hidden;background:url(http://image.bitautoimg.com/taoche/tcyidong2014/bzrz_ico.png) no-repeat -17px top;background-size:32px 16px;display:inline-block;vertical-align:middle;}
em.ico-cu{ background-color: #1fca23;border: 1px solid #1fca23; border-radius: 4px;font-size: 1rem;  color: #fff; padding: 1px 2px;  vertical-align: 1px;}




/*默认是5个 当有4个导航时*/
.nav ul.nav_list4  li{width:24.9%;}


/*标题横向滚动*/
.scroll-block{height:32px; position:relative; margin:15px 0 0; overflow:hidden; overflow-x:scroll; -webkit-overflow-scrolling:touch; -ms-overflow-style:none; padding:0 5px; background:#fff;}
.scroll-block::-webkit-scrollbar{height:0px;}
.scroll-block .scroll-in{height:31px; width:100%; border-bottom:1px solid #eee; position:absolute; bottom:0; left:0; z-index:1;}
.scroll-block ul{font-size:1.6rem; line-height:16px; white-space:nowrap; position:relative; z-index:2;}
.scroll-block ul li{white-space:nowrap; display:inline-block;}
.scroll-block ul li a{display:block; color:#666; height:30px; line-height:1.0; border-bottom:none; padding:0 5px;}
.scroll-block ul li.current a{color:#ff6d02; border-bottom:2px solid #ff6d02; padding:0; margin:0 5px;}



/*顶部返回*/
.m_tctop{height:40px;line-height:40px;padding:0 15px;background-color:#f0f0f0;}
.fanh{float:left;padding-left:17px;background: url(http://image.bitautoimg.com/taoche/tcyidong2014/fanh_ico.png) no-repeat left 12px; background-size:12px 17px;color:#fffefe;font-size:1.6rem;color:#666666;}
.fhclose{width:0px;padding-left:22px;font-size:0;overflow:hidden;line-height:0;height:22px;margin-top:8px;float:right;background: url(http://image.bitautoimg.com/taoche/tcyidong2014/tc_gb.png) no-repeat left top; background-size:150px 30px;}


/*12月22日 添加返回右侧电话ico*/
.dingh{position:absolute;right:15px;width:0px;height:19px;padding-left:19px;font-size:0;line-height:0;overflow:hidden;background:url(http://image.bitautoimg.com/taoche/ercyidong2015/cljc_ico1.png) no-repeat;background-position:0 0;background-size:19px 19px;top:10px;}


/*12月 29日添加 下载易车二手车APP*/
.quxiazbox{position: fixed;height:189px;left:0;bottom:0;width:100%;background-color:#ffffff;}
.quxiaz{padding:30px 40px;position:relative;}
.quxiaz_text{background:url(http://image.bitautoimg.com/taoche/ercyidong2015/erc_ico.png) no-repeat;background-position:0px center;background-size:70px 70px;padding:0 0px 0 90px;min-height:70px;}
.quxiaz_text p{font-size:1.6rem;line-height:26px;padding-top:6px;}
.qxzbut{width:100%;height:44px;line-height:44px;color:#ffffff;font-size:1.6rem;text-align:center;display:block;background-color:#ff8800;border-radius:4px ;margin:15px 0px 0 0px;}
.dbfc_gb{position:absolute;right:15px;top:15px;}
.dbfc_gb a{width:0px;height:11px;padding-left:11px;font-size:0;line-height:0;overflow:hidden;background:url(http://image.bitautoimg.com/taoche/ercyidong2015/fcdb_gb.png) no-repeat;background-size:11px 11px;background-position:left top;display:block;}

/*12月31号  验证码新规范 */
.yzmxgbox{border-left:1px solid #ececec;float:right;dipsly:inline-block;height:20px;line-height:20px;padding:3px 0 3px 8px;}
.yzmxgf{color:#ff6d02;}
.yzmimg{float:right;dipsly:inline-block;}
.yzmimg img{vertical-align:middle;width:46px;height:20px;}
.yzmimg a img{width:15px;height:15px;margin-left:10px;}

/*2016-3-2添加下载易车二手车APP 新增加底部定位和 星星*/
.botfox{position:fixed;bottom:0;}
.ad-app.appbdnone{border-top:none;border-bottom:none;}
.ad-app dt div{background:url(http://image.bitautoimg.com/taoche/ercyidong2015/red_xinx_hover.png) no-repeat left 1px;background-size:81px 13px; width:82px;height:14px;display:block;float:right;margin-top:1px;margin-right:7px;margin-left:5px;}
.ad-app dt div em{height:14px;display:block;background:url(img/hs_xinx.png) no-repeat left top;background-size:82px 14px;}



/*----------------------------------------客户端适配-------------------------------------------*/
/* 判断iphone4 */
@media screen and (device-width: 320px) and (device-height: 480px) {
/*------------------最小高 start-------------------*/
.minh500{min-height:500px;}
.ad-app .ad-btn-download.qwann{width:auto;padding:0 6px;}
}

/* 判断iphone5 */
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
     /*------------------最小高 start-------------------*/
.minh500{min-height:500px;}
.ad-app .ad-btn-download.qwann{width:auto;padding:0 6px;}

}
