/*∑÷¿‡…∏—°*/
.bzfwbox{text-align:center;margin-bottom:10px;padding:110px 20px 25px 20px;}
.bzfw_bjbg1{background:url(http://image.bitautoimg.com/taoche/ercyidong2015/bmfw_zy.gif) no-repeat;background-size:68px 65px;background-position:center 28px;background-color:#ffffff;}
.bzfw_bjbg2{background:url(http://image.bitautoimg.com/taoche/ercyidong2015/bmfw_yan.gif) no-repeat;background-size:68px 65px;background-position:center 28px;background-color:#ffffff;}
.bzfw_bjbg3{background:url(http://image.bitautoimg.com/taoche/ercyidong2015/bmfw_tui.gif) no-repeat;background-size:68px 65px;background-position:center 28px;background-color:#ffffff;}
.bzfwbox strong{display:block;font-size:1.8rem;line-height:22px;margin-bottom:10px;}
.bzfwbox p{font-size:1.4rem;line-height:20px;color:#999999;}
.kqbmbox{padding:15px 0 10px;text-align:center;}
.kqbmbox span{color:#ff9900;background:url(http://image.bitautoimg.com/taoche/ercyidong2015/dianh_wuans.png) no-repeat;background-size:18px 17px;background-position:left center;padding-left:22px;margin-top:20px;display:inline-block;}