
/*用户中心*/
.yhzhox{padding-bottom:10px;margin:0px 15px 20px 15px;}
.yhzhox ul li a{width:100%;display:block;height:50px;line-height:50px;border-bottom:1px solid #e9e9e9;font-size:1.6rem;background:url(http://image.bitautoimg.com/uimg/mtc2014/images/more.jpg) no-repeat right center;background-size:9px 15px;color:#333333;}
.yhzhox ul li a strong{width:23px;height:23px;float:left;margin-right:8px;float:left;background:url(http://image.bitautoimg.com/taoche/tcyidong2014/yzh_bg2.png) no-repeat;background-size:130px 23px;}
.yhzhox ul li a strong.bg1{background-position:left top;margin-top:13px;}
.yhzhox ul li a strong.bg2{background-position:-24px top;margin-top:14px;}
.yhzhox ul li a strong.bg3{background-position:-48px top;margin-top:15px;}
.yhzhox ul li a strong.bg4{background-position:-72px top;margin-top:15px;}
.yhzhox ul li a strong.bg5{background:url(http://image.bitautoimg.com/taoche/ercyidong2015/bmcr_ico.jpg) no-repeat;background-size:23px 23px;background-position:left top;margin-top:13px;}

