/*筛选标题*/
.tt-first{width:100%; height:33px; border-bottom:1px solid #eee; position:relative; margin:15px 0 0;}
.tags-sub{position:absolute; top:0; left:12px; font-size:1.6rem;}
.tags-sub li{float:left; margin:0 10px 0 6px;}
.tags-sub li a{color:#666; display:block; height:32px; line-height:28px;}
.tags-sub li.current a{color:#ff6d02; border-bottom:2px solid #ff6d02;}
.tags-sub li.arrow{position:relative;margin-right:22px;}
.tags-sub li.arrow i, .tags-sub li.arrow s{width:0; height:4px; border:4px solid #c7c7c7; border-color:#AAA transparent; position:absolute; right:-12px;}
.tags-sub li.arrow i{border-width:4px 4px 0 4px; top:16px;}
.tags-sub li.arrow s{border-width:0 4px 4px 4px; top:5px;}
.tags-sub li.arrow-d-t s{border-color:#ff6d02 transparent;}
.tags-sub li.arrow-t-d i{border-color:#ff6d02 transparent;}
.tags-sub li.pxxjt a{background:url(http://image.bitautoimg.com/taoche/ercyidong2015/xjt_ico.png) no-repeat right center;background-size:13px 8px;padding-right:17px;}

/*车型横向列表*/
.tc-car-list-h{width:100%; border-bottom:1px solid #E9E9E9;  overflow:hidden; display:table; }
.tc-car-list-h a{display:block; padding:15px; position:relative;}
.tc-car-list-h .img-box{width:105px; height:70px; margin-right:8px; display:table-cell;}
.tc-car-list-h .img-box img{width:105px; display:block;}
.tc-car-list-h .txt-box{display:table-cell; padding:0 10px; vertical-align:top; line-height:17px;}
.tc-car-list-h .txt-box h4{font-size:1.4rem; height:36px; overflow:hidden; text-overflow:ellipsis; text-overflow:-o-ellipsis-lastline; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.tc-car-list-h .txt-box .price{font-size:1.6rem; color:#FE6601;}
.tc-car-list-h .txt-box .time{color:#999; font-size:1.2rem;}
.tc-car-list-h .txt-box em{font-size:1.0rem; color:#fff; background:#23B79F; padding:1px 2px; vertical-align:1px}
.tcdiq{position:absolute;right:15px;bottom:15px;color:#999999; }


/*顶 精 保  认*/
.txt-box em.ico-jing{width:18px;height:18px;font-size:1.2rem;overflow:hidden;border-radius:4px;background-color:#ff1515;}
.txt-box em.ico_ding{width:18px;height:18px;font-size:1.2rem;overflow:hidden;border-radius:4px;background-color:#499ad8;color:#fff}
.txt-box em.ico_baoz{width:0px;padding-left:14px;height:16px;overflow:hidden;font-size:0;overflow:hidden;background:url(http://image.bitautoimg.com/taoche/tcyidong2014/bzrz_ico.png) no-repeat left top;background-size:32px 15px;display:inline-block;vertical-align:middle;}
.txt-box em.ico_rengz{width:0px;padding-left:13px;height:15px;overflow:hidden;font-size:0;overflow:hidden;background:url(http://image.bitautoimg.com/taoche/tcyidong2014/bzrz_ico.png) no-repeat -17px top;background-size:32px 16px;display:inline-block;vertical-align:middle;}
.txt-box em.ico-cu{ background-color: #1fca23;border: 1px solid #1fca23; border-radius: 4px;font-size: 1rem;  color: #fff; padding: 1px 2px;  vertical-align: 1px;}

/*11月3号添加 二级页签导航*/
.second-tags { height: 49px; line-height: 50px; background: #fff; font-size: 1.5rem; border-bottom: 1px solid #ececec; }
.second-tags ul { width: 100%; display: table; }
.second-tags li { display: table-cell; text-align: center; }
.second-tags li a { color: #828282; display: block; }
.second-tags li a span { padding: 0 0 14px; }
.second-tags li.current a { color: #ff6d02; }
.second-tags li.current a span { border-bottom: 2px solid #ff6d02; }

/*sort*/
.sort { font-size: 1.4rem; background: #fff; padding: 0 10px; }
.sort li { float: left; text-align: center; }
.sort li a { display: block; height: 33px; line-height: 33px; color: #666;  border-radius: 4px; margin: 10px 5px 0; overflow: hidden; }

.sort2 li { width: 50%; }
.sort3 li { width: 33.3333%; }
.sort4 li { width: 25%; }
.sort5 li { width: 20%; }

.sort-bg-white li a { background: #fff; height: 36px; line-height: 36px; border: 1px solid #d2d2d2; color: #333; }
.sort-pop li a { position: relative; }
.sort-pop li i { width: 0; height: 0; border-width: 4px 4px; border-style: solid; border-color: transparent #d2d2d2 #d2d2d2 transparent; position: absolute; bottom: 3px; right: 3px; z-index: 2; /*border-bottom-right-radius:3px;*/ }
/*.sort-pop li.current a { border-color: #297dcc; color: #297dcc; }
.sort-pop li.current i { border-color: transparent #297dcc #297dcc transparent; }
*/

/*更多*/
.btn-more { width: 100%; height: 50px; line-height: 50px; background: #fff; border-top: 1px solid #EDEDED; text-align: center; display: block; font-size: 1.4rem; color: #666; }
    .btn-more i { background: url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_arrow_right_s.png) no-repeat right center; background-size: 6px 11px; padding-right: 12px; }
.btn-add-more i { background: url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_arrow_down_s.png) no-repeat right center; background-size: 11px 6px; padding-right: 17px; }

/*图文块*/
.pic-txt { overflow: hidden; padding: 0 15px 18px; background: #fff; position: relative;}
.pic-txt li { float: left; width: 50%; margin: 15px 0 0; }
.pic-txt li a { display: block; }
.pic-txt li:nth-child(odd) a { margin-right: 5px; }
.pic-txt li:nth-child(even) a { margin-left: 5px; }
.pic-txt li img { display: block; width: 100%; }
.pic-txt li p { font-size: 1.6rem; line-height: 20px; margin: 9px 0 0; /*height:20px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;*/ overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.pic-txt li em { font-size: 1.2rem; color: #B7B7B7; display: block; margin: 3px 0 0; }
.pic-txt  b { font-size: 1.3rem; color: #DD2727; display: block; margin: 4px 0 0; }


/*新闻图文混排块*/
.card-news { width: 100%; overflow: hidden; background: #fff; }
.card-news li { border-bottom: 1px solid #ECECEC; overflow: hidden; padding: 0 15px 12px; margin: 14px 0 0; }
.card-news li:last-child { border-bottom: none; }
.card-news a { display: block; overflow: hidden; }
.card-news .img-box { width: 90px; height: 60px; float: left; margin-right: 10px; position: relative; }
.card-news .img-box img { display: block; width: 100%; }
.card-news h4 { font-size: 1.6rem; line-height: 20px; margin-top:5px;}
.card-news span{height:60px;line-height:60px;font-size:1.4rem;color:#333333;width:5px;margin-right:10px;float:left;display:block;margin-left:5px;}
.card-news span.on{color:#ff8a35;}
.card-news em{font-size:1.2rem;color:#dd2727;line-height:20px;}
.card-news p{color:#b7b7b7;font-size:1.2rem;}
.card_text h4{margin-top:0;line-height:21px;margin-bottom:2px;}

/*行情*/
.news-list { background: #fff; overflow: hidden; }
.news-list li { padding: 13px 15px; border-bottom: 1px solid #EEEEEE; }
.news-list li:last-child { border-bottom: none; }
.news-list a { display: block; }
.news-list p { font-size: 1.5rem; line-height: 1.5; margin: 0 0 3px; }


.pic-txt-car li em{margin:0;display:inline-block;margin-top:-1px;color:#ffffff; text-align:center;vertical-align:middle;}
.pic-txt li p.textdown{font-size:1.2rem;color:#b7b7b7;margin:0px 0 0;}


.pic-txt-car li em.ico_rengz{margin-top:-2px;}


/*12月24 添加补丁新规范*/
.mler15{width:auto;margin-left:15px;margin-right:15px;}