@charset "utf-8";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";

html,
body{
    min-height: 100%;
    background-color: #f8f8f8;
}

.container-fluid{
    padding: 15px 10px;
}
.washing-order{
    position: relative;
    padding: 0 5px;
    margin-bottom: 18px;
    border: 1px solid #ececec;
    border-radius: 2px;
    background-color: #fff;
    @include box-shadow(1px 1px 1px #e6e6e6);

    .washing-order-header{
        padding: 20px 10px 15px;
        border-bottom: 1px solid #ececec;
        font-size: 1.5rem;
        line-height: 1;
        span{
            float: right;
            font-size: 1.2rem;
            color: #ff4f50;
            &.has-refund{
                color: #b7b7b7;
            }
            &.has-pay{
                color: #009900;
            }
        }
    }
    .washing-order-details{
        padding: 10px;
        border-bottom: 1px solid #ececec;

        h3{
            margin-bottom: 4px;
            font-size: 1.7rem;
        }
        p{

            color: #666666;
        }
    }
    .washing-order-footer{
        position: relative;
        padding: 10px 80px 10px 10px;
        .paying-code{
            color: #ff9900;
        }
        .paying-remaintime{
            font-size: 1.2rem;
            color: #b7b7b7;
        }
        .btn-reget{
            left: auto;
            right: 10px;
            margin-top: -10px;
            padding: 0 .6em;
            font-size: 1.2rem;
            line-height: 20px;
            border-radius: 1em;
            background-color: #dedede;
            &.active{
                background-color: #ff9900;
            }
        }
    }
}

.page-washingcar-order{
    .footer{
        color: #B7B7B7;
    }
}