*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.weixin-9 {
  background: url("../img/beijing.jpg") repeat-y center top #fee054;
  background-size: 100% auto;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  overflow-y: scroll;
}
.weixin-9 .header .banner {
  position: relative;
  width: 84%;
  margin: -12% auto 0;
}
.weixin-9 .section-1 {
  padding: 15px 30px 30px;
}
.weixin-9 .section-1 > h6 {
  text-align: center;
  margin-bottom: 10px;
}
.weixin-9 .section-1 .p-1,
.weixin-9 .section-1 .p-2 {
  color: #362e2b;
  font-size: 1.5rem;
  font-weight: bold;
  text-indent: -20px;
  padding-left: 20px;
}
.weixin-9 .section-1 .p-1 .t-red,
.weixin-9 .section-1 .p-2 .t-red {
  color: #f64c54;
  padding-right: 5px;
}
.weixin-9 .section-1 .p-2 {
  text-indent: 0;
  padding-left: 0;
}
.weixin-9 .section-1 .p-2 .t-red {
  padding-right: 15px;
}
.weixin-9 .section-1 .img-1 {
  margin: 10px auto;
}
.weixin-9 .section-1 .btn-ljcy {
  padding: 25px 0 15px;
  text-align: center;
}
.weixin-9 .section-1 .wx9-article > h6 {
  margin-bottom: 12px;
  text-align: center;
}
.weixin-9 .section-1 .wx9-article p {
  line-height: 1.6;
  margin-bottom: 4px;
  font-size: 1.3rem;
}
.weixin-9 .section-1 .wx9-article p.wx9-article-bottom {
  margin-top: 18px;
}
