@charset "utf-8";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";

*,
*:before,
*:after {
    @include box-sizing();
}

.weixindaofen-13 {
    background: #ff4126;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow-y: scroll;

    .header {
        position: relative;
        .header-title{
            position: absolute;
            top: 39%;
            left: 0;
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
            color: #3b1b10;
        }
    }

    .note {
        padding: 0 15px;
        font-size: 15px;
        color: #ad301e;
    }

    .section-1 {
        padding: 15px 15px 30px;
    }
}

.title-center {
    position: relative;
    padding:0 30%;
    margin-bottom: 9px;
    font-size: 18px;
    color: #ffe400;
    font-weight: bold;
    text-align: center;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 10px;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background-color: #ffe400;
    }
    &:before {
        left: 30%;
    }
    &:after {
        right: 30%;
    }

    i {
        position: absolute;
        left: 0;
        top: 11px;
        z-index: -1;
        height: 1px;
        width: 30%;
        background-color: #ffe400;
        &.right-hr{
            left: auto;
            right: 0;
        }
    }
}

p{
    font-size: 1.3rem;
    color: #ffffff;
    line-height: 1.6;
    .highlight{
        color: #0000ff;
    }
}

.img-step{
    margin-bottom: 21px;
    position: relative;
    padding: 8px;

    .img-small{
        position: absolute;
        left: -9px;
        top: 38%;
        width: 61%;
    }
}

.btn-open-weixin{
    margin: 30px 0;
    padding: 0 8px;
}

strong{
    font-weight: bold;
}

.link-tel{
    color: #0000ff;
    text-decoration: underline !important;
}