
/*v2.7 5ÔÂ11Ñ¯µ×¼Û*/
.wrap  .btn-orange{border-radius:4px;background-color:#ff9933;border:1px solid #ff9933;}
.maich_bg{margin:40px 0 40px 0;padding-left:10%;height:164px;}
.maich_bg img{width:164px;height:164px;float:left;margin-right:6%;}
.maic_wenz{margin-top:35px;float:left;display:inline;}
.maic_wenz p{height:21px;line-height:21px;background:url(http://image.bitautoimg.com/taoche/ercyidong2015/duigou_01.png) no-repeat;background-size:15px 15px;background-position:left 3px;font-size:1.5rem;padding-left:21px;}
.mrb10{margin-right:6%;}
.mrb10 img{margin-right:0;}