@charset "UTF-8";
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*ultilities*/
.flexbox {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.flexbox-item,
.flexbox > * {
  display: block;
  -webkit-box-flex: 1.0;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

/*左图右文 left img right article*/
.weixin-7 > header {
  text-align: center;
  padding: 0 15px;
  border-bottom: 1px solid #d6d6d6;
}
.weixin-7 > header nav {
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}
.weixin-7 > header nav ul li {
  padding: 13px 0 14px;
  font-size: 1.6rem;
  line-height: 1;
}
.weixin-7 > header ul li.current {
  color: #0e6bc1;
  border-bottom: 2px solid #0e6bc1;
}
.weixin-7 > section {
  padding: 15px;
}
.weixin-7 > section footer {
  font-size: 1.2rem;
  color: #b7b7b7;
  line-height: 1;
}
.weixin-7 > section footer .footer-time {
  margin-right: 14px;
}
.weixin-7 > section footer .footer-message {
  float: right;
  padding-left: 19px;
  background: url("../img/icon-message.png") left 0 no-repeat;
  background-size: 13px 11px;
}
.weixin-7 > section footer .footer-type {
  float: right;
  margin-top: -2px;
  margin-left: 10px;
  background: url("../img/icon-tuiguang.png") no-repeat;
  background-size: 32px 15px;
  width: 32px;
  height: 15px;
}
.weixin-7 > section footer .footer-type.icon-bendi {
  background-image: url("../img/icon-bendi.png");
}
.weixin-7 > section footer .footer-type.icon-huodong {
  background-image: url("../img/icon-huodong.png");
}
.weixin-7 > section footer .footer-type.icon-zhibo {
  background-image: url("../img/icon-zhibo.png");
}
.weixin-7 > section.wx7-yaowen > article,
.weixin-7 > section.wx7-xinche > article {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ededed;
}
.weixin-7 > section.wx7-yaowen .col-2-lira,
.weixin-7 > section.wx7-xinche .col-2-lira {
  position: relative;
  background-color: #fff;
  font-size: 1.6rem;
}
.weixin-7 > section.wx7-yaowen .col-2-lira > :first-child,
.weixin-7 > section.wx7-xinche .col-2-lira > :first-child {
  float: left;
  width: 90px;
  height: 60px;
  margin-right: 10px;
}
.weixin-7 > section.wx7-yaowen .col-2-lira > :last-child,
.weixin-7 > section.wx7-xinche .col-2-lira > :last-child {
  position: relative;
  width: 100%;
  padding-left: 100px;
}
.weixin-7 > section.wx7-yaowen .col-2-lira > div,
.weixin-7 > section.wx7-xinche .col-2-lira > div {
  height: 60px;
  line-height: 1.3;
}
.weixin-7 > section.wx7-yaowen .col-2-lira > div > p,
.weixin-7 > section.wx7-xinche .col-2-lira > div > p {
  height: calc(2em * 1.3);
  height: -webkit-calc(2em * 1.3);
  overflow: hidden;
}
.weixin-7 > section.wx7-yaowen .col-2-lira > div > p.icon-play,
.weixin-7 > section.wx7-xinche .col-2-lira > div > p.icon-play {
  text-indent: 21px;
  background: url("../img/icon-play.png") left 1px no-repeat;
  background-size: 16px 16px;
}
.weixin-7 > section.wx7-yaowen .col-2-lira footer,
.weixin-7 > section.wx7-xinche .col-2-lira footer {
  position: absolute;
  width: 100%;
  padding-left: inherit;
  bottom: 0;
  left: 0;
}
.weixin-7 > section.wx7-yaowen .col-1-2row > h1,
.weixin-7 > section.wx7-xinche .col-1-2row > h1 {
  font-size: 1.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  margin-bottom: 14px;
}
.weixin-7 > section.wx7-yaowen .col-1-2row > figure,
.weixin-7 > section.wx7-xinche .col-1-2row > figure {
  font-size: 0;
}
.weixin-7 > section.wx7-yaowen .col-1-2row > figure.one-img,
.weixin-7 > section.wx7-xinche .col-1-2row > figure.one-img {
  margin-bottom: 15px;
}
.weixin-7 > section.wx7-yaowen .col-1-2row > figure > div,
.weixin-7 > section.wx7-xinche .col-1-2row > figure > div {
  display: inline-block;
  width: calc((100% - 20px) / 3);
  width: -webkit-calc((100% - 20px) / 3);
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}
.weixin-7 > section.wx7-yaowen .col-1-2row > figure > div:nth-child(3n),
.weixin-7 > section.wx7-xinche .col-1-2row > figure > div:nth-child(3n) {
  margin-right: 0;
}
.weixin-7 > section.wx7-shuoche {
  position: relative;
  padding: 15px 0;
}
.weixin-7 > section.wx7-shuoche > * {
  padding-left: 15px;
  padding-right: 15px;
}
.weixin-7 > section.wx7-shuoche .wx7-sepa {
  position: absolute;
  width: 100%;
  height: 12px;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
}
.weixin-7 > section.wx7-shuoche .wx7-sepa.wx7-sepa-c {
  position: relative;
}
.weixin-7 > section.wx7-shipin > h1,
.weixin-7 > section.wx7-shuoche > h1 {
  font-size: 1.8rem;
  line-height: 1;
  margin: 14px 0;
}
.weixin-7 > section.wx7-shipin > h1 small,
.weixin-7 > section.wx7-shuoche > h1 small {
  position: relative;
  bottom: -4px;
  font-size: 1.2rem;
  color: #b7b7b7;
}
.weixin-7 > section.wx7-shipin .wx7-video-box,
.weixin-7 > section.wx7-shuoche .wx7-video-box {
  font-size: 0;
}
.weixin-7 > section.wx7-shipin .wx7-video-box > figure,
.weixin-7 > section.wx7-shuoche .wx7-video-box > figure {
  display: inline-block;
  width: calc((100% - 10px) / 2);
  width: -webkit-calc((100% - 10px) / 2);
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.4rem;
}
.weixin-7 > section.wx7-shipin .wx7-video-box > figure h2,
.weixin-7 > section.wx7-shuoche .wx7-video-box > figure h2 {
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 8px 0 6px;
}
.weixin-7 > section.wx7-shipin .wx7-video-box > figure p,
.weixin-7 > section.wx7-shuoche .wx7-video-box > figure p {
  font-size: 1.2rem;
  color: #b7b7b7;
}
.weixin-7 > section.wx7-shipin .wx7-video-box > figure p :first-child,
.weixin-7 > section.wx7-shuoche .wx7-video-box > figure p :first-child {
  padding-left: 10px;
  background: url("../img/icon-play-times.png") left center no-repeat;
  background-size: 8px auto;
  margin-right: 15px;
}
.weixin-7 > section.wx7-shipin .wx7-video-box > figure p :last-child,
.weixin-7 > section.wx7-shuoche .wx7-video-box > figure p :last-child {
  padding-left: 15px;
  background: url("../img/icon-play-time.png") left center no-repeat;
  background-size: 12px auto;
}
.weixin-7 > section.wx7-shipin .wx7-video-box > figure .wx7-video-thumb,
.weixin-7 > section.wx7-shuoche .wx7-video-box > figure .wx7-video-thumb {
  position: relative;
}
.weixin-7 > section.wx7-shipin .wx7-video-box > figure .wx7-video-thumb:after,
.weixin-7 > section.wx7-shuoche .wx7-video-box > figure .wx7-video-thumb:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 5px;
  left: 5px;
  background: url("../img/icon-video-play.png") no-repeat;
  background-size: contain;
}
.weixin-7 > section.wx7-shipin .wx7-video-box > figure:nth-child(2n),
.weixin-7 > section.wx7-shuoche .wx7-video-box > figure:nth-child(2n) {
  margin-right: 0;
}
.weixin-7 .wx7-xl-header {
  padding: 0 13px;
}
.weixin-7 .wx7-xl-header nav ul li {
  font-size: 1.3rem;
  padding: 16px 0;
}
.weixin-7 .wx7-xiaoliang {
  counter-reset: xiaoliang 0;
  padding: 0;
}
.weixin-7 .wx7-xiaoliang > article {
  padding: 12px 13px 15px 55px;
  border-bottom: 1px solid #ededed;
  counter-increment: xiaoliang;
}
.weixin-7 .wx7-xiaoliang > article:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 13px;
  font-size: 1.1rem;
  line-height: 1;
  color: #0e6bc1;
}
.weixin-7 .wx7-xiaoliang > article.xiaoliang-1:before {
  content: url("../img/icon-hot-1.png");
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.weixin-7 .wx7-xiaoliang > article.xiaoliang-2:before {
  content: url("../img/icon-hot-2.png");
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.weixin-7 .wx7-xiaoliang > article.xiaoliang-3:before {
  content: url("../img/icon-hot-3.png");
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.weixin-7 .wx7-xiaoliang > article.xiaoliang-3 ~ :before {
  content: "No." counter(xiaoliang);
}
.weixin-7 .wx7-xiaoliang > article > div {
  line-height: 1;
}
.weixin-7 .wx7-xiaoliang > article > div h6 {
  font-size: 1.6rem;
  margin-bottom: 9px;
}
.weixin-7 .wx7-xiaoliang > article > div p:first-of-type {
  font-size: 1.4rem;
  color: #f00000;
  margin-bottom: 9px;
}
.weixin-7 .wx7-xiaoliang > article > div p:last-of-type {
  font-size: 1.2rem;
}
.weixin-7 .wx7-xiaoliang > article > div:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 13px;
  right: 0;
  top: calc(50% - 6.5px);
  top: -webkit-calc(50% - 6.5px);
  background: url("../img/icon-arrow.png") no-repeat;
  background-size: contain;
}
.weixin-7 .wx7-xiaoliang .col-2-lira {
  position: relative;
  background-color: #fff;
}
.weixin-7 .wx7-xiaoliang .col-2-lira > :first-child {
  float: left;
  width: 80px;
  height: 60px;
  margin-right: 15px;
}
.weixin-7 .wx7-xiaoliang .col-2-lira > :last-child {
  position: relative;
  width: 100%;
  padding-left: 95px;
}

#wx7-rili {
  position: relative;
}
#wx7-rili .wx7-rili-thumb {
  position: fixed;
  padding: 6px 9px 7px 10px;
  right: 20px;
  bottom: 100px;
  color: #ffffff;
  font-size: 1.3rem;
  line-height: 19px;
  background-color: #50a7f7;
  border-radius: 4px;
  white-space: nowrap;
}
#wx7-rili .wx7-rili-thumb:before {
  content: '';
  display: inline-block;
  width: 19px;
  height: 19px;
  line-height: 19px;
  margin-right: 10px;
  vertical-align: middle;
  background: url("../img/iconfont-rili.png") no-repeat;
  background-size: contain;
}
#wx7-rili .rili-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}
#wx7-rili .rili-mask .wx7-rili-details {
  position: fixed;
  bottom: 143px;
  right: 20px;
  width: 80%;
  background-color: #ffffff;
  border-radius: 4px;
}
#wx7-rili .rili-mask .wx7-rili-details > header {
  padding: 8px 11px 4px;
  text-align: center;
}
#wx7-rili .rili-mask .wx7-rili-details > header .rili-year {
  font-size: 1.3rem;
  color: #151515;
  line-height: 26px;
}
#wx7-rili .rili-mask .wx7-rili-details > header .rili-prev,
#wx7-rili .rili-mask .wx7-rili-details > header .rili-next {
  text-align: left;
}
#wx7-rili .rili-mask .wx7-rili-details > header .rili-prev:before,
#wx7-rili .rili-mask .wx7-rili-details > header .rili-next:before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("../img/icon-rili-prev.png") no-repeat;
  background-size: contain;
}
#wx7-rili .rili-mask .wx7-rili-details > header .rili-next {
  text-align: right;
}
#wx7-rili .rili-mask .wx7-rili-details > header .rili-next:before {
  background-image: url("../img/icon-rili-next.png");
}
#wx7-rili .rili-mask .wx7-rili-details > section {
  font-size: 0;
  border-top: 1px solid #ededed;
}
#wx7-rili .rili-mask .wx7-rili-details > section > span {
  display: inline-block;
  padding: 12px 0;
  width: 25%;
  text-align: center;
  font-size: 1.2rem;
  color: #141414;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
#wx7-rili .rili-mask .wx7-rili-details > section > span.rili-current {
  border: 1px solid #1f8ef5;
  position: relative;
}
#wx7-rili .rili-mask .wx7-rili-details > section > span.rili-current:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 5px solid transparent;
  border-right-color: #1f8ef5;
  border-bottom-color: #1f8ef5;
}
#wx7-rili .rili-mask .wx7-rili-details > section > span:nth-child(4n) {
  border-right: none;
}
#wx7-rili .rili-mask .wx7-rili-details > section > span.rili-disable {
  color: #aaaaaa;
}
#wx7-rili .rili-mask .wx7-rili-details > footer {
  padding: 11px 22px;
  font-size: 1.1rem;
  text-align: center;
  color: #8c8c8c;
}
