/*选车工具*/
/*黑色蒙版*/
.leftmask { position: fixed; width: 100%; height: 100%; background: rgba(0,0,0,0.3); z-index: 99; top: 0; }
    .leftmask:before, .leftmask:after { content: ''; position: absolute; width: 8px; height: 8px; top: 50%; margin-top: -4px; border-right: 4px solid #fff; border-bottom: 4px solid #fff; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
    .leftmask:before { right: 275px; }
    .leftmask:after { right: 285px; }
/*弹出层*/
.leftPopup { width: 250px; height: 100%; position: fixed; top: 0; right: 0; z-index: 100; overflow: hidden; font-size: 1.8rem; color: #333; }
    .leftPopup .first-list.absolute, .leftPopup .tt-list.absolute { position: absolute; width: 100%; }
    .leftPopup a { color: #333; }
    .leftPopup .swipeLeft { min-height: 100%; overflow: hidden; width: 250px; background: #fff; -webkit-transform: translate(250px, 0); transform: translate(250px, 0); /*-webkit-transform:translate(0, 0); 
	transform:translate(0, 0);*/ -webkit-transition: -webkit-transform 0.4s; transition: transform 0.4s; -webkit-backface-visibility: hidden; -webkit-transform-style: preserve-3d; -webkit-transform-origin: 0px 0px; }
    .leftPopup .swipeLeft-block { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); -webkit-transition: -webkit-transform 0.4s; transition: transform 0.4s; -webkit-backface-visibility: hidden; -webkit-transform-style: preserve-3d; -webkit-transform-origin: 0px 0px; }
    .leftPopup .swipeLeft-sub { background: #fff; }
    .leftPopup .swipe-h { height: 100%; overflow-x: hidden; overflow-y: scroll; position: relative; -webkit-overflow-scrolling: touch; -ms-overflow-style: none; }
        .leftPopup .swipe-h::-webkit-scrollbar { height: 0px; }
    /*列表*/
    .leftPopup li { height: 55px; line-height: 55px; padding: 0 20px; }
        .leftPopup li a { display: block; border-bottom: 1px solid #E9E9E9; }
        .leftPopup li.current a { color: #3369b1; }
        /*价格筛选*/
        .leftPopup li.filter { height: 75px; line-height: 16px; }
            .leftPopup li.filter div { border-bottom: 1px solid #E9E9E9; padding: 10px 0; }
            .leftPopup li.filter input[type="number"] { width: 50px; height: 33px; line-height: 35px; background: #fff; border: none; text-align: center; color: #333; font-size: 1.6rem; vertical-align: middle; padding: 0; border: 1px solid #D9D9D9; }
            .leftPopup li.filter .btn-go { width: 53px; height: 31px; background: #F8F8F8; padding: 0; color: #333; font-size: 1.6rem; vertical-align: middle; cursor: pointer; border: 1px solid #D2D2D2; }
            .leftPopup li.filter b { font-weight: normal; padding: 0 6px; }
            .leftPopup li.filter em.alert { color: #c00; font-size: 1.2rem; padding: 10px 0 0; display: block; }
        /*下箭头*/
        .leftPopup li.sub a { position: relative; }
            .leftPopup li.sub a:after { display: block; position: absolute; top: 21px; right: 0; width: 14px; height: 8px; background: url(http://image.bitautoimg.com/uimg/mbt2014/images/m_popup_arrow_img_gray.png) no-repeat 0 0; background-size: 14px auto; content: ''; font-size: 0; line-height: 0; color: transparent; }
        .leftPopup li.sub em { color: #1663A6; font-size: 1.4rem; position: absolute; right: 25px; top: 16px; line-height: 16px; }
        /*上箭头*/
        .leftPopup li.root { padding: 0; background: #F0F0F0; }
            .leftPopup li.root a { border-bottom-color: #F0F0F0; padding: 0 20px; position: relative; }
                .leftPopup li.root a:after { display: block; position: absolute; top: 21px; right: 20px; width: 14px; height: 8px; background: url(http://image.bitautoimg.com/uimg/mbt2014/images/m_popup_arrow_img_gray.png) no-repeat 0 -42px; background-size: 14px auto; content: ''; font-size: 0; line-height: 0; color: transparent; }
        /*checkbox label*/
        .leftPopup li label { border-bottom: 1px solid #E9E9E9; }
    /*二级列表*/
    .leftPopup .second-list { font-size: 1.4rem; }
        .leftPopup .second-list li { padding-left: 40px; }
    /*完成&清除*/
    .leftPopup .btn-bottom { width: 230px; height: 64px; line-height: 64px; background: #F0F0F0; font-size: 1.6rem; padding: 0 10px 0 10px; }
        .leftPopup .btn-bottom .btn-clear { display: block; width: 74px; height: 39px; line-height: 39px; float: left; color: #C3C3C3; border: 1px solid #D4D4D4; background: #F0F0F0; cursor: default; text-align: center; margin-top: 12px; }
        .leftPopup .btn-bottom .btn-clear-selected { color: #333; cursor: pointer; }
        .leftPopup .btn-bottom .btn-complete { display: block; width: 144px; height: 39px; line-height: 39px; float: right; margin-top: 12px; color: #fff; }

    /*车款列表*/
    .leftPopup .tt-list { width: 100%; }
    .leftPopup dt { width: 100%; height: 26px; line-height: 26px; background: #F3F3F3; color: #999; font-size: 1.2rem; margin-top: -1px; }
        .leftPopup dt span { padding: 0 20px; }
    .leftPopup dd { padding: 0 20px; }
        .leftPopup dd.current p { color: #0A4E8A; }
        .leftPopup dd a { display: block; border-bottom: 1px solid #E9E9E9; padding: 10px 0 8px; position: relative; }
        .leftPopup dd p { color: #333; font-size: 1.6rem; line-height: 20px; margin: 0 0 2px; }
        .leftPopup dd strong { color: #c00; font-size: 1.2rem; }
        .leftPopup dd em { color: #999; font-size: 1.2rem; position: absolute; bottom: 8px; right: 0; }
        .leftPopup dd span.re { font-size: 1.2rem; background: #EC4131; color: #fff; padding: 0 1px; }

        .leftPopup dd.none p, .leftPopup dd.none strong { color: #bbb; }
        .leftPopup dd.none span.re { background: #bbb; }

    .leftPopup .popup-tips { font-size: 1.2rem; line-height: 20px; padding: 0 20px; color: #666; margin: 15px 0 0; }


/*对比弹出层(带下按钮)*/
/*按钮层*/
.swipeLeft-header { width: 100%; height: 50px; box-sizing: border-box; padding: 7px 10px; display: none; background-color: #f7f7f7; position: absolute; bottom: 0; }
    .swipeLeft-header .btn-comparison { width: 127px; height: 35px; font-size: 1.4rem; color: #ff8800; text-align: center; line-height: 35px; float: right; border: 1px solid #ffab4c; border-radius: 5px; }
        .swipeLeft-header .btn-comparison.disable { border: 1px solid #d2d2d2; color: #999; }
    .swipeLeft-header a.btn-clear { float: left; line-height: 14px; font-size: 1.4rem; margin-top: 10px; color: #333; }
        .swipeLeft-header a.btn-clear.disable { color: #b7b7b7; }
        .swipeLeft-header a.btn-clear::before { content: ''; background-image: url(http://image.bitautoimg.com/uimg/mbt2015/images/duibi-public.png); background-size: 250px auto; background-repeat: no-repeat; background-position: -46px -14px; width: 13px; height: 17px; display: inline-block; vertical-align: -3px; margin-right: 2px; }
        .swipeLeft-header a.btn-clear.disable::before { background-position: -32px -14px; }
/*内容层*/
.y2015-car-01 { position: relative; }
    .y2015-car-01 .first-list li { border-bottom: 1px solid #E9E9E9; margin: 0 10px; height: auto; line-height: normal; padding: 0; }
        .y2015-car-01 .first-list li .line-box { padding: 10px 0px 10px 0; display: table; width: 100%; box-sizing: border-box; }
        .y2015-car-01 .first-list li.add .line-box a:last-child { width: 100%; color: #333; display: block; }
        .y2015-car-01 .first-list li.add .line-box a:before { content: ''; background-image: url(http://image.bitautoimg.com/uimg/mbt2015/images/duibi-public.png); background-repeat: no-repeat; background-size: 250px auto; background-position: -108px -1px; width: 12px; height: 12px; display: inline-block; margin-right: 7px; }
        .y2015-car-01 .first-list li a { position: relative; line-height: 25px; border: none; display: table-cell; }
            .y2015-car-01 .first-list li a:last-child { width: 40px; position: relative; }
            .y2015-car-01 .first-list li a::after { background: none !important; }
        .y2015-car-01 .first-list li .btn-close i { position: absolute; background-image: url(http://image.bitautoimg.com/uimg/mbt2015/images/duibi-public.png); background-repeat: no-repeat; background-size: 250px auto; background-position: -96px -1px; width: 10px; height: 10px; left: 50%; top: 50%; margin-left: -5px; margin-top: -5px; }
        .y2015-car-01 .first-list li.alert { font-size: 1.4rem; color: #8c8c8c; line-height: 20px; border-bottom: none; padding: 5px 0; }
/*选车控件loading*/
.leftPopup .swipeLeft { position: relative; }
    .leftPopup .swipeLeft .loading { width: 250px; height: 80px; position: absolute; top: 50%; margin-top: -40px; }
        .leftPopup .swipeLeft .loading img { width: 31px; height: 31px; display: block; margin: 0 auto; }
        .leftPopup .swipeLeft .loading p { color: #999; text-align: center; font-size: 1.4rem; margin-top: 5px; }

/*颜色*/
.color-list em { width: 20px; height: 20px; display: inline-block; vertical-align: middle; margin-right: 10px; border: 1px solid #D2D2D2; }
.color-list li a { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/*车型层*/
.leftPopup.car-model .pic-txt-9060 .imgbox-2 { display: table; padding-bottom: 10px; }
    .leftPopup.car-model .pic-txt-9060 .imgbox-2 .img-box { display: table-cell; vertical-align: middle; width: 90px; }
        .leftPopup.car-model .pic-txt-9060 .imgbox-2 .img-box img { float: none; }
.leftPopup.car-model .pic-txt-9060 .c-box { display: table-cell; vertical-align: middle; padding-left: 8px; }
.leftPopup.car-model .pic-txt-9060 li { height: auto; line-height: normal; padding: 0 10px; box-sizing: border-box; border: none; border-bottom: 1px solid #E9E9E9; }
    .leftPopup.car-model .pic-txt-9060 li:last-child { border-bottom: none; }
    .leftPopup.car-model .pic-txt-9060 li a { border-bottom: none; }
.leftPopup.car-model .pic-txt-9060 .c-box h4 { padding: 0; line-height: 20px; font-size: 1.6rem; }
.leftPopup.car-model .pic-txt-9060 .c-box p { display: inline-block; font-size: 1.2rem; line-height: 18px; color: #b2b2c7; }
/*品牌浮动头*/
.flex-header { position: fixed; width: 100%; height: 33px; line-height: 33px; background: #F5F5F5; color: #828282; font-size: 1.4rem; overflow: hidden; top: 0; left: 0; z-index: 100; display: none; }
