body{background:#F2F2F2 !important;}
.box{padding:0 15px;}

/*边距*/
.mgt0{margin-top:0 !important;}
.mgt12{margin-top:12px;}

/*一级页签导航*/
.first-tags{height:44px; line-height:45px; background:#fff; font-size:1.6rem; border-bottom:1px solid #ececec;}
.first-tags ul{width:100%; display:table;}
.first-tags li{display:table-cell; text-align:center;}
.first-tags li a{color:#333; display:block;}
.first-tags li a span{width:100%; height:43px; display:block;}
.first-tags li.current a{color:#3369B1;}
.first-tags li.current a span{border-bottom:2px solid #3369B1;}

/*一级页签子导航*/
.sub-tags{height:40px; line-height:40px; background:#F5F5F5; font-size:1.4rem;}
.sub-tags ul{padding:0 0 0 20px;}
.sub-tags li{float:left; margin-right:40px;}
.sub-tags li a{color:#828282; display:block;}
.sub-tags li.current a{color:#3369B1;}

/*二级页签导航*/
.second-tags{height:49px; line-height:50px; background:#fff; font-size:1.5rem; border-bottom:1px solid #ececec;}
.second-tags ul{width:100%; display:table;}
.second-tags li{display:table-cell; text-align:center;}
.second-tags li a{color:#828282; display:block;}
.second-tags li a span{padding:0 0 14px;}
.second-tags li.current a{color:#3369B1;}
.second-tags li.current a span{border-bottom:2px solid #3369B1;}

/*横向滚动标签*/
.second-tags-scroll-box{position:relative; overflow:hidden;}
.second-tags-scroll-box .right-mask{width:20px; height:50px; position:absolute; right:0; bottom:1px; z-index:2; background-image:-webkit-linear-gradient(left, rgba(255,255,255,0),#fff); background-image:linear-gradient(to right, rgba(255,255,255,0),#fff)}
.second-tags-scroll{height:50px; line-height:50px; background:#fff; font-size:1.5rem; box-shadow:0px -1px 0 #ECECEC inset; /*border-bottom:1px solid #ececec;*/ overflow:hidden; overflow-x:scroll; -webkit-overflow-scrolling:touch; -ms-overflow-style:none;}
.second-tags-scroll::-webkit-scrollbar{height:0px;}
.second-tags-scroll ul{white-space:nowrap; padding:0 0 0 15px;}
.second-tags-scroll li{white-space:nowrap; display:inline-block; padding-right:25px;}
.second-tags-scroll li a{display:block; color:#828282;}
.second-tags-scroll li a span{padding:0 0 14px;}
.second-tags-scroll li.current a{color:#3369B1;}
.second-tags-scroll li.current a span{border-bottom:2px solid #3369B1;}

/*标题*/
/*.tt-first{height:49px; line-height:49px; background:#fff; border-bottom:1px solid #ECECEC; font-size:1.8rem; margin:12px 0 0; position:relative; overflow:hidden;}*/
.tt-first{height:50px; line-height:50px; background:#fff; /*border-bottom:1px solid #ECECEC;*/ font-size:1.8rem; margin:12px 0 0; position:relative; overflow:hidden; box-shadow:0px -1px 0 #ECECEC inset;}
.tt-first-no-bd{border-bottom:none; margin-bottom:-15px; box-shadow:none;}
.tt-first h3{color:#2F2F2F; padding:0 0 0 15px; font-weight:bold; float:left;}
.tt-first .opt-more{position:absolute; right:15px; bottom:0; font-size:1.4rem;}
.tt-first .opt-more a{background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_arrow_right.png) no-repeat right center; background-size:6px 11px; color:#3369B1; padding-right:11px; display:block; line-height:50px; vertical-align:middle;}
.tt-first .opt-more-gray a{color:#666; font-size:1.4rem;}
.tt-first .opt-refresh{position:absolute; right:15px; bottom:0; font-size:1.4rem;}
.tt-first .opt-refresh a{background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_refresh.png) no-repeat right center; background-size:12px 12px; color:#666666; padding-right:19px; display:block; line-height:50px; vertical-align:middle;}

.tt-first .opt-city{position:absolute; right:15px; bottom:0; font-size:1.3rem;}
.tt-first .opt-city a{color:#666; position:relative; border:1px solid #DEDEDE; border-radius:3px; padding:5px 12px;}
.tt-first .opt-city i{width:0; height:0; border-width:4px 4px; border-style:solid; border-color:transparent #DEDEDE #DEDEDE transparent; position:absolute; bottom:2px; right:2px; z-index:2;}

.tt-first-small{font-size:1.6rem;}
.tt-first-small h3{font-weight:normal;}

.tt-second{height:30px;padding:15px 0 0 0; background:#fff; font-size:1.5rem; margin:15px 0 0; position:relative;}
.tt-second h3{color:#fff; padding:0 15px; height:30px;line-height:30px;background:#a5cdf2;border-radius:0 15px 15px 0;float:left; }
.tt-second h3.red{background:#f37b7b}

.tags-sub{position:absolute; right:0; bottom:0; /*bottom:-1px;*/ font-size:1.5rem;}
.tags-sub li{float:left; margin:0 15px 0 5px;}
.tags-sub li a{display:block; height:47px; line-height:49px; color:#2F2F2F;}
.tags-sub li.current a{color:#3369B1; border-bottom:2px solid #3369B1;}

.tags-sub-left{left:0;}
.tags-sub-left li{float:left; margin:0 5px 0 15px;}
.tags-sub-left-tt{font-weight:bold; font-size:1.8rem;}

.link-sub{position:absolute; top:0; right:0; font-size:1.5rem;}
.link-sub li{float:left;}
.link-sub a{color:#828282; /*border-right:1px solid #ECECEC;*/ padding:0 15px 0 12px;}
.link-sub li:last-child a{border:none;}

.tt-first-sublink{float:left; font-size:1.2rem; color:#B7B7B7; margin:0 0 0 10px;}
.tt-first-sublink a{color:#B7B7B7; padding:0 5px 0 0;}

/*小标题*/
.tt-small{width:100%; height:33px; line-height:33px; background:#F5F5F5; color:#828282; font-size:1.4rem; position:relative;}
.tt-small span{padding:0 15px;}
.tt-small em{position:absolute; top:0; right:15px;}

/*综述页导航*/
.car-nav{width:100%; font-size:1.6rem; overflow:hidden; background:#fff;}
.car-nav li{float:left; width:20%;}
.car-nav li a{display:block; height:44px; line-height:44px; text-align:center; color:#666; border-right:1px solid #ECECEC; border-bottom:1px solid #ECECEC;}
.car-nav li.current a{height:43px; color:#3369B1; border-bottom:2px solid #3369B1;}

/*图文块*/
.pic-txt{overflow:hidden; padding:0 15px 18px; background:#fff;}
.pic-txt li{float:left; width:50%; margin:15px 0 0}
.pic-txt li a{display:block;}
.pic-txt li:nth-child(odd) a{margin-right:5px;}
.pic-txt li:nth-child(even) a{margin-left:5px;}
.pic-txt li img{display:block; width:100%;}
.pic-txt li p{font-size:1.6rem; line-height:20px; margin:9px 0 0; /*height:20px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;*/}
.pic-txt li em{font-size:1.2rem; color:#B7B7B7; display:block; margin:8px 0 0;}

/*图文块-视频*/
.pic-txt-video li a{/*width:140px;*/ margin:0 auto;}
.pic-txt-video li span{display:block; position:relative; /*width:140px; height:79px;*/ overflow:hidden;}
.pic-txt-video li span i{width:20px; height:20px; background:url(http://image.bitautoimg.com/uimg/mbt2015/images/m_ico_video_w.png) no-repeat; background-size:20px 20px; position:absolute; left:5px; bottom:5px;}
.pic-txt-video li p{height:38px; overflow:hidden; text-overflow:ellipsis; text-overflow:-o-ellipsis-lastline; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.pic-txt-video li em i{background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_video_num.png) no-repeat left center; background-size:8px 10px; padding:0 0 0 13px; margin-right:15px;}
.pic-txt-video li em i.time{background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_video_time.png) no-repeat left center; background-size:12px 12px; padding-left:17px;}

/*图文块-车*/
.pic-txt-car{position:relative;}
.pic-txt-car p{height:20px; overflow:hidden; text-overflow:ellipsis;
  white-space:nowrap;}
.pic-txt-car b{font-size:1.3rem; color:#DD2727; display:block; margin:4px 0 0;}
.pic-txt-car li em{margin-top:3px;}


/*更多*/
.btn-more{width:100%; height:50px; line-height:50px; background:#fff; border-top:1px solid #EDEDED; text-align:center; display:block; font-size:1.4rem; color:#666;}
.btn-more i{background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_arrow_right_s.png) no-repeat right center; background-size:6px 11px; padding-right:12px;}
.btn-add-more i{background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_arrow_down_s.png) no-repeat right center; background-size:11px 6px; padding-right:17px;}

/*分页*/
.m-pages{height:34px; line-height:34px; position:relative; font-size:1.5rem; padding:10px 15px 0; background:#fff;}
.m-pages-pre, .m-pages-next{display:block; width:80px; height:32px; background:#fff; border:1px solid #D2D2D2; color:#3369B1; text-align:center; border-radius:3px;}
.m-pages-pre{float:left;}
.m-pages-next{float:right;}
.m-pages-none{color:#B7B7B7;}
.m-pages-num{width:101px; height:32px; background:#fff; border:1px solid #D2D2D2; position:absolute; top:10px; left:50%; margin-left:-51px; color:#666; border-radius:3px;}
.m-pages-num-arrow{width:32px; height:100%; border-left:1px solid #D2D2D2; float:right; text-align:center; background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_arrow_down.png) no-repeat center center; background-size:13px 8px;}
.m-pages-num-con{width:68px; height:100%; text-align:center; float:left;}
.m-pages select{width:103px; height:34px; position:absolute; top:10px; left:50%; margin-left:-51px; opacity:0;}

/*顶部切换车型*/
.change-car-top{height:44px; line-height:44px; background:#fff; border-bottom:1px solid #ECECEC; font-size:1.6rem; overflow:hidden; position:relative; display:block; color:#333; padding:0 35px 0 70px; text-align:right;}
.change-car-top:after{display:block; position:absolute; top:50%; margin-top:-7px; right:15px; width:8px; height:14px; content:''; background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_arrow_right.png) no-repeat; background-size:8px 14px; font-size:0; line-height:0; color:transparent;}
.change-car-top span{padding:0; position:absolute; top:0; left:15px;}
.change-car-top strong{font-size:1.4rem; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; display:block;}
.change-car-top-none strong{color:#b7b7b7;}

/*新闻图文混排块*/
.card-news{width:100%; overflow:hidden; background:#fff;}
.card-news li{border-bottom:1px solid #ECECEC; overflow:hidden; padding:0 15px 12px; margin:14px 0 0;}
.card-news li:last-child{border-bottom:none;}
.card-news a{display:block; overflow:hidden;}
.card-news .img-box{width:90px; height:60px; float:left; margin-right:10px; position:relative;}
.card-news .img-box img{display:block; width:100%;}
.card-news .img-box b{width:15px; height:15px; line-height:15px; text-align:center; font-size:1.2rem; color:#fff; background:#DD2727; position:absolute; top:0; left:0;}
.card-news .img-box i{width:20px; height:20px; background:url(http://image.bitautoimg.com/uimg/mbt2015/images/m_ico_video_w.png) no-repeat; background-size:20px 20px; position:absolute; left:5px; bottom:5px;}
.card-news h4{font-size:1.6rem; line-height:20px;}
.card-news-h h4{height:45px;}
.card-news em{font-size:1.2rem; color:#B7B7B7; display:block; margin:1px 0 0;}
.card-news em span{padding-right:10px;}
.card-news em i{background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_video_num.png) no-repeat left center; background-size:8px 10px; padding:0 0 0 12px; margin-right:12px;}
.card-news em i.ico-comment{background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_comment.png) no-repeat 0 3px; background-size:13px auto; padding:0 0 0 18px; margin-right:0; float:right;}
.card-news em i.time{background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_video_time.png) no-repeat left center; background-size:12px 12px; padding-left:16px;}
.card-news .news-xj{position:relative;}
.card-news .news-xj span{font-size:1.2rem; color:#fff; background:#5A8DD2; border-radius:2px; overflow:hidden; height:16px; line-height:16px; width:58px; text-align:center; display:block;}
.card-news .news-xj h4{margin-top:3px;}
.card-news .news-xj em{position:absolute; bottom:17px; right:15px;}

.card-news .baa-list-img{overflow:hidden; margin:7px -5px 10px -5px;}
.card-news .baa-list-img li{border:none; padding:0; margin:0; float:left; width:33.333333%;}
.card-news .baa-list-img span{display:block; margin:0 5px;}
.card-news .baa-list-img img{display:block; width:100%;}

/*应用推荐*/
.m-app-part-scroll{width:100%; height:130px; overflow:hidden; margin:0 auto; position:relative; background:#fff;}
.m-app-part-scroll li{width:300px; height:130px; float:left; overflow:hidden;}
.m-app-part-scroll li p{float:left; text-align:center; font-size:1.3rem; margin:15px 0 0 0; color:#666; width:25%;}
.m-app-part-scroll li p a{width:60px; height:60px; display:block; margin:0 auto 8px;}
.m-app-part-scroll .pagination-app{position:absolute; z-index:20; left:0; bottom:5px; text-align:center; width:100%;}
.m-app-part-scroll .swiper-pagination-switch{display:inline-block; width:8px; height:8px; border-radius:10px; background:#CCC; margin-right:5px; cursor:pointer;}
.m-app-part-scroll .swiper-active-switch{background:#dd2727;}

/*图文混排横向*/
	/*车报价*/
.pic-txt-h{overflow:hidden; background:#fff;}
.pic-txt-h li{width:100%; border-bottom:1px solid #E9E9E9; padding:0 15px; overflow:hidden;}
.pic-txt-h li:last-child{border:none;}
.pic-txt-h li.current h4{color:#0A4E8A;}
.pic-txt-h a{display:block; overflow:hidden;}
.pic-txt-h img{margin:0 10px 0 0; float:left;}
.pic-txt-h strong{color:#c00;}
.pic-txt-h p em{font-size:1.2rem; background:#EC4131; color:#fff; padding:0 1px;}
.pic-txt-h p b{color:#3DA600; margin:0 0 0 10px;}
.pic-txt-h p b.ico-down{background:url(http://img4.bitautoimg.com/uimg/mbt/images/m_ico_arrow_down.gif) no-repeat left center; background-size:10px 10px; padding:0 0 0 11px;}

.pic-txt-h li.none h4, .pic-txt-h li.none p, .pic-txt-h li.none strong{color:#bbb;}
.pic-txt-h li.none em{color:#fff; background:#bbb;}

	/*pic 90x60*/
.pic-txt-9060 li{padding-bottom:14px; margin-top:15px;}
.pic-txt-9060 img{width:90px; height:60px;}
.pic-txt-9060 h4{font-size:1.8rem; padding:10px 0 8px;}
.pic-txt-9060 p{color:#999; font-size:1.2rem;}


/*弹出提示层*/
	/*单行文字*/
.m-popup-black{width:130px; height:80px; line-height:80px; background:rgba(0, 0, 0, 0.7); border-radius:8px; position:fixed; top:100px; left:50%; margin-left:-65px; text-align:center; color:#fff; font-size:1.6rem; z-index:99;}

/*switch开关*/
.switch-on, .switch-off{border-radius:20px; position:relative;}
.switch-on b, .switch-off b{width:28px; height:28px; border-radius:50%; background:#fff; position:absolute;}
.switch-on{width:52px; height:32px; background:#266DE2;}
.switch-on b{top:2px; right:2px;}
.switch-off{width:48px; height:28px; background:#fff; border:2px solid #e5e5e5;}
.switch-off b{top:0; left:0; box-shadow:1px 1px 5px #e5e5e5}

/*按钮*/
.btn-one{width:100%; height:44px; line-height:44px; text-align:center; display:block; font-size:1.6rem; border-radius:5px;}
.btn-orange{background:#FF9900; color:#fff;}

/*sort*/
.sort{font-size:1.4rem; background:#fff; padding:0 10px;}
.sort li{float:left; text-align:center;}
.sort li a{display:block; height:33px; line-height:33px; color:#666; background:#F8F8F8; border-radius:4px; margin:10px 5px 0; overflow:hidden;}

.sort2 li{width:50%;}
.sort3 li{width:33.3333%;}
.sort4 li{width:25%;}
.sort5 li{width:20%;}

.sort-bg-white li a{background:#fff; height:36px; line-height:36px; border:1px solid #d2d2d2; color:#333;}
.sort-pop li a{position:relative;}
.sort-pop li i{width:0; height:0; border-width:4px 4px; border-style:solid; border-color:transparent #d2d2d2 #d2d2d2 transparent; position:absolute; bottom:3px; right:3px; z-index:2; /*border-bottom-right-radius:3px;*/}
.sort-pop li.current a{border-color:#297dcc; color:#297dcc;}
.sort-pop li.current i{border-color:transparent #297dcc #297dcc transparent;}

/*新闻列表*/
.m-txt-list{background:#fff; font-size:1.6rem;}
.m-txt-list li{border-top:1px solid #EDEDED; padding:0 15px;}
.m-txt-list li a{display:block; height:50px; line-height:50px; position:relative; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding-right:10px;}
.m-txt-list li a:after{display:block; position:absolute; top:20px; right:0px; width:6px; height:11px; content:''; background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_arrow_right_s.png) no-repeat; background-size:6px 11px; font-size:0; line-height:0; color:transparent;}

/*行情*/
.news-list{background:#fff; overflow:hidden;}
.news-list li{padding:13px 15px; border-bottom:1px solid #EEEEEE;}
.news-list li:last-child{border-bottom:none;}
.news-list a{display:block;}
.news-list p{font-size:1.5rem; line-height:1.5; margin:0 0 3px;}
.news-list em{font-size:1.2rem; color:#B7B7B7;}

/*返回顶部*/
.m-top{position:fixed; width:53px; height:53px; background:rgba(255,255,255,0.9); border:1px solid #d4d4d4; border-radius:50%; color:#666; font-size:1.2rem; text-align:center; right:15px; bottom:90px; /*top:50%; margin:185px 0 0;*/ z-index:999;}
.m-top .ico-top-arrow{width:18px; height:9px; background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_arrow_top.png) no-repeat; background-size:18px 9px; margin:11px auto 0;}
.m-top p{margin:5px 0 0;}

/*pk*/
.btn-pk{width:55px; height:55px; position:fixed; right:15px; bottom:160px; z-index:999;}
.btn-pk-box{position:relative; width:100%; height:43px; padding-top:12px; background:rgba(44,114,206,0.9); border-radius:50%;}
.btn-pk .ico-pk{color:#fff; font-size:1.9rem; text-align:center;}
.btn-pk p{font-size:1.2rem; color:#fff; text-align:center;}
.btn-pk i{background:#F53E3E; border-radius:50%; color:#fff; position:absolute; top:0; right:0; width:15px; height:15px; line-height:15px; text-align:center;}

/*车市*/
.market-p{overflow:hidden; background:#fff;}
.market-p li{border-bottom:1px solid #ECECEC; padding:0 15px 15px; margin:15px 0 0; overflow:hidden; position:relative;}
.market-p li:last-child{border-bottom:none;}
.market-p .img-box{float:left; width:90px; height:60px; margin-right:10px;}
.market-p img{display:block;}
.market-p dl{float:left; margin:5px 0 0;}
.market-p dt{font-size:1.6rem; line-height:26px;}
.market-p dd{font-size:1.4rem; color:#DD2727; line-height:22px;}
.market-p dd em{color:#b7b7b7; font-size:1.2rem;}
.market-p a.btn-xunjia{width:58px; height:33px; line-height:33px; font-size:1.4rem; position:absolute; top:13px; right:15px; border:1px solid #FFAB4C; border-radius:3px; text-align:center; color:#ff8800;}
.market-p-block a{display:block; overflow:hidden;}

/*看了还看*/
.car-list3{background:#fff; overflow:hidden; padding:0 10px 12px 10px;}
.car-list3 li{width:33.3333%; float:left; margin:15px 0 0;}
.car-list3 li a{display:block; text-align:center; margin:0 5px;}
.car-list3 li img{display:block; width:100%;}
.car-list3 li strong{font-size:1.4rem; display:block; height:17px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin:8px 0 0;}
.car-list3 li p{font-size:1.2rem; color:#dd2727; margin:5px 0 0;}

/*暂无*/
.none-block{background:#fff; min-height:400px; overflow:hidden; text-align:center;}
.none-block .ico-nocar{width:89px; height:75px; background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_no_car.png) no-repeat; background-size:89px 75px; margin:130px auto 11px;}
.none-block p{font-size:1.4rem; color:#B7B7B7; line-height:24px; }

/*无结果*/
.m-no-result{overflow:hidden; margin:10px 0;}
.m-no-result .face{width:75px; height:75px; float:left;}
.m-no-result .face-fail{background:url(http://image.bitautoimg.com/uimg/mbt2014/images/m_yixiaoche_fail.jpg) no-repeat; background-size:75px 75px;}
.m-no-result dl{float:left; padding:15px 0 0 10px;}
.m-no-result dt{font-size:1.6rem; line-height:24px;}
.m-no-result dd{font-size:1.2rem; color:#999;}
