@charset "utf-8";
/*reset*/
html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		/*vertical-align: baseline;*/
	}
html{font-size:62.5%;}
body{font-family:Helvetica, Arial, sans-serif; /*background:#fff;*/ line-height:150%; color:#333;}
table{border-collapse:collapse; border-spacing:0}
fieldset, img{border:0}
legend{display:none}
address, caption, cite, code, dfn, em, strong, th, var{font-style:normal; font-weight:normal}
ol, ul{list-style:none}
caption, th{text-align:left}
h1, h2, h3, h4, h5, h6{font-size:100%; font-weight:normal}
q:before, q:after{content:''}
abbr, acronym{border:0}

a{text-decoration:none; color:#333;}
ins{text-decoration:none;}

.clear{clear:both; height:0; overflow:hidden}
/*reset end
===================================================================================================================*/
html{-webkit-text-size-adjust:none; } /*禁用iphone中safari的字号自动调整*/
input[type="text"], input[type="button"], input[type="submit"], input[type="search"], input[type="number"]{-webkit-appearance:none; border-radius:0;} /*去除iphone默认样式（input的圆角）*/
input[type="checkbox"]{margin:0 3px 3px 4px;}
img{max-width:100%;} /*液态图片*/
video{margin-left:auto; margin-right:auto; max-width:100%} /*液态视频*/


/*框架*/
.wrap{padding:0 10px;}
.wrap-b10{padding-bottom:10px;}

/*头部*/
.header{width:100%; height:44px; background:#F8F8F8; position:relative; z-index:91; color:#565656;}
/*.header .logo{width:100px; height:28px; background:url(http://image.bitautoimg.com/uimg/mbt2014/images/m_header_nav_search.png) no-repeat 0 0; background-size:100px auto; float:left; text-indent:-999em; margin:10px 0 0 10px;}*/
.header .logo{width:85px; height:33px; background:url(http://image.bitautoimg.com/uimg/mbt2015/images/m_header_nav_search2.png) no-repeat 0 0; background-size:100px auto; float:left; text-indent:-999em; margin:7px 0 0 10px;}
/*.header .download{width:30px; height:24px; background:url(http://image.bitautoimg.com/uimg/mbt2014/images/m_header_nav_search.png) no-repeat -76px -35px; background-size:100px auto; font-size:1.2rem; padding:0 0 0 25px; float:right; line-height:1.0; margin:10px 12px 0 0;}*/
/*.header .user-out, .header .user-in{width:24px; height:24px; background:url(http://image.bitautoimg.com/uimg/mbt2014/images/m_header_nav_search.png) no-repeat; background-size:100px auto; float:right; margin:10px 20px 0 0; position:relative;}
.header .user-out{background-position:0 -35px;}
.header .user-in{background-position:-29px -35px;}*/
.header .user-out, .header .user-in{width:30px; height:30px; background:url(http://image.bitautoimg.com/uimg/mbt2015/images/m_header_nav_search2.png) no-repeat; background-size:100px auto; float:right; margin:7px 10px 0 0; position:relative;}
.header .user-out{background-position:0 -38px;}
.header .user-in{background-position:-30px -38px;}

.header .user-in i{width:9px; height:9px; background:#e64340; border-radius:9px; position:absolute; top:2px; right:-2px;}
.header .btn-search{width:50px; height:28px; border:1px solid #d2d2d2; border-radius:20px; float:right; margin:7px 10px 0 0; background:#FFF url(http://image.bitautoimg.com/uimg/mbt2015/images/m_header_nav_search2.png) no-repeat 6px -118px; background-size:100px auto; text-indent:-999em;}
.header .btn-nav{font-size:1.6rem; height:44px; line-height:44px; float:right; margin:0 10px;}
.header .btn-nav i{display:inline-block; width:0; height:6px; border:6px solid #666; border-color:#666 transparent; border-width:6px 6px 0 6px; margin:0 0 0 3px; vertical-align:-4px;}
.header .btn-nav-show{color:#0A4E8A;}
.header .btn-nav-show i{border-width:0 6px 6px 6px; vertical-align:3px; border-color:#0A4E8A transparent;}
	/*导航弹出层*/
.header .pop-nav{position:absolute; top:44px; right:10px; font-size:1.6rem;}
.header .pop-nav i{display:block; width:0; height:8px; border:8px solid #105796; border-width:0 8px 8px 8px; border-color:#1663A6 transparent; position:absolute; top:-16px; right:24px;}
.header .pop-nav ul{width:256px; overflow:hidden; border-bottom:2px solid #083E6E; box-shadow:1px 1px 3px #333;}
.header .pop-nav ul li{float:left; text-align:center;}
.header .pop-nav ul li a{display:block; width:63px; height:44px; line-height:44px; background:#1663A6; color:#FFF; border-right:1px solid #0A4E8A; border-bottom:1px solid #0A4E8A;}

/*导航*/
.nav{width:100%; position:relative; z-index:19; margin:-1px 0 0 -1px;}
.nav ul li{width:20%; float:left; text-align:center;}
.nav ul li a{display:block; width:100%; height:40px; line-height:40px; background:#0A4E8A; font-size:1.6rem; color:#FFF; border-top:1px solid #083E6E; border-left:1px solid #083E6E;}

/*返回*/
.b-return{width:100%; height:39px; line-height:39px; color:#FFF; background:#0A4E8A; border-top:1px solid #1A5A92; position:relative; z-index:90; text-align:center;}
.b-return span{font-size:1.7rem;}
.b-return h1{font-size:1.7rem; display:inline-block;}
.b-return .opt{font-size:1.5rem; position:absolute; right:10px; color:#FFF; top:0;}
.b-return .opt a{float:left; color:#FFF; margin-left:10px;}
.b-return .btn-return{width:39px; height:39px; background:url(http://image.bitautoimg.com/uimg/mbt2015/images/m_header_nav_search2.png) no-repeat -78px -76px; background-size:100px auto; position:absolute; top:0; left:0; text-indent:-999em;}
.b-return h1{display:inline;}

	/*新闻收藏&分享&编辑*/
.b-news-favorites{width:40px; height:39px; position:absolute; top:0; right:42px; background:url(http://image.bitautoimg.com/uimg/mbt2014/images/m_header_news_share.png) no-repeat 9px 8px; background-size:50px auto; text-indent:-999em;}
.b-news-favorites-add{background-position:9px -23px;}

.b-news-share{width:40px; height:40px; position:absolute; top:0; right:0; background:url(http://image.bitautoimg.com/uimg/mbt2014/images/m_header_news_share.png) no-repeat 9px -59px; background-size:50px auto; text-indent:-999em; z-index:15;}
.b-news-share-show{background-color:#083E6E; border-left:1px solid #04325B;}
.b-news-share-list{width:118px; background:#083E6E; position:absolute; top:39px; right:0; z-index:14;}
.b-news-share-list a{display:block; height:43px; line-height:43px; color:#FFF; font-size:1.4rem; border-top:1px solid #04325B; background:url(http://image.bitautoimg.com/uimg/mbt2014/images/m_header_news_share.png) no-repeat; background-size:50px auto; padding:0 0 0 25px;}
.b-news-share-list a.sinaweibo{background-position:15px -94px;}
.b-news-share-list a.qzone{background-position:15px -130px;}
.b-news-share-list a.qqweibo{background-position:15px -169px;}

	/*三角 bottom right*/
.ico-triangle-br{width:0; height:0; border-width:4px 4px; border-style:solid; border-color:transparent #ffffff #ffffff transparent; position:absolute; bottom:4px; right:4px; z-index:16;}

.b-news-edit{width:40px; height:40px; position:absolute; top:0; right:0; background:url(http://image.bitautoimg.com/uimg/mbt2014/images/m_header_news_share.png) no-repeat 9px -207px; background-size:50px auto; text-indent:-999em;}

	/*视频页*/
.b-video-share{width:20px; height:18px; background:url(http://image.bitautoimg.com/uimg/mbt2015/images/ico_share.png) no-repeat; background-size:20px 18px; position:absolute; top:10px; right:15px;}


/*搜索*/
.p-search{width:100%; height:100%; background:#FFF; position:absolute; top:0; left:0; z-index:99;}
.p-search-h{width:100%; height:45px; background:#F8F8F8; border-bottom:1px solid #CCC; display:table;}
.p-search .btn-close{display:table-cell; font-size:1.8rem; width:40px; text-align:center; padding:0 18px; vertical-align:middle;}
/*.p-search .p-search-left{display:table-cell; background:#F8F8F8;}
.p-search .input-box{height:29px; border:1px solid #BFBFBF; border-radius:20px; margin:7px 0 0 10px; background:#FFF; position:relative;}


.p-search .input-box-in{display:table; width:100%; height:100%; position:relative;}
.p-search .dropdown{display:table-cell; width:62px; height:100%; font-size:1.4rem; background-color:#FFF; cursor:pointer; padding:0 0 0 19px; border-top-left-radius:20px; border-bottom-left-radius:20px;}
.p-search .dropdown strong{vertical-align:-5px;}
.p-search .dropdown i{display:inline-block; width:0; height:0; border-top:4px solid; border-right:4px solid transparent; border-left:4px solid transparent; vertical-align:-2px;}
.p-search .v-line{display:inline-block; width:1px; height:21px; overflow:hidden; background:#E2E2E2; margin:0 0 0 11px; vertical-align:-11px;}
@-moz-document url-prefix()
{
	.p-search .dropdown strong, .p-search .dropdown i, .p-search .v-line{vertical-align:middle;}
	.p-search .form-control{background-image:none;}
}
.p-search .dropdown-list{position:absolute; top:29px; left:11px; width:62px; border-left:1px solid #CCC; border-right:1px solid #CCC; border-bottom:2px solid #CCC; background:#FFF; text-align:center; font-size:1.6rem;}
.p-search .dropdown-list li{border-top:1px solid #CCC;}
.p-search .dropdown-list a{display:block; height:43px; line-height:43px;}
.p-search .form-control{display:table-cell; width:100%; border:none; height:100%; padding:0; border-top-right-radius:20px; border-bottom-right-radius:20px; font-size:1.4rem;}
.p-search .form-cancel{width:20px; height:20px; background:url(http://image.bitautoimg.com/uimg/mbt2014/images/m_header_nav_search.png) no-repeat 2px -72px; background-size:100px auto; position:absolute; top:4px; right:6px; text-indent:-999em;}*/


.p-search-list{width:100%; font-size:1.7rem;}
.p-search-list ul li{border-bottom:1px solid #E9E9E9;}
.p-search-list ul li a{display:block; height:44px; line-height:44px; padding:0 0 0 30px;}
.p-search-list ul li a em{font-size:1.4rem; color:#666; float:right; margin:0 15px 0 0;}

/*search fix*/
.p-search-sort-box{display:table-cell; width:88px; vertical-align:middle;}
.p-search-sort-relative{position:relative;}
.p-search-sort{width:77px; height:29px; line-height:29px; border:1px solid #BFBFBF; border-top-left-radius:20px; border-bottom-left-radius:20px; border-right:none; background:#FFF; margin:0 0 0 10px; text-align:center; font-size:1.4rem; cursor:pointer;}
.p-search-sort i{display:inline-block; width:0; height:0; border-top:4px solid; border-right:4px solid transparent; border-left:4px solid transparent; vertical-align:3px;}
.p-search-sort-list{position:absolute; top:30px; left:25px; width:62px; border-left:1px solid #CCC; border-right:1px solid #CCC; border-bottom:2px solid #CCC; background:#FFF; text-align:center; font-size:1.6rem;}
.p-search-sort-list li{border-top:1px solid #CCC;}
.p-search-sort-list a{display:block; height:43px; line-height:43px;}

.p-search-input-box{display:table-cell; vertical-align:middle;}
.p-search-input-relative{position:relative;}
.p-search-input{width:100%; height:31px; line-height:31px; border:1px solid #BFBFBF; border-top-right-radius:20px !important; border-bottom-right-radius:20px !important; font-size:1.4rem; padding:0 0 0 10px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; background-image:none;}
.p-search-input-cancel{width:20px; height:20px; background:url(http://image.bitautoimg.com/uimg/mbt2015/images/m_header_nav_search2.png) no-repeat 2px -72px; background-size:100px auto; text-indent:-999em; position:absolute; top:5px; right:6px;}
input[type="search"]::-webkit-search-cancel-button{
	display: none;
}
input[type="search"]::-ms-clear{
  display: none;
}

/*横向滚动块*/
.scroll-block{height:40px; line-height:40px; overflow:hidden; overflow-x:scroll; background:#F8F8F8; border-bottom:1px solid #E4E4E4; -webkit-overflow-scrolling:touch; -ms-overflow-style:none; padding:0 10px; position:relative;}
.scroll-block::-webkit-scrollbar{height:0px;}
.scroll-block ul{white-space:nowrap; font-size:1.4rem;}
.scroll-block ul li{white-space:nowrap; display:inline-block; margin:0 4px 0 0 ;}
.scroll-block ul li:last-child{margin:0 6px 0 0;}
.scroll-block ul li a{padding:6px 10px;}
.scroll-block ul li.current a{background:#0A4E8A; color:#FFF; border-radius:4px;}
/*.scroll-block-opacity{width:1px; height:40px; background:rgba(204,204,204,.9); position:absolute; top:85px; right:0; box-shadow:-3px 0 10px rgba(60,60,60,1);}*/






