
/*车源图片列表*/
.clhezbox .tc-car-list-h a{padding:15px 0;}
.clhezbox .tc-car-list-h{margin:0 15px;display:block;width:auto;}

/*2月24日下载app 修改部分  在原来基础上改的，会影响线上的 注意样式发布时间sart*/
.bnmjnavbox{padding:0 15px 8px;border-bottom:1px solid #ececec;display:block;}
.bnmjnav { text-align: center;background-color:#ffffff;}
.bnmjnav a { width: 25%; height: 25px; padding-top: 63px; float:left; text-align: center; font-size: 1.2rem; position: relative; overflow:hidden;}
.bnmjnav a:last-child { margin-right: 0; }
.bnmjnav a em { width: 46px; height: 47px; background: url(http://image.bitautoimg.com/taoche/ercyidong2015/dwhb_bg1.gif) no-repeat; background-size: 307px 55px; display: inline-block; position: absolute; left: 50%; top: 13px;overflow:hidden;margin-left:-23px; }
.bnmjnav a.lyjl em { background-position: -26px -2px; }
.bnmjnav a.wdsc em { background-position: -131px -2px;}
.bnmjnav a.huodzq em{background-position: -236px -2px;}
.bnmjnav a.hlxzapp em{background:url(../img/clhz_xzapp.png) no-repeat;background-size: 46px 46px;background-position: 0px 0px;}
/*2月24日下载app 修改部分end*/




.clhezbox  .sort-clear .dycy{float:right;}
.clhezbox .sort-clear{color:#666; font-size:1.4rem; overflow:hidden; line-height:20px; margin:12px 15px 10px 15px;}
.clhezbox a.bdlink strong{color:#333333;}
.clhezbox .zhihbox .tixtis{margin-left:0;}
.dwhz_ad{overflow:hidden;}
.clhezbox .zhihbox{margin-top:-5px;}
.clhezbox .bdlstbox{margin-bottom:15px;}
.clhezbox .bdlstbox .yellowbut{margin-top:15px;}
.clhezbox .m_tit{margin:0;font-size:1.8rem;}
.clhezbox .m_tit h3{font-weight:normal;}

/*卖车流程*/
.clhezbox .macluc {padding-top:5px;padding-bottom:12px;background-color:#ffffff;display:block;}
.clhezbox .macluc ul{display:table;width:100%;}
.clhezbox .macluc li{display:table-cell;padding-top:50px;font-size:1.2rem;color:#ff9900;text-align:center;}
.clhezbox .macluc li.lcbg1{background:url(http://image.bitautoimg.com/taoche/ercyidong2015/kplc_bg1.gif) no-repeat;background-size:42px 33px;background-position:center 10px;}
.clhezbox .macluc li.lcbg2{background:url(http://image.bitautoimg.com/taoche/ercyidong2015/kplc_bg2.gif) no-repeat;background-size:42px 33px;background-position:center 10px;}
.clhezbox .macluc li.lcbg3{background:url(http://image.bitautoimg.com/taoche/ercyidong2015/kplc_bg3.gif) no-repeat;background-size:42px 33px;background-position:center 10px;}
.clhezbox .macluc li.lcbg_jint{background:url(http://image.bitautoimg.com/taoche/ercyidong2015/bmlc_bg4.gif) no-repeat;background-size:20px 21px;background-position:center 18px;padding-left:20px;}

/*浮层*/
.tcfuc{margin:10px;border:1px solid #f8f8f8;border-radius:10px;background-color:#f8f8f8;text-align:center;padding:15px 3px;width:276px;padding:15px 0 0;}
.tcfuc_text p{text-align:center;line-height:23px;font-size:1.8rem;padding-bottom:5px;display:block; }
.tcfuc_text p.coltext{color:#666666;font-size:1.7rem;margin-bottom:10px;}
 .xbutbox{border-top:1px solid #d2d2d2;margin-top:10px;font-size:1.8rem;}
 .xbutbox a{color:#266de2;padding-top:5px;line-height:42px;display:block;}
 .tcdiq{right:0;}



/*2月24日 新加卖车首页*/
.mcsytop{text-align:center;}
.mclcbox{padding:45px 15px 30px;}
.mclcbox ul li{width:35%;float:left;}
.mclcbox ul li:first-child{width:35%;}
.mclcbox ul li:last-child{width:30%;}
.mclcbox ul li em{border:2px solid #ff9900;border-radius:20px;font-size:1.2rem;color:#ff9900;height:15px;line-height:15px;padding:2px 10px;margin-left:5px;clear:both;}
.mclcbox ul li h4{color:#ff9900;font-size:1.8rem;line-height:30px;height:30px;background:url(../img/clhz_mc_ico2.png) no-repeat;background-size: 9px 13px;background-position: right 8px;padding-right:15px;display:inline-block;margin-left:5px;margin-top:6px;}
.mclcbox ul li i{height: 87px;width:87px;display:block;margin-bottom:12px;margin-top:12px;}
.mclcbox ul li i.bg1{background:url(../img/clhz_mcsy_ico4.png) no-repeat;background-size: 353px 98px;background-position: -3px -5px;}
.mclcbox ul li i.bg2{background:url(../img/clhz_mcsy_ico4.png) no-repeat;background-size: 353px 98px;background-position: -131px -5px;}
.mclcbox ul li i.bg3{background:url(../img/clhz_mcsy_ico4.png) no-repeat;background-size: 353px 98px;background-position: -263px -5px;}

.mclcbox ul li p{color:#666666;font-size:1.4rem;height:23px;line-height:23px;background:url(../img/clhz_duig.png) no-repeat;background-size: 11px 11px;background-position: left 7px;padding-left:20px;margin-left:5px;margin-bottom:5px;}


/* 判断iphone4 */
@media screen and (device-width: 320px) and (device-height: 480px) {
	.mclcbox ul li em{margin-left:0;padding:0 10px;}
	.mclcbox ul li h4{font-size:1.4rem;margin-left:0;margin-top:0px;}
	.mclcbox ul li p{margin-left:1px;margin-bottom:0px;}
	.mclcbox{padding:3px 5px;}
	.mclcbox ul li i{margin-bottom:5px;margin-top:2px;}

	}

/* 判断iphone5 */
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
	.mclcbox ul li em{margin-left:0;padding:0 10px;}
	.mclcbox ul li h4{font-size:1.4rem;margin-left:0;margin-top:0px;}
	mclcbox ul li p{margin-left:1px;margin-bottom:0px;}
	.mclcbox{padding:3px 5px;}
	.mclcbox ul li i{margin-bottom:5px;margin-top:2px;}

	}