@charset "utf-8";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";

*,
*:before,
*:after {
    @include box-sizing();
}

.content {
    position: relative;
    margin-top: -80px;
    padding: 0 12px;

    h2 {
        color: #ff4e00;
        font-weight: bold;
        font-size: 1.6rem;
    }
    strong {
        font-weight: bold;
    }
}

.form-apply .content {
    margin-top: -60px;
}

.highlight {
    color: #ff4e00;
}

p {
    margin: 6px 0;
    font-size: 1.6rem;
    color: #000000;
    line-height: 1.8;
}

footer {
    position: relative;
    text-align: center;
}

form {
    position: relative;
    width: 282px;
    margin: 0 auto;
}

.btn {
    width: 282px;
    height: 44px;
    background: url(../img/Button01.png) center center no-repeat;
    background-size: contain;
    text-indent: -9999px;
}

.btn-index {
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -141px;
    margin-top: -22px;
}

.btn-join {
    display: block;
    margin: 26px auto 16px;
    background-image: url("../img/Button06.png");

}

.btn-audit {
    display: block;
    margin: 26px auto 16px;
    background-image: url("../img/Button07.png");
}

.note {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 10px;
    &.note-join {
        font-size: 1.4rem;
    }
}

//车展报名
.form-apply {
    background-color: #eee;
}

.form-group {
    position: relative;
    font-size: 1.4rem;
    margin: 12px 0;
    label {
        position: absolute;
        left: 0;
        top: 9px;
        display: inline-block;
        .gap-xsmall {
            display: inline-block;
            width: 7px;
        }
        .gap-small {
            display: inline-block;
            width: 28px;
        }
    }
    .check-ok {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 10px;
        top: 8px;
        background: url("../img/r.png");
        background-size: contain;
    }
    .check-no {
        display: block;
        margin-left: 24%;
        padding-left: 21px;
        padding-top: 9px;
        background: url("../img/w.png") left 11px no-repeat;
        background-size: 14px 14px;
        text-align: left;
        font-size: 1.3rem;
        color: #ff0000;
    }
    &.no-input {
        label {
            top: 0;
        }
    }
    > div {
        position: relative;
        display: block;
        width: 76%;
        margin-left: 24%;
    }
}

form input[type="text"] {
    margin-left: 24%;
    display: block;
    width: 76%;
    height: 37px;
    padding-left: 10px;
    border: 1px solid #b5b5b5;
    border-radius: 2px;
    background: #fff;
    color: #000;
    font-size: 1.4rem;
    &:focus {
        outline: none;
    }
    &::-webkit-input-placeholder {
        color: #dcdcdc !important;
    }
}

.form-userselect {
    span {
        position: relative;
        padding: 4px 8px;
        background: transparent;
        margin-right: 10px;
        font-size: 1.4rem;
        color: #b5b5b5;
        border: 1px solid #b5b5b5;
        border-radius: 2px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        input {
            position: absolute;
            width: 0;
            height: 0;
            overflow: hidden;
            z-index: -999;
            visibility: hidden;
            -webkit-appearance: none;
            -webkit-user-select: none;
            outline: none;
            &:focus {
                outline: none;
                outline-color: transparent;
                outline-style: none;
                box-shadow: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }
        }
        &.active {
            background: #ff4e00;
            border-color: #ff4e00;
            color: #fff;
        }
        &.disabled {
            background: #b5b5b5;
            border-color: #b5b5b5;
        }
    }
}

//审核中
.form-audit .form-group {
    margin: 19px 0;

    > div {
        padding-left: 16px;
        color: #b5b5b5;
    }
}
