@charset "UTF-8";

* {
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.topic-details {
    background-color: #f5f5f5;
    font-size: 1.4em;

    > header {
        background-color: #fff;
        padding: 16px 15px;
        margin-bottom: 15px;

        > figure {
            float: left;
            width: 60px;
            height: 60px;
            margin-right: 15px;
        }
        > article {
            padding-left: 75px;

            > h1 {
                color: #333333;
                font-size: 1.8rem;
            }
            > h6 {
                color: #888888;
                font-size: 1.2rem;

                > span:last-child {
                    padding-left: 12px;
                }
            }
            > p {
                color: #3e3e3e;
            }
        }
    }

    .content {
        background-color: #fff;
        padding: 15px;

        > article:last-of-type {
            margin-bottom: 0;
        }
        > article {
            border-bottom: 1px solid #ececec;
            margin-bottom: 15px;

            > header {
                padding-bottom: 6px;

                > figure {
                    float: left;
                    width: 45px;
                    height: 45px;
                    margin-right: 10px;

                    > img {
                        border-radius: 50%;
                    }
                }
                > div {
                    padding-left: 55px;

                    > h6 {
                        color: #000000;
                        font-size: 1.7rem;
                        img {
                            vertical-align: middle;
                        }
                    }
                    > time {
                        color: #888888;
                        font-size: 1.2rem;
                    }
                }

            }

            > h6 {
                color: #333333;
                font-size: 1.6rem;
                line-height: 1.5;
                padding-bottom: 6px;

                > .jinghua {
                    vertical-align: -2px;
                }
            }
            > figure {
                font-size: 1.6rem;
                color: #555555;
                > figcaption {
                    padding-bottom: 10px;
                }
            }
            > footer {
                padding: 10px 0;
                color: #888888;
                .td-location {
                    float: left;
                }

                .td-good,
                .td-message {
                    float: right;
                    padding-left: 18px;
                    > img {
                        vertical-align: -1px;
                    }
                }
            }

        }

    }

    > footer {
        padding: 0 15px 18px;
        .btn {
            background-color: #266de2;
            height: 44px;
            font-size: 1.5rem;
            border-radius: 4px;
            display: block;

            &:before {
                content: '';
                display: inline-block;
                height: 100%;
                line-height: 100%;
                vertical-align: middle;
            }
        }
    }

}
/*帮买车*/
.td-bangmaiche {
    position: relative;
    background-color: #f2f2f2;
    padding: 6px;
    > figure {
        float: left;
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }
    > article {
        position: relative;
        width: 100%;
        padding-left: 58px;
        padding-top: 3px;

        > h1 {
            color: #666666;
            font-size: 1.5rem;
        }
        > p {
            color: #b7b7b7;
        }
    }
}

.td-links{
    width: 72px;
    height: 19px;
    display: inline-block;
    background: url("../img/icon-link.png") no-repeat;
    background-size: contain;
    position: relative;
    vertical-align: sub;
}
