@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.topic-details {
  background-color: #f5f5f5;
  font-size: 1.4em;
}
.topic-details > header {
  background-color: #fff;
  padding: 16px 15px;
  margin-bottom: 15px;
}
.topic-details > header > figure {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.topic-details > header > article {
  padding-left: 75px;
}
.topic-details > header > article > h1 {
  color: #333333;
  font-size: 1.8rem;
}
.topic-details > header > article > h6 {
  color: #888888;
  font-size: 1.2rem;
}
.topic-details > header > article > h6 > span:last-child {
  padding-left: 12px;
}
.topic-details > header > article > p {
  color: #3e3e3e;
}
.topic-details .content {
  background-color: #fff;
  padding: 15px;
}
.topic-details .content > article:last-of-type {
  margin-bottom: 0;
}
.topic-details .content > article {
  border-bottom: 1px solid #ececec;
  margin-bottom: 15px;
}
.topic-details .content > article > header {
  padding-bottom: 6px;
}
.topic-details .content > article > header > figure {
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}
.topic-details .content > article > header > figure > img {
  border-radius: 50%;
}
.topic-details .content > article > header > div {
  padding-left: 55px;
}
.topic-details .content > article > header > div > h6 {
  color: #000000;
  font-size: 1.7rem;
}
.topic-details .content > article > header > div > h6 img {
  vertical-align: middle;
}
.topic-details .content > article > header > div > time {
  color: #888888;
  font-size: 1.2rem;
}
.topic-details .content > article > h6 {
  color: #333333;
  font-size: 1.6rem;
  line-height: 1.5;
  padding-bottom: 6px;
}
.topic-details .content > article > h6 > .jinghua {
  vertical-align: -2px;
}
.topic-details .content > article > figure {
  font-size: 1.6rem;
  color: #555555;
}
.topic-details .content > article > figure > figcaption {
  padding-bottom: 10px;
}
.topic-details .content > article > footer {
  padding: 10px 0;
  color: #888888;
}
.topic-details .content > article > footer .td-location {
  float: left;
}
.topic-details .content > article > footer .td-good,
.topic-details .content > article > footer .td-message {
  float: right;
  padding-left: 18px;
}
.topic-details .content > article > footer .td-good > img,
.topic-details .content > article > footer .td-message > img {
  vertical-align: -1px;
}
.topic-details > footer {
  padding: 0 15px 18px;
}
.topic-details > footer .btn {
  background-color: #266de2;
  height: 44px;
  font-size: 1.5rem;
  border-radius: 4px;
  display: block;
}
.topic-details > footer .btn:before {
  content: '';
  display: inline-block;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
}

/*帮买车*/
.td-bangmaiche {
  position: relative;
  background-color: #f2f2f2;
  padding: 6px;
}
.td-bangmaiche > figure {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.td-bangmaiche > article {
  position: relative;
  width: 100%;
  padding-left: 58px;
  padding-top: 3px;
}
.td-bangmaiche > article > h1 {
  color: #666666;
  font-size: 1.5rem;
}
.td-bangmaiche > article > p {
  color: #b7b7b7;
}

/*# sourceMappingURL=style.css.map */
